<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../Intent.Modules/Intent.ModuleBuilder.2.1.0/modelers/Module Builder.modeler.config" module="Intent.ModuleBuilder" />
  <extensions>
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.2.1.0/modelers/Modeler Builder.modeler.extension.config" module="Intent.ModuleBuilder" />
  </extensions>
  <packageReferences>
    <packageReference packageId="06ae71e9-9fa3-4dd3-b6a5-f6b599fcea40" include="Module Builder" isExternal="false">
      <path>Module Builder/Module Builder.pkg.config</path>
    </packageReference>
    <packageReference packageId="4ba53041-59f9-4446-a207-6da4fbdf86fe" include="Intent.Modeler.Services" isExternal="false">
      <path>../../metadata/Intent.Modeler.Services.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>