<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <settings>
    <packageSettings>
      <requiredPackages>
        <package>9972b2a9-b749-4bba-b5c8-824bf694c6ef</package>
      </requiredPackages>
      <creationOptions>
        <option>
          <specializationType>File Template</specializationType>
          <text>New File Template</text>
          <shortcut>ctrl + shift + i</shortcut>
          <defaultName>NewFileTemplate</defaultName>
          <icon type="FontAwesome" source="file" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option>
          <specializationType>Decorator</specializationType>
          <text>New Template Decorator</text>
          <shortcut>ctrl + shift + d</shortcut>
          <defaultName>NewDecorator</defaultName>
          <icon type="FontAwesome" source="wpforms" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option>
          <specializationType>Modeler Reference</specializationType>
          <text>New Modeler Reference</text>
          <shortcut>ctrl + shift + m</shortcut>
          <defaultName>NewModeler</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option>
          <specializationType>Type-Definition</specializationType>
          <text>New Type</text>
          <shortcut>ctrl + shift + t</shortcut>
          <defaultName>NewType</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/DataType_256x.png" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option>
          <specializationType>Template Registration</specializationType>
          <text>New Template Registration</text>
          <shortcut>ctrl + shift + e</shortcut>
          <defaultName>NewTemplateRegistration</defaultName>
          <icon type="CharacterBox" source="C|#04007a" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option>
          <specializationType>Stereotype-Definition</specializationType>
          <text>New Stereotype-Definition</text>
          <shortcut>ctrl + shift + s</shortcut>
          <defaultName>NewStereotype</defaultName>
          <icon type="UrlImagePath" source="./img/icons/common/StereotypeDef_256x.png" />
          <allowMultiple>false</allowMultiple>
        </option>
        <option>
          <specializationType>Folder</specializationType>
          <text>New Folder</text>
          <shortcut>ctrl + shift + f</shortcut>
          <defaultName>NewFolder</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/Folder_02_256x.png" />
          <allowMultiple>true</allowMultiple>
        </option>
      </creationOptions>
      <typeOrder>
        <type>File Template</type>
        <type order="1">Folder</type>
        <type>Decorator</type>
        <type>Modeler Reference</type>
        <type>Type-Definition</type>
        <type>Template Registration</type>
        <type>Stereotype-Definition</type>
      </typeOrder>
    </packageSettings>
    <elementSettings>
      <elementSetting type="Decorator">
        <icon type="FontAwesome" source="wpforms" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder />
        <creationOptions />
        <childElementSettings />
      </elementSetting>
      <elementSetting type="File Template">
        <icon type="FontAwesome" source="file" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>true</allowTypeReference>
        <typeReferenceSetting>
          <isRequired>true</isRequired>
          <targetTypes>
            <type>Template Registration</type>
          </targetTypes>
          <allowIsNavigable>true</allowIsNavigable>
          <allowIsNullable>false</allowIsNullable>
          <allowIsCollection>false</allowIsCollection>
          <isNavigableDefault>true</isNavigableDefault>
          <isNullableDefault>false</isNullableDefault>
          <isCollectionDefault>false</isCollectionDefault>
        </typeReferenceSetting>
        <typeOrder />
        <creationOptions />
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Folder">
        <icon type="UrlImagePath" source="./img/icons/uml/Folder_02_256x.png" />
        <expandedIcon type="UrlImagePath" source="./img/icons/uml/FolderOpen_02_256x.png" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder>
          <type order="0">Folder</type>
          <type>File Template</type>
          <type>Decorator</type>
          <type>Modeler Reference</type>
          <type>Type-Definition</type>
          <type>Template Registration</type>
          <type>Stereotype-Definition</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>File Template</specializationType>
            <text>New File Template</text>
            <shortcut>ctrl + shift + i</shortcut>
            <defaultName>NewFileTemplate</defaultName>
            <icon type="FontAwesome" source="file" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Decorator</specializationType>
            <text>New Template Decorator</text>
            <shortcut>ctrl + shift + d</shortcut>
            <defaultName>NewDecorator</defaultName>
            <icon type="FontAwesome" source="wpforms" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Modeler Reference</specializationType>
            <text>New Modeler Reference</text>
            <shortcut>ctrl + shift + m</shortcut>
            <defaultName>NewModeler</defaultName>
            <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Type-Definition</specializationType>
            <text>New Type</text>
            <shortcut>ctrl + shift + t</shortcut>
            <defaultName>NewType</defaultName>
            <icon type="UrlImagePath" source="./img/icons/uml/DataType_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Template Registration</specializationType>
            <text>New Template Registration</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>NewTemplateRegistration</defaultName>
            <icon type="CharacterBox" source="C|#04007a" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Stereotype-Definition</specializationType>
            <text>New Stereotype-Definition</text>
            <shortcut>ctrl + shift + s</shortcut>
            <defaultName>NewStereotype</defaultName>
            <icon type="UrlImagePath" source="./img/icons/common/StereotypeDef_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Folder</specializationType>
            <text>New Folder</text>
            <shortcut>ctrl + shift + f</shortcut>
            <defaultName>NewFolder</defaultName>
            <icon type="UrlImagePath" source="./img/icons/uml/Folder_02_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Modeler Reference">
        <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder />
        <creationOptions />
        <literalSettings>
          <literalSetting>
            <specializationType>Model Type</specializationType>
            <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png" />
            <text>New Model Type</text>
            <shortcut>ctrl + shift + m</shortcut>
            <defaultName>IElement</defaultName>
            <allowRename>true</allowRename>
            <allowDuplicateNames>false</allowDuplicateNames>
            <allowFindInView>false</allowFindInView>
          </literalSetting>
        </literalSettings>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Template Registration">
        <icon type="CharacterBox" source="C|#04007a" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>true</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder />
        <creationOptions />
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Type-Definition">
        <icon type="UrlImagePath" source="./img/icons/uml/DataType_256x.png" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder />
        <creationOptions />
        <childElementSettings />
      </elementSetting>
    </elementSettings>
    <associationSettings />
    <stereotypeSettings>
      <targetTypeOptions>
        <option specializationType="Decorator" displayText="Decorator" />
        <option specializationType="File Template" displayText="File Template" />
        <option specializationType="Folder" displayText="Folder" />
        <option specializationType="Model Type" displayText="Model Type" />
        <option specializationType="Modeler Reference" displayText="Modeler Reference" />
        <option specializationType="Template Registration" displayText="Template Registration" />
        <option specializationType="Type-Definition" displayText="Type-Definition" />
      </targetTypeOptions>
    </stereotypeSettings>
  </settings>
  <extensions>
    <extension path="..\..\..\Intent.Modules\Intent.ModuleBuilder.2.1.0\modelers\Modeler Builder.modeler.extension.config" module="Intent.ModuleBuilder" />
  </extensions>
  <packages>
    <package>Module Builder\Module Builder.pkg.config</package>
  </packages>
  <diagrams />
  <Settings>
    <packageSettings>
      <requiredPackages>
        <package>9972b2a9-b749-4bba-b5c8-824bf694c6ef</package>
      </requiredPackages>
      <creationOptions>
        <option>
          <specializationType>File Template</specializationType>
          <text>New File Template</text>
          <shortcut>ctrl + shift + i</shortcut>
          <defaultName>NewFileTemplate</defaultName>
          <icon type="FontAwesome" source="file" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option>
          <specializationType>Decorator</specializationType>
          <text>New Template Decorator</text>
          <shortcut>ctrl + shift + d</shortcut>
          <defaultName>NewDecorator</defaultName>
          <icon type="FontAwesome" source="wpforms" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option>
          <specializationType>Modeler Reference</specializationType>
          <text>New Modeler Reference</text>
          <shortcut>ctrl + shift + m</shortcut>
          <defaultName>NewModeler</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option>
          <specializationType>Type-Definition</specializationType>
          <text>New Type</text>
          <shortcut>ctrl + shift + t</shortcut>
          <defaultName>NewType</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/DataType_256x.png" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option>
          <specializationType>Template Registration</specializationType>
          <text>New Template Registration</text>
          <shortcut>ctrl + shift + e</shortcut>
          <defaultName>NewTemplateRegistration</defaultName>
          <icon type="CharacterBox" source="C|#04007a" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option>
          <specializationType>Stereotype-Definition</specializationType>
          <text>New Stereotype-Definition</text>
          <shortcut>ctrl + shift + s</shortcut>
          <defaultName>NewStereotype</defaultName>
          <icon type="UrlImagePath" source="./img/icons/common/StereotypeDef_256x.png" />
          <allowMultiple>false</allowMultiple>
        </option>
        <option>
          <specializationType>Folder</specializationType>
          <text>New Folder</text>
          <shortcut>ctrl + shift + f</shortcut>
          <defaultName>NewFolder</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/Folder_02_256x.png" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option>
          <specializationType>Modelers Folder</specializationType>
          <text>Add Modeler</text>
          <defaultName>modeler</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/Folder_03_256x.png" />
          <allowMultiple>false</allowMultiple>
        </option>
      </creationOptions>
      <typeOrder>
        <type>File Template</type>
        <type order="1">Modelers Folder</type>
        <type order="1">Folder</type>
        <type>Decorator</type>
        <type>Modeler Reference</type>
        <type>Type-Definition</type>
        <type>Template Registration</type>
        <type>Stereotype-Definition</type>
      </typeOrder>
    </packageSettings>
    <elementSettings>
      <elementSetting type="Decorator">
        <icon type="FontAwesome" source="wpforms" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder />
        <creationOptions />
        <childElementSettings />
      </elementSetting>
      <elementSetting type="File Template">
        <icon type="FontAwesome" source="file" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>true</allowTypeReference>
        <typeReferenceSetting>
          <isRequired>true</isRequired>
          <targetTypes>
            <type>Template Registration</type>
          </targetTypes>
          <allowIsNavigable>true</allowIsNavigable>
          <allowIsNullable>false</allowIsNullable>
          <allowIsCollection>false</allowIsCollection>
          <isNavigableDefault>true</isNavigableDefault>
          <isNullableDefault>false</isNullableDefault>
          <isCollectionDefault>false</isCollectionDefault>
        </typeReferenceSetting>
        <typeOrder />
        <creationOptions />
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Folder">
        <icon type="UrlImagePath" source="./img/icons/uml/Folder_02_256x.png" />
        <expandedIcon type="UrlImagePath" source="./img/icons/uml/FolderOpen_02_256x.png" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder>
          <type order="0">Folder</type>
          <type>File Template</type>
          <type>Decorator</type>
          <type>Modeler Reference</type>
          <type>Type-Definition</type>
          <type>Template Registration</type>
          <type>Stereotype-Definition</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>File Template</specializationType>
            <text>New File Template</text>
            <shortcut>ctrl + shift + i</shortcut>
            <defaultName>NewFileTemplate</defaultName>
            <icon type="FontAwesome" source="file" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Decorator</specializationType>
            <text>New Template Decorator</text>
            <shortcut>ctrl + shift + d</shortcut>
            <defaultName>NewDecorator</defaultName>
            <icon type="FontAwesome" source="wpforms" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Modeler Reference</specializationType>
            <text>New Modeler Reference</text>
            <shortcut>ctrl + shift + m</shortcut>
            <defaultName>NewModeler</defaultName>
            <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Type-Definition</specializationType>
            <text>New Type</text>
            <shortcut>ctrl + shift + t</shortcut>
            <defaultName>NewType</defaultName>
            <icon type="UrlImagePath" source="./img/icons/uml/DataType_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Template Registration</specializationType>
            <text>New Template Registration</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>NewTemplateRegistration</defaultName>
            <icon type="CharacterBox" source="C|#04007a" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Stereotype-Definition</specializationType>
            <text>New Stereotype-Definition</text>
            <shortcut>ctrl + shift + s</shortcut>
            <defaultName>NewStereotype</defaultName>
            <icon type="UrlImagePath" source="./img/icons/common/StereotypeDef_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Folder</specializationType>
            <text>New Folder</text>
            <shortcut>ctrl + shift + f</shortcut>
            <defaultName>NewFolder</defaultName>
            <icon type="UrlImagePath" source="./img/icons/uml/Folder_02_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Modeler Reference">
        <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder />
        <creationOptions />
        <literalSettings>
          <literalSetting>
            <specializationType>Model Type</specializationType>
            <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png" />
            <text>New Model Type</text>
            <shortcut>ctrl + shift + m</shortcut>
            <defaultName>IElement</defaultName>
            <allowRename>true</allowRename>
            <allowDuplicateNames>false</allowDuplicateNames>
            <allowFindInView>false</allowFindInView>
          </literalSetting>
        </literalSettings>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Template Registration">
        <icon type="CharacterBox" source="C|#04007a" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>true</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder />
        <creationOptions />
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Type-Definition">
        <icon type="UrlImagePath" source="./img/icons/uml/DataType_256x.png" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder />
        <creationOptions />
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Association Settings">
        <icon type="CharacterBox" source="A|#ff8000" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder>
          <type>Association End Settings</type>
          <type>Association End Settings</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>Association End Settings</specializationType>
            <text>Add Source End</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>Association End Settings</defaultName>
            <icon type="CharacterBox" source="E|#00f7ff" />
            <allowMultiple>false</allowMultiple>
          </option>
          <option>
            <specializationType>Association End Settings</specializationType>
            <text>Add Destination End</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>Association End Settings</defaultName>
            <icon type="CharacterBox" source="E|#00f7ff" />
            <allowMultiple>false</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings>
          <childElementSetting type="Association End Settings">
            <icon type="CharacterBox" source="E|#00f7ff" />
            <allowRename>false</allowRename>
            <allowAbstract>false</allowAbstract>
            <allowGenericTypes>false</allowGenericTypes>
            <allowMapping>false</allowMapping>
            <allowSorting>false</allowSorting>
            <allowFindInView>false</allowFindInView>
            <allowTypeReference>false</allowTypeReference>
            <typeOrder />
            <creationOptions />
            <childElementSettings />
          </childElementSetting>
        </childElementSettings>
      </elementSetting>
      <elementSetting type="Attribute Settings">
        <icon type="CharacterBox" source="A|#b0f542" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder />
        <creationOptions />
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Context Menu">
        <icon type="CharacterBox" source="C|#ad2121" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>true</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder>
          <type>Creation Option</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>Creation Option</specializationType>
            <text>Add Creation Option</text>
            <shortcut>ctrl + shift + o</shortcut>
            <defaultName>Add New...</defaultName>
            <icon type="CharacterBox" source="C|#04007a" />
            <allowMultiple>true</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings>
          <childElementSetting type="Creation Option">
            <icon type="CharacterBox" source="C|#04007a" />
            <allowRename>true</allowRename>
            <allowAbstract>false</allowAbstract>
            <allowGenericTypes>false</allowGenericTypes>
            <allowMapping>false</allowMapping>
            <allowSorting>false</allowSorting>
            <allowFindInView>true</allowFindInView>
            <allowTypeReference>true</allowTypeReference>
            <typeReferenceSetting>
              <isRequired>true</isRequired>
              <targetTypes>
                <type>Element Settings</type>
                <type>Core Type</type>
              </targetTypes>
              <allowIsNavigable>true</allowIsNavigable>
              <allowIsNullable>false</allowIsNullable>
              <allowIsCollection>false</allowIsCollection>
              <isNavigableDefault>true</isNavigableDefault>
              <isNullableDefault>false</isNullableDefault>
              <isCollectionDefault>false</isCollectionDefault>
            </typeReferenceSetting>
            <typeOrder />
            <creationOptions />
            <childElementSettings />
          </childElementSetting>
        </childElementSettings>
      </elementSetting>
      <elementSetting type="Core Type">
        <icon type="UrlImagePath" source="./img/icons/common/StereotypeDef_256x.png" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder />
        <creationOptions />
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Diagram Settings">
        <icon type="CharacterBox" source="D|#21abad" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder />
        <creationOptions />
        <childElementSettings>
          <childElementSetting type="Element Visual Settings">
            <icon type="CharacterBox" source="V|#095c00" />
            <allowRename>true</allowRename>
            <allowAbstract>false</allowAbstract>
            <allowGenericTypes>false</allowGenericTypes>
            <allowMapping>false</allowMapping>
            <allowSorting>false</allowSorting>
            <allowFindInView>true</allowFindInView>
            <allowTypeReference>false</allowTypeReference>
            <typeOrder />
            <creationOptions />
            <childElementSettings />
          </childElementSetting>
        </childElementSettings>
      </elementSetting>
      <elementSetting type="Element Settings">
        <icon type="CharacterBox" source="E|#095c00" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>true</allowSorting>
        <allowFindInView>true</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder>
          <type>Context Menu</type>
          <type>Attribute Settings</type>
          <type>Diagram Settings</type>
          <type>Literal Settings</type>
          <type>Mapping Settings</type>
          <type>Operation Settings</type>
          <type>Element Settings</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>Context Menu</specializationType>
            <text>Add Menu Options</text>
            <shortcut>ctrl + shift + c</shortcut>
            <defaultName>Creation Options</defaultName>
            <icon type="CharacterBox" source="C|#ad2121" />
            <allowMultiple>false</allowMultiple>
          </option>
          <option>
            <specializationType>Attribute Settings</specializationType>
            <text>Add Attribute Settings</text>
            <shortcut>ctrl + shift + a</shortcut>
            <defaultName>NewAttributeSetting</defaultName>
            <icon type="CharacterBox" source="A|#b0f542" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Diagram Settings</specializationType>
            <text>Add Diagram Settings</text>
            <shortcut>ctrl + shift + g</shortcut>
            <defaultName>Diagram Settings</defaultName>
            <icon type="CharacterBox" source="D|#21abad" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Literal Settings</specializationType>
            <text>Add Literal Settings</text>
            <shortcut>ctrl + shift + l</shortcut>
            <defaultName>NewLiteralSettings</defaultName>
            <icon type="CharacterBox" source="L|#ff9900" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Mapping Settings</specializationType>
            <text>Add Mapping Settings</text>
            <shortcut>ctrl + shift + m</shortcut>
            <defaultName>Mapping Settings</defaultName>
            <icon type="CharacterBox" source="M|#2b00ff" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Operation Settings</specializationType>
            <text>Add Operation Settings</text>
            <shortcut>ctrl + shift + o</shortcut>
            <defaultName>Operation Settings</defaultName>
            <icon type="CharacterBox" source="O|#006307" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Element Settings</specializationType>
            <text>Add Child Element Settings</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>NewElementSettings</defaultName>
            <icon type="CharacterBox" source="E|#095c00" />
            <allowMultiple>true</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Literal Settings">
        <icon type="CharacterBox" source="L|#ff9900" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder />
        <creationOptions />
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Mapping Settings">
        <icon type="CharacterBox" source="M|#2b00ff" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder />
        <creationOptions />
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Modeler">
        <icon type="CharacterBox" source="M|#00ffc8" />
        <displayFunction>${name} : Modeler</displayFunction>
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder>
          <type>Element Settings</type>
          <type>Association Settings</type>
          <type>Core Type</type>
          <type>Package Settings</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>Element Settings</specializationType>
            <text>New Element Type</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>NewElementSettings</defaultName>
            <icon type="CharacterBox" source="E|#095c00" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Association Settings</specializationType>
            <text>New Association Type</text>
            <shortcut>ctrl + shift + n</shortcut>
            <defaultName>NewAssociationSettings</defaultName>
            <icon type="CharacterBox" source="A|#ff8000" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Core Type</specializationType>
            <text>New Core Type</text>
            <defaultName>NewCoreType</defaultName>
            <icon type="UrlImagePath" source="./img/icons/common/StereotypeDef_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Package Settings</specializationType>
            <text>Add Package Settings</text>
            <shortcut>ctrl + shift + p</shortcut>
            <defaultName>Package Settings</defaultName>
            <icon type="CharacterBox" source="P|#7d7d7d" />
            <allowMultiple>false</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Modelers Folder">
        <icon type="UrlImagePath" source="./img/icons/uml/Folder_03_256x.png" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder>
          <type>Modeler</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>Modeler</specializationType>
            <text>New Modeler</text>
            <shortcut>ctrl + shift + m</shortcut>
            <defaultName>NewModeler</defaultName>
            <icon type="CharacterBox" source="M|#00ffc8" />
            <allowMultiple>true</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Operation Settings">
        <icon type="CharacterBox" source="O|#006307" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder />
        <creationOptions />
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Package Settings">
        <icon type="CharacterBox" source="P|#7d7d7d" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder>
          <type>Context Menu</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>Context Menu</specializationType>
            <text>Add Menu Options</text>
            <shortcut>ctrl + shift + c</shortcut>
            <defaultName>Creation Options</defaultName>
            <icon type="CharacterBox" source="C|#ad2121" />
            <allowMultiple>false</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings />
      </elementSetting>
    </elementSettings>
    <associationSettings />
    <stereotypeSettings>
      <targetTypeOptions>
        <option specializationType="Decorator" displayText="Decorator" />
        <option specializationType="File Template" displayText="File Template" />
        <option specializationType="Folder" displayText="Folder" />
        <option specializationType="Model Type" displayText="Model Type" />
        <option specializationType="Modeler Reference" displayText="Modeler Reference" />
        <option specializationType="Template Registration" displayText="Template Registration" />
        <option specializationType="Type-Definition" displayText="Type-Definition" />
        <option specializationType="Association End Settings" displayText="Association End Settings" />
        <option specializationType="Association Settings" displayText="Association Settings" />
        <option specializationType="Attribute Settings" displayText="Attribute Settings" />
        <option specializationType="Context Menu" displayText="Context Menu" />
        <option specializationType="Core Type" displayText="Core Type" />
        <option specializationType="Creation Option" displayText="Creation Option" />
        <option specializationType="Diagram Settings" displayText="Diagram Settings" />
        <option specializationType="Element Settings" displayText="Element Settings" />
        <option specializationType="Element Visual Settings" displayText="Element Visual Settings" />
        <option specializationType="Literal Settings" displayText="Literal Settings" />
        <option specializationType="Mapping Settings" displayText="Mapping Settings" />
        <option specializationType="Modeler" displayText="Modeler" />
        <option specializationType="Modelers Folder" displayText="Modelers Folder" />
        <option specializationType="Operation Settings" displayText="Operation Settings" />
        <option specializationType="Package Settings" displayText="Package Settings" />
      </targetTypeOptions>
    </stereotypeSettings>
  </Settings>
</config>