<?xml version="1.0" encoding="utf-8"?>
<packageConfigOverride>
  <packageId>Intent.ModuleBuilder.CSharp</packageId>
  <templates>
    <template id="ModuleBuilder.CSharp.Templates.CSharpTemplatePartial">
      <overrides />
    </template>
  </templates>
  <decorators />
  <factoryExtensions />
</packageConfigOverride>