<?xml version="1.0" encoding="utf-8"?>
<packageConfigOverride>
  <packageId>Intent.ModuleBuilder</packageId>
  <templates>
    <template id="Intent.ModuleBuilder.ReadMe">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="ModuleBuilder.Templates.Api.ApiStereotypeExtensionsTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Intent.ModuleBuilder.RoslynProjectItemTemplate.Partial">
      <overrides />
    </template>
    <template id="Intent.ModuleBuilder.RoslynProjectItemTemplate.T4Template">
      <overrides />
    </template>
    <template id="Intent.ModuleBuilder.RoslynProjectItemTemplate.T4Template.PreProcessed">
      <overrides />
    </template>
    <template id="Intent.ModuleBuilder.TemplateRegistration.Custom">
      <overrides />
    </template>
    <template id="Intent.ModuleBuilder.TemplateRegistration.FilePerModel">
      <overrides />
    </template>
    <template id="Intent.ModuleBuilder.TemplateRegistration.SingleFileListModel">
      <overrides />
    </template>
    <template id="Intent.ModuleBuilder.TemplateRegistration.SingleFileNoModel">
      <overrides />
    </template>
  </templates>
  <decorators />
  <factoryExtensions />
</packageConfigOverride>