<?xml version="1.0" encoding="utf-8"?>
<package id="91efdd20-4c44-4b39-9615-6232d55b6def">
  <name>Services</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference include="Intent.Application.Contracts">
      <path>..\..\..\..\..\Intent.Modules\Intent.Application.Contracts.2.0.0\metadata\Intent.Application.Contracts\Intent.Application.Contracts.pkg.config</path>
    </reference>
    <reference include="Intent.AspNet.WebApi">
      <path>..\..\..\..\..\Intent.Modules\Intent.AspNet.WebApi.2.0.0\metadata\Intent.AspNet.WebApi\Intent.AspNet.WebApi.services.pkg.config</path>
    </reference>
    <reference include="Intent.Common.Types">
      <path>..\..\..\..\..\Intent.Modules\Intent.Common.Types.2.0.0\Metadata\Intent.Common.Types\Intent.Common.Types.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>