<#@ template language="C#" inherits="T4TemplateBase" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="Intent.Modules.Common" #>
<#@ import namespace="Intent.Modules.Common.Templates" #>
  <div class="row" intent-id="<#= Model.Name #>">
    <div class="col">
<#= ControlWriter.WriteControls() #>
    </div>
  </div>
