<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../Intent.Modules/Intent.ModuleBuilder.2.1.2/modelers/Module Builder.modeler.config" module="Intent.ModuleBuilder" />
  <extensions>
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.2.1.2/modelers/Modeler Builder.modeler.extension.config" module="Intent.ModuleBuilder" />
  </extensions>
  <packageReferences>
    <packageReference packageId="b79baf96-febc-4c03-be0b-f4ffce235018" include="Intent.Common.Sql" isExternal="false">
      <path>Intent.Common.Sql/Intent.Common.Sql.pkg.config</path>
    </packageReference>
    <packageReference packageId="AF8F3810-745C-42A2-93C8-798860DC45B1" include="Intent.Metadata.RDBMS" isExternal="true">
      <path>../../../Intent.Modules.Metadata.RDBMS/MetaData/Domain/Intent.Metadata.RDBMS.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>