<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../Intent.Modules/Intent.Angular.0.4.0/modelers/Angular.modeler.config" module="Intent.Angular" />
  <extensions />
  <packageReferences>
    <packageReference packageId="1c318fe4-2dea-4286-a0bd-971205c9089c" include="Intent.Angular.Types" isExternal="false">
      <path>Intent.Angular.Types/Intent.Angular.Types.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>