<?xml version="1.0" encoding="utf-8"?>
<package id="9b0639e2-86b0-440f-9e25-b1514c9eb52b">
  <name>Angular.Services</name>
  <isExternal>false</isExternal>
  <references>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="4ba53041-59f9-4446-a207-6da4fbdf86fe" include="Intent.Modelers.Services" isExternal="true">
      <module>Intent.Modelers.Services</module>
    </reference>
  </references>
  <stereotypes />
</package>