<?xml version="1.0" encoding="utf-8"?>
<package id="9b0639e2-86b0-440f-9e25-b1514c9eb52b">
  <name>Angular.Services</name>
  <isExternal>false</isExternal>
  <references>
    <reference packageId="4ba53041-59f9-4446-a207-6da4fbdf86fe" include="Intent.Modelers.Services" isExternal="true">
      <module>Intent.Modelers.Services</module>
      <path>../../../../.intent/modules/Intent.Modelers.Services.2.2.0/packages/Intent.Modelers.Services/Intent.Modelers.Services.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>