<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="1.9.0" />
  <module moduleId="Intent.Common.Types" version="1.9.0" />
  <module moduleId="Intent.Modelers.Domain" version="1.9.0" />
  <module moduleId="Intent.NuGet.Installer" version="2.0.0" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="1.9.0" />
  <module moduleId="Intent.VisualStudio.Projects" version="2.0.0" />
  <module moduleId="ModuleTests.ModuleBuilderTests" version="1.0.0" />
</modules>