<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Application.AutoMapper" version="5.3.5" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.Application.Contracts" version="5.1.2" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.DependencyInjection" version="4.1.14" supportedClientVersions="[4.5.15-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.DependencyInjection.MediatR" version="3.6.3" supportedClientVersions="[4.0.3-pre.6, 5.0.0-a)" />
  <module moduleId="Intent.Application.DomainInteractions" version="1.1.10" supportedClientVersions="[4.5.15-a,5.0.0)" />
  <module moduleId="Intent.Application.Dtos" version="4.5.0" supportedClientVersions="[4.6.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.Dtos.AutoMapper" version="4.0.19" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.Dtos.Pagination" version="4.1.5" supportedClientVersions="[4.5.18-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.FluentValidation" version="3.11.6" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.FluentValidation.Dtos" version="3.12.5" supportedClientVersions="[4.4.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.Identity" version="3.6.2" supportedClientVersions="[4.5.18-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.MediatR" version="4.5.4" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.MediatR.Behaviours" version="4.6.1" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.MediatR.CRUD" version="7.1.3" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.MediatR.FluentValidation" version="4.9.6" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.ServiceImplementations" version="4.5.14" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Application.ServiceImplementations.Conventions.CRUD" version="5.2.3" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.AspNetCore" version="6.1.4" supportedClientVersions="[4.5.15-a, 5.0.0-a)" />
  <module moduleId="Intent.AspNetCore.Controllers" version="7.1.8" supportedClientVersions="[4.5.15-a, 5.0.0-a)" />
  <module moduleId="Intent.AspNetCore.Controllers.Dispatch.MediatR" version="6.1.2" supportedClientVersions="[4.3.9-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.AspNetCore.Controllers.Dispatch.ServiceContract" version="5.2.19" supportedClientVersions="[4.5.15-a, 5.0.0-a)" />
  <module moduleId="Intent.AspNetCore.Swashbuckle" version="5.2.2" supportedClientVersions="[4.5.15-a, 5.0.0-a)" />
  <module moduleId="Intent.AspNetCore.Versioning" version="1.1.10" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Common" version="3.10.0" supportedClientVersions="[4.6.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.CSharp" version="3.10.1-pre.2" supportedClientVersions="[4.6.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.Types" version="4.1.3" supportedClientVersions="[4.4.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.UnitOfWork" version="1.0.3" supportedClientVersions="[4.4.0-a,5.0.0)" />
  <module moduleId="Intent.Entities" version="5.2.0" supportedClientVersions="[4.6.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Entities.Repositories.Api" version="5.1.10" supportedClientVersions="[4.4.0-a, 5.0.0-a)" />
  <module moduleId="Intent.EntityFrameworkCore" version="5.0.36" supportedClientVersions="[4.5.18-a, 5.0.0-a)" />
  <module moduleId="Intent.EntityFrameworkCore.Repositories" version="4.7.18" supportedClientVersions="[4.5.15-a,5.0.0)" />
  <module moduleId="Intent.Infrastructure.DependencyInjection" version="4.1.15" supportedClientVersions="[4.5.15-a, 5.0.0-a)" />
  <module moduleId="Intent.Metadata.RDBMS" version="3.7.11" supportedClientVersions="[4.5.18-a, 5.0.0-a)" />
  <module moduleId="Intent.Metadata.Security" version="1.1.3" supportedClientVersions="[4.5.0-a,5.0.0)" />
  <module moduleId="Intent.Metadata.WebApi" version="4.7.18" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Domain" version="3.12.14-pre.0" supportedClientVersions="[4.5.18-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Domain.Repositories" version="3.6.2" supportedClientVersions="[4.5.18-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Domain.ValueObjects" version="3.6.3" supportedClientVersions="[4.4.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Services" version="4.0.10-pre.1" supportedClientVersions="[4.5.8-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Services.CQRS" version="6.0.5" supportedClientVersions="[4.5.8-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Services.DomainInteractions" version="2.4.1-pre.2" supportedClientVersions="[4.6.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Modules.Modelers.Domain.StoredProcedures" version="1.2.4" supportedClientVersions="[4.5.18-a, 5.0.0-a)" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="4.10.0" supportedClientVersions="[4.6.0-a, 5.0.0-a)" />
  <module moduleId="Intent.ValueObjects" version="4.2.7" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.9.10" supportedClientVersions="[4.5.18-a, 5.0.0-a)" />
</modules>