<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../Intent.Modules/Intent.VisualStudio.Projects.2.1.0/modelers/VisualStudio.modeler.config" module="Intent.VisualStudio.Projects" />
  <extensions />
  <packageReferences>
    <packageReference packageId="c7f8a24d-aeac-46c7-a54d-6c2580cef8f9" include="Intent.Modules.Projects.VisualStudio" isExternal="false">
      <path>Intent.Modules.Projects.VisualStudio/Intent.Modules.Projects.VisualStudio.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>