<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>Visual Studio</id>
  <name>Visual Studio</name>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences>
    <designerReference id="Visual Studio" name="Visual Studio" module="Intent.VisualStudio.Projects" type="extension" />
  </designerReferences>
  <packageReferences>
    <packageReference packageId="8d6f4aac-236d-4bc7-83f6-f9ce6a516654" include="VisualStudio.Projects.VisualStudio" isExternal="false">
      <path>VisualStudio.Projects.VisualStudio/VisualStudio.Projects.VisualStudio.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>