<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../Intent.Modules/Intent.VisualStudio.Projects.2.2.0/modelers/Visual Studio.modeler.config" module="Intent.VisualStudio.Projects" />
  <extensions />
  <packageReferences>
    <packageReference packageId="8d6f4aac-236d-4bc7-83f6-f9ce6a516654" include="VisualStudio.Projects.VisualStudio" isExternal="false">
      <path>VisualStudio.Projects.VisualStudio/VisualStudio.Projects.VisualStudio.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>