<?xml version="1.0" encoding="utf-8"?>
<package id="08bc8c10-c239-4257-9921-a2c401f0f0ac">
  <name>Module Builder</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference include="Intent.ModuleBuilder">
      <path>..\..\..\..\..\Intent.Modules\Intent.ModuleBuilder.2.1.0\metadata\Intent.ModuleBuilder\Intent.ModuleBuilder.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>