<?xml version="1.0" encoding="utf-8"?>
<packageConfigOverride>
  <packageId>Intent.Angular</packageId>
  <templates />
  <decorators />
  <factoryExtensions>
    <factoryExtension id="Intent.Angular.CLIInstaller">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </factoryExtension>
  </factoryExtensions>
</packageConfigOverride>