<?xml version="1.0" encoding="utf-8"?>
<packageConfigOverride>
  <packageId>Intent.Angular.Layout</packageId>
  <templates>
    <template id="Angular.Layout.Templates.Shared.Header.HeaderComponentTsTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Angular.Layout.Templates.Shared.Header.HeaderComponentHtmlTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Angular.Layout.Templates.Shared.Header.HeaderComponentCssTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Angular.Layout.Templates.Shared.Footer.FooterComponentTsTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Angular.Layout.Templates.Shared.Footer.FooterComponentHtmlTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Angular.Layout.Templates.Shared.Footer.FooterComponentCssTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Angular.Layout.Templates.AppComponentHtmlTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
  </templates>
  <decorators>
    <decorator id="Angular.Layout.AngularComponentHtmlDecorator.Controls">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </decorator>
  </decorators>
  <factoryExtensions />
</packageConfigOverride>