<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="1.3" />
  <module moduleId="Intent.Common.Types" version="1.3" />
  <module moduleId="Intent.AngularJs.Shell" version="1.3" />
  <module moduleId="Intent.AspNet.Owin" version="1.3" />
  <module moduleId="Intent.AspNet.Owin.FileServer" version="1.3" />
  <module moduleId="Intent.Bower" version="1.3" />
  <module moduleId="Intent.Npm.Config" version="1.3" />
  <module moduleId="Intent.NuGet.Installer" version="1.3" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="1.3" />
  <module moduleId="Intent.OutputTransformer.TagWeaving" version="1.3" />
  <module moduleId="Intent.Typescript.Config" version="1.3" />
  <module moduleId="Intent.VisualStudio.Projects" version="1.3" />
</modules>