<?xml version="1.0" encoding="utf-8"?>
<package id="06ae71e9-9fa3-4dd3-b6a5-f6b599fcea40">
  <name>Module Builder</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference packageId="4ba53041-59f9-4446-a207-6da4fbdf86fe" include="Intent.Modeler.Services">
      <path>..\..\..\..\Intent.Modules\Intent.Modelers.Services.2.1.0\metadata\Intent.Modeler.Services.pkg.config</path>
    </reference>
    <reference packageId="9972b2a9-b749-4bba-b5c8-824bf694c6ef" include="Intent.ModuleBuilder">
      <path>..\..\..\..\Intent.Modules\Intent.ModuleBuilder.2.1.0\metadata\Intent.ModuleBuilder\Intent.ModuleBuilder.pkg.config</path>
    </reference>
    <reference packageId="f2bfb0f7-d304-466f-b923-021d4016b48d" include="Intent.ModuleBuilder.CSharp">
      <path>..\..\..\..\Intent.Modules\Intent.Modules.ModuleBuilder.CSharp.2.1.0\metadata\Intent.ModuleBuilder.CSharp\Intent.ModuleBuilder.CSharp.pkg.config</path>
    </reference>
  </references>
  <stereotypes>
    <stereotype stereotypeDefinitionId="76256322-88f1-4efb-8bd6-7cc4a6c54cb9" name="Package Settings">
      <addedByDefault>true</addedByDefault>
      <properties>
        <property name="d40394fc-ed23-45a0-9c56-cbcf1c928e47" display="Include in Module" value="false" isActive="true" />
        <property name="27d378b6-9011-4ced-86b7-b976d690ceb7" display="Reference in Designer" isActive="true" />
      </properties>
    </stereotype>
  </stereotypes>
</package>