<?xml version="1.0" encoding="utf-8"?>
<packageConfigOverride>
  <packageId>Intent.ModuleBuilder</packageId>
  <templates>
    <template id="Intent.ModuleBuilder.ReadMe">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
  </templates>
  <decorators />
  <factoryExtensions />
</packageConfigOverride>