<?xml version="1.0" encoding="utf-8"?>
<assetRepositories>
  <entries>
    <entry>
      <name>Local2</name>
      <address>..\..\.intent-modules</address>
      <isBuiltIn>false</isBuiltIn>
      <order>2</order>
      <excludeFromAll>false</excludeFromAll>
    </entry>
  </entries>
</assetRepositories>