<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.3.10" />
  <module moduleId="Intent.Common.CSharp" version="3.3.16" />
  <module moduleId="Intent.Common.Types" version="3.3.4" />
  <module moduleId="Intent.Modelers.Services" version="3.3.3" metadataOnly="true" />
  <module moduleId="Intent.Modelers.Types.ServiceProxies" version="3.3.2-pre.0" metadataOnly="true" />
  <module moduleId="Intent.ModuleBuilder" version="3.3.10" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="3.3.5" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.3.12" />
</modules>