<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Azure DevOps (intentarchitect-feed)" value="https://pkgs.dev.azure.com/intentarchitect/4bb4c1b9-5b56-4972-8bac-0ad3fa64204e/_packaging/intentarchitect-feed/nuget/v3/index.json" />
  </packageSources>
</configuration>