<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../.intent/modules/Intent.VisualStudio.Projects.2.2.0/modelers/Visual Studio.modeler.config" module="Intent.VisualStudio.Projects" />
  <extensions />
  <packageReferences>
    <packageReference packageId="f917caa4-f97b-43a2-9853-5c5dfa533768" include="ModuleBuilder.Typescript.VisualStudio" isExternal="false">
      <path>ModuleBuilder.Typescript.VisualStudio/ModuleBuilder.Typescript.VisualStudio.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>