<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>0701433c-36c0-4569-b1f4-9204986b587d</id>
  <name>Visual Studio</name>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences>
    <designerReference id="55d06096-83fe-4acf-86ef-586d254e5170" name="Common Types" module="Intent.Common.Types" type="extension" />
    <designerReference id="2ef69545-61ca-42b7-89bd-4ae3d5970280" name="Visual Studio Types" module="Intent.VisualStudio.Projects" type="reference" />
  </designerReferences>
  <packageReferences>
    <packageReference packageId="f917caa4-f97b-43a2-9853-5c5dfa533768" include="ModuleBuilder.Typescript.VisualStudio" isExternal="false">
      <path>ModuleBuilder.Typescript.VisualStudio/ModuleBuilder.Typescript.VisualStudio.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>