<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.5.0" supportedClientVersions="[4.1.0, 5.0.0-a)" />
  <module moduleId="Intent.Common.CSharp" version="3.4.0" supportedClientVersions="[4.1.0, 5.0.0-a)" />
  <module moduleId="Intent.Common.Types" version="3.3.9" supportedClientVersions="[3.3.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.UI" version="1.0.0-alpha.0" supportedClientVersions="[4.1.0-beta.21,5.0.0)" />
  <module moduleId="Intent.ModuleBuilder" version="3.10.0-pre.1" supportedClientVersions="[4.3.0-beta.0, 5.0.0-a)" />
  <module moduleId="Intent.ModuleBuilder.AutoCompile" version="3.3.7" supportedClientVersions="[3.3.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="4.3.1" supportedClientVersions="[4.0.3-pre.6, 5.0.0-a)" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.6.2" supportedClientVersions="[4.1.0, 5.0.0-a)" />
</modules>