<?xml version="1.0" encoding="utf-8"?>
<settings>
    <targetDesignerId>81104ae6-2bc5-4bae-b05a-f987b0372d81</targetDesignerId>
    <createPackages>
        <package id="0855038d-1f41-4267-aba1-da8cba3e1b85" typeId="46ef9b5e-e38c-48f2-8516-ea48c310ce23" type="Service Proxies Package">
            <name>${application.name}.ServiceProxies</name>
            <stereotypes />
            <childElements />
            <associations />
            <references />
        </package>
        <package id="77302d60-f815-4a1f-bce3-bd5251aa8903" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906" type="Services Package">
            <name>${application.name}.Services</name>
            <stereotypes />
            <childElements />
            <associations />
            <references>
                <reference>
                    <packageId>0855038d-1f41-4267-aba1-da8cba3e1b85</packageId>
                    <include>${application.name}.ServiceProxies</include>
                    <isExternal>true</isExternal>
                    <relativePath>../${application.name}.ServiceProxies/${application.name}.ServiceProxies.pkg.config</relativePath>
                </reference>
            </references>
        </package>
    </createPackages>
</settings>