<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>2799aa83-e256-46fe-9589-b96f7d6b09f7</targetDesignerId>
  <createPackages>
    <package id="2801dde9-1480-48e2-96e0-ac905638a51b" typeId="46ef9b5e-e38c-48f2-8516-ea48c310ce23" type="Service Proxies Package">
      <name>${application.name}.ServiceProxies</name>
      <stereotypes />
      <childElements />
      <associations />
      <references />
    </package>
  </createPackages>
</settings>