<?xml version="1.0" encoding="utf-8"?>
<config>
  <icon type="UrlImagePath" source="./img/icons/shell/Services_256x.png" />
  <settings>
    <folderSettings>
      <creationOptions>
        <option>
          <specializationType>Service</specializationType>
          <text>New Service</text>
          <shortcut>ctrl + shift + r</shortcut>
          <defaultName>NewService</defaultName>
          <icon type="UrlImagePath" source="./img/icons/services/Service_256x.png"/>
        </option>
        <option>
          <specializationType>DTO</specializationType>
          <text>New DTO</text>
          <shortcut>ctrl + shift + d</shortcut>
          <defaultName>NewDTO</defaultName>
          <icon type="UrlImagePath" source="./img/icons/dtos/DTO_256x.png"/>
        </option>
        <option>
          <specializationType>type-definition</specializationType>
          <text>New Type</text>
          <shortcut>ctrl + shift + t</shortcut>
          <defaultName>NewType</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/DataType_256x.png"/>
        </option>
        <option>
          <specializationType>enum</specializationType>
          <text>New Enum</text>
          <shortcut>ctrl + shift + e</shortcut>
          <defaultName>NewEnum</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png"/>
        </option>
        <option>
          <specializationType>stereotype-definition</specializationType>
          <text>New Stereotype Definition</text>
          <shortcut>ctrl + shift + s</shortcut>
          <defaultName>NewStereotype</defaultName>
          <icon type="UrlImagePath" source="./img/icons/common/StereotypeDef_256x.png"/>
        </option>
        <option>
          <specializationType>folder</specializationType>
          <text>New Folder</text>
          <shortcut>ctrl + shift + f</shortcut>
          <defaultName>NewFolder</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/Folder_02_256x.png"/>
        </option>
      </creationOptions>
      <typeOrder>
        <type>folder</type>
        <type>Service</type>
        <type>DTO</type>
        <type>type-definition</type>
        <type>enum</type>
        <type>stereotype-definition</type>
      </typeOrder>
    </folderSettings>
    <classSettings>
      <classSetting>
        <specializationType>Service</specializationType>
        <icon type="UrlImagePath" source="./img/icons/services/Service_256x.png"/>
        <allowAbstract>false</allowAbstract>
        <allowMapping>false</allowMapping>
        <allowSorting>true</allowSorting>
        <allowFindInView>false</allowFindInView>
        <operationSettings>
          <operationSetting>
            <specializationType>Operation</specializationType>
            <icon type="UrlImagePath" source="./img/icons/services/Operation_256x.png"/>
            <text>Add Operation</text>
            <shortcut>ctrl + shift + o</shortcut>
            <defaultName>Operation</defaultName>
            <allowFindInView>false</allowFindInView>
            <defaultTypeId>d384db9c-a279-45e1-801e-e4e8099625f2</defaultTypeId>
            <targetTypes>
              <type>type-definition</type>
              <type>enum</type>
              <type>DTO</type>
            </targetTypes>
          </operationSetting>
        </operationSettings>
      </classSetting>
      <classSetting>
        <specializationType>DTO</specializationType>
        <icon type="UrlImagePath" source="./img/icons/dtos/DTO_256x.png"/>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>true</allowGenericTypes>
        <allowMapping>true</allowMapping>
        <allowSorting>true</allowSorting>
        <allowFindInView>false</allowFindInView>
        <mappingSettings>
          <specializationTypes>
            <type>Class</type>
          </specializationTypes>
        </mappingSettings>
        <attributeSettings>
          <attributeSetting>
            <specializationType>DTO-Field</specializationType>
            <icon type="UrlImagePath" source="./img/icons/dtos/Field_256x.png"/>
            <text>Add Field</text>
            <shortcut>ctrl + shift + f</shortcut>
            <defaultName>field</defaultName>
            <allowFindInView>false</allowFindInView>
            <defaultTypeId>d384db9c-a279-45e1-801e-e4e8099625f2</defaultTypeId>
            <targetTypes>
              <type>type-definition</type>
              <type>enum</type>
              <type>DTO</type>
            </targetTypes>
          </attributeSetting>
        </attributeSettings>
      </classSetting>
      <classSetting>
        <specializationType>Type-Definition</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/DataType_256x.png"/>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>true</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
      </classSetting>
      <classSetting>
        <specializationType>Enum</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png"/>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>true</allowSorting>
        <allowFindInView>false</allowFindInView>
        <literalSettings>
          <literalSetting>
            <specializationType>Enum-Literal</specializationType>
            <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png"/>
            <text>Add Enum Literal</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>Literal</defaultName>
            <allowFindInView>false</allowFindInView>
          </literalSetting>
        </literalSettings>
      </classSetting>
    </classSettings>
    <stereotypeSettings>
      <targetTypeOptions>
        <option specializationType="Service" displayText="Service"/>
        <option specializationType="DTO" displayText="DTO"/>
        <option specializationType="DTO-Field" displayText="DTO Field"/>
        <option specializationType="Operation" displayText="Operation"/>
        <option specializationType="Operation-Parameter" displayText="Operation Parameter"/>
        <option specializationType="Operation-Return-Type" displayText="Operation Return Type"/>
        <option specializationType="Folder" displayText="Folder"/>
        <option specializationType="Type-Definition" displayText="Type"/>
        <option specializationType="Enum" displayText="Enum"/>
        <option specializationType="Package" displayText="Package"/>
      </targetTypeOptions>
    </stereotypeSettings>
  </settings>
</config>