<?xml version="1.0" encoding="utf-8"?>
<package id="b816aff8-5d6f-413a-8362-16ffadd395e7">
  <name>Angular.Layout.Services</name>
  <isExternal>false</isExternal>
  <references>
    <reference packageId="4ba53041-59f9-4446-a207-6da4fbdf86fe" include="Intent.Modelers.Services" isExternal="true">
      <module>Intent.Modelers.Services</module>
      <path>../../../../.intent/modules/Intent.Modelers.Services.3.0.0-beta/packages/Intent.Modelers.Services/Intent.Modelers.Services.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>