<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>0701433c-36c0-4569-b1f4-9204986b587d</id>
  <name>Visual Studio</name>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences>
    <designerReference id="2ef69545-61ca-42b7-89bd-4ae3d5970280" name="Visual Studio Types" module="Intent.VisualStudio.Projects" type="reference" />
  </designerReferences>
  <packageReferences>
    <packageReference packageId="fd7613a5-5e37-4c81-aa13-cd19531650d5" include="ModuleBuilder.CSharp.VisualStudio" isExternal="false">
      <path>ModuleBuilder.CSharp.VisualStudio/ModuleBuilder.CSharp.VisualStudio.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>