<?xml version="1.0" encoding="utf-8"?>
<packageConfigOverride>
  <packageId>Intent.ModuleBuilder</packageId>
  <templates>
    <template id="Intent.ModuleBuilder.ReadMe">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="ModuleBuilder.Templates.Api.ApiAssociationModel">
      <overrides />
    </template>
    <template id="ModuleBuilder.Templates.Api.ApiAssociationModelExtensions">
      <overrides />
    </template>
    <template id="ModuleBuilder.Templates.Api.ApiElementModel">
      <overrides />
    </template>
    <template id="ModuleBuilder.Templates.Api.ApiElementModelExtensions">
      <overrides />
    </template>
    <template id="ModuleBuilder.Templates.Api.ApiMetadataProvider">
      <overrides />
    </template>
    <template id="ModuleBuilder.Templates.Api.ApiMetadataProviderExtensions">
      <overrides />
    </template>
    <template id="ModuleBuilder.Templates.metadata.FolderFileTemplate">
      <overrides />
    </template>
  </templates>
  <decorators />
  <factoryExtensions />
</packageConfigOverride>