<?xml version="1.0" encoding="utf-8"?>
<packageConfigOverride>
  <packageId>Intent.Common.Types</packageId>
  <templates />
  <decorators />
  <factoryExtensions>
    <factoryExtension id="Intent.CommonTypes.TypeResolvers">
      <overrides />
    </factoryExtension>
  </factoryExtensions>
</packageConfigOverride>