<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <settings>
    <packageSettings>
      <creationOptions>
        <option>
          <specializationType>C# Template</specializationType>
          <text>New C# Template</text>
          <shortcut>ctrl + shift + c</shortcut>
          <defaultName>NewCSharpTemplate</defaultName>
          <icon type="UrlImagePath" source="file-o" />
          <allowMultiple>true</allowMultiple>
        </option>
      </creationOptions>
      <typeOrder>
        <type>C# Template</type>
      </typeOrder>
    </packageSettings>
    <elementSettings>
      <elementSetting type="C# Template">
        <icon type="UrlImagePath" source="file-o" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <allowTypeReference>true</allowTypeReference>
        <typeReferenceSetting>
          <isRequired>true</isRequired>
          <targetTypes>
            <type>Template Registration</type>
          </targetTypes>
          <allowIsNullable>true</allowIsNullable>
          <allowIsCollection>true</allowIsCollection>
        </typeReferenceSetting>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Folder">
        <icon type="FontAwesome" source="file-o" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder>
          <type>C# Template</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>C# Template</specializationType>
            <text>New C# Template</text>
            <shortcut>ctrl + shift + c</shortcut>
            <defaultName>NewCSharpTemplate</defaultName>
            <icon type="UrlImagePath" source="file-o" />
            <allowMultiple>true</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings />
      </elementSetting>
    </elementSettings>
    <associationSettings />
    <stereotypeSettings>
      <targetTypeOptions>
        <option specializationType="C# Template" displayText="C# Template" />
        <option specializationType="Folder" displayText="Folder" />
      </targetTypeOptions>
    </stereotypeSettings>
  </settings>
  <packages />
</config>