<?xml version="1.0" encoding="utf-8"?>
<package id="1e0631db-65af-4d43-aac8-6905976318c5" type="Visual Studio Solution" typeId="07e7b690-a59d-4b72-8440-4308a121d32c">
  <applicationId>62e3977a-20a5-4637-b195-5dd11b6939bb</applicationId>
  <designerId>0701433c-36c0-4569-b1f4-9204986b587d</designerId>
  <name>Intent.Modules</name>
  <externalReference>da753973-9283-4479-8810-a3690ea7b432</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="a0636ab7-d3a1-430b-9609-11a18aa3cc7f" include="Intent.VisualStudio.Projects" isExternal="true">
      <module>Intent.VisualStudio.Projects</module>
    </reference>
    <reference packageId="4aab5ac2-71c3-4d2b-a616-0ad39a8193ba" include="Intent.VisualStudio.Projects.Frameworks" isExternal="true">
      <module>Intent.VisualStudio.Projects</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>