<?xml version="1.0" encoding="utf-8"?>
<package id="2cbd70b8-5e68-41df-962d-2051ae377db0">
  <name>Common.Sql.Domain</name>
  <isExternal>false</isExternal>
  <references>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="6572b98d-5e13-4d4b-9ffc-820057da974e" include="Intent.Modelers.Domain" isExternal="true">
      <module>Intent.Modelers.Domain</module>
    </reference>
  </references>
  <stereotypes />
</package>