<?xml version="1.0" encoding="utf-8"?>
<application id="${guid_application.id}" name="${field_application.name}" location="${field_application.relativeLocation}">
  <description>${field_application.description}</description>
  <icon>${field_icon.source}</icon>
  <iconType>${field_icon.type}</iconType>
  <configuration>
    <projects>
      <project id="${guid_project-distribution.id}" name="${field_solution.name}.${field_application.name}.Distribution.WebApi" parentFolderId="${guid_folder-distribution.id}">
        <projectType id="FFD54A85-9362-48AC-B646-C93AB9AC63D2">
          <properties>
            <property id="TargetFramework" value="4.5.2" />
          </properties>
        </projectType>
        <stereotypes />
      </project>
      <project id="${guid_project-application.id}" name="${field_solution.name}.${field_application.name}.Application" parentFolderId="${guid_folder-application.id}">
        <projectType id="52B49DB5-3EA9-4095-B1A7-DF1AC22D7DAE">
          <properties>
            <property id="TargetFramework" value="4.5.2" />
          </properties>
        </projectType>
        <stereotypes />
      </project>
      <project id="${guid_project-domain.id}" name="${field_solution.name}.${field_application.name}.Domain" parentFolderId="${guid_folder-domain.id}">
        <projectType id="52B49DB5-3EA9-4095-B1A7-DF1AC22D7DAE">
          <properties>
            <property id="TargetFramework" value="4.5.2" />
          </properties>
        </projectType>
        <stereotypes />
      </project>
      <project id="${guid_project-infrastructure-ef.id}" name="${field_solution.name}.${field_application.name}.Infrastructure.Data.EF" parentFolderId="${guid_folder-infrastructure.id}">
        <projectType id="52B49DB5-3EA9-4095-B1A7-DF1AC22D7DAE">
          <properties>
            <property id="TargetFramework" value="4.5.2" />
          </properties>
        </projectType>
        <stereotypes />
      </project>
    </projects>
    <roles>
      <role name="Distribution.WebApi" projectId="${guid_project-distribution.id}" />
      <role name="Distribution" projectId="${guid_project-distribution.id}" />
      <role name="Application.Contracts" projectId="${guid_project-application.id}" />
      <role name="Application.Services" projectId="${guid_project-application.id}" />
      <role name="Domain" projectId="${guid_project-domain.id}" />
      <role name="Repository.Interface" projectId="${guid_project-domain.id}" />
      <role name="Infrastructure.Data.EF.Migrations" projectId="${guid_project-infrastructure-ef.id}" />
      <role name="Infrastructure.Data.EF" projectId="${guid_project-infrastructure-ef.id}" />
      <role name="Repository.Implementation" projectId="${guid_project-infrastructure-ef.id}" />
    </roles>
    <folders>
      <folder id="${guid_folder-distribution.id}">
        <name>1 - Distribution</name>
        <parentFolderId>${guid_application.id}</parentFolderId>
        <isStatic>false</isStatic>
        <stereotypes />
      </folder>
      <folder id="${guid_folder-application.id}">
        <name>2 - Application</name>
        <parentFolderId>${guid_application.id}</parentFolderId>
        <isStatic>false</isStatic>
        <stereotypes />
      </folder>
      <folder id="${guid_folder-domain.id}">
        <name>3 - Domain</name>
        <parentFolderId>${guid_application.id}</parentFolderId>
        <isStatic>false</isStatic>
        <stereotypes />
      </folder>
      <folder id="${guid_folder-infrastructure.id}">
        <name>4 - Infrastructure</name>
        <parentFolderId>${guid_application.id}</parentFolderId>
        <isStatic>false</isStatic>
        <stereotypes />
      </folder>
    </folders>
    <stereotypeDefinitions />
  </configuration>
  <metadata>
    <location name="Domain" type="Uml" location="Intent.Metadata\Domain\${field_application.name}.domain.config" />
    <location name="Services" type="Services" location="Intent.Metadata\Services\${field_application.name}.services.config" />
  </metadata>
</application>