<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Entities" version="1.5.1" />
  <module moduleId="Intent.EntityFrameworkCore" version="1.5.1" />
  <module moduleId="Intent.EntityFrameworkCore.Repositories" version="1.5.1" />
  <module moduleId="Intent.AspNetCore.WebApi" version="1.5.1" />
  <module moduleId="Intent.Application.ServiceCallHandlers" version="1.5.0" />
  <module moduleId="Intent.NuGet.Installer" version="1.5.0" />
  <module moduleId="Intent.VisualStudio.Projects" version="1.5.1" />
</modules>