<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../.intent/modules/Intent.Modelers.Services.2.1.0/modelers/Services.modeler.config" module="Intent.Modelers.Services" />
  <extensions />
  <packageReferences>
    <packageReference packageId="7ed452ae-334c-48f7-b0aa-0426fc21e243" include="Services" isExternal="false">
      <path>Services/Services.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>