<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>Services</id>
  <name>Services</name>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences />
  <packageReferences>
    <packageReference packageId="7ed452ae-334c-48f7-b0aa-0426fc21e243" include="Services" isExternal="false">
      <path>Services/Services.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>