<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>81104ae6-2bc5-4bae-b05a-f987b0372d81</id>
  <name>Services</name>
  <order>1</order>
  <icon type="UrlImagePath" source="./img/icons/shell/Services_256x.png" />
  <loadStartPage>false</loadStartPage>
  <designerReferences>
    <designerReference id="55e213e3-1e43-4bb5-abe6-6ff77af23f39" name="Services Types" module="Intent.Modelers.Services" type="reference" />
  </designerReferences>
  <packageReferences>
    <packageReference packageId="7ed452ae-334c-48f7-b0aa-0426fc21e243" include="Services" isExternal="false">
      <path>Services/Services.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>