<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.8.0" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.CSharp" version="3.9.4" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.Types" version="4.1.2" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.ModuleBuilder" version="3.16.3" supportedClientVersions="[4.5.0-beta.3, 5.0.0-a)" />
  <module moduleId="Intent.ModuleBuilder.AutoCompile" version="3.4.1" supportedClientVersions="[4.2.4, 5.0.0-a)" />
  <module moduleId="Intent.ModuleBuilder.CSharp" version="3.7.4" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="4.9.11" supportedClientVersions="[4.4.0-a, 5.0.0-a)" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.8.15" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
</modules>