<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <settings>
    <packageSettings />
    <elementSettings>
      <elementSetting type="Stereotype-Definition">
        <icon type="UrlImagePath" source="./img/icons/common/StereotypeDef_256x.png" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <childElementSettings />
      </elementSetting>
    </elementSettings>
    <associationSettings />
    <stereotypeSettings>
      <targetTypeOptions>
        <option specializationType="Stereotype-Definition" displayText="Stereotype-Definition" />
      </targetTypeOptions>
    </stereotypeSettings>
  </settings>
  <packages />
</config>