<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <settings>
    <packageSettings>
      <creationOptions>
        <option>
          <specializationType>Modelers Folder</specializationType>
          <text>Add Modeler</text>
          <defaultName>modeler</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/Folder_03_256x.png" />
          <allowMultiple>false</allowMultiple>
        </option>
      </creationOptions>
      <typeOrder>
        <type order="1">Modelers Folder</type>
      </typeOrder>
    </packageSettings>
    <elementSettings>
      <elementSetting type="Association Settings">
        <icon type="CharacterBox" source="A|#ff8000" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder>
          <type>Association End Settings</type>
          <type>Association End Settings</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>Association End Settings</specializationType>
            <text>Add Source End</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>Association End Settings</defaultName>
            <icon type="CharacterBox" source="E|#00f7ff" />
            <allowMultiple>false</allowMultiple>
          </option>
          <option>
            <specializationType>Association End Settings</specializationType>
            <text>Add Destination End</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>Association End Settings</defaultName>
            <icon type="CharacterBox" source="E|#00f7ff" />
            <allowMultiple>false</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings>
          <childElementSetting type="Association End Settings">
            <icon type="CharacterBox" source="E|#00f7ff" />
            <allowRename>false</allowRename>
            <allowAbstract>false</allowAbstract>
            <allowGenericTypes>false</allowGenericTypes>
            <allowMapping>false</allowMapping>
            <allowSorting>false</allowSorting>
            <allowFindInView>false</allowFindInView>
            <allowTypeReference>false</allowTypeReference>
            <childElementSettings />
          </childElementSetting>
        </childElementSettings>
      </elementSetting>
      <elementSetting type="Attribute Settings">
        <icon type="CharacterBox" source="A|#b0f542" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Context Menu">
        <icon type="CharacterBox" source="C|#ad2121" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>true</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder>
          <type>Creation Option</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>Creation Option</specializationType>
            <text>Add Creation Option</text>
            <shortcut>ctrl + shift + o</shortcut>
            <defaultName>Add New...</defaultName>
            <icon type="CharacterBox" source="C|#04007a" />
            <allowMultiple>true</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings>
          <childElementSetting type="Creation Option">
            <icon type="CharacterBox" source="C|#04007a" />
            <allowRename>true</allowRename>
            <allowAbstract>false</allowAbstract>
            <allowGenericTypes>false</allowGenericTypes>
            <allowMapping>false</allowMapping>
            <allowSorting>false</allowSorting>
            <allowFindInView>true</allowFindInView>
            <allowTypeReference>true</allowTypeReference>
            <targetTypes>
              <type>Element Settings</type>
            </targetTypes>
            <childElementSettings />
          </childElementSetting>
        </childElementSettings>
      </elementSetting>
      <elementSetting type="Diagram Settings">
        <icon type="CharacterBox" source="D|#21abad" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <childElementSettings>
          <childElementSetting type="Element Visual Settings">
            <icon type="CharacterBox" source="V|#095c00" />
            <allowRename>true</allowRename>
            <allowAbstract>false</allowAbstract>
            <allowGenericTypes>false</allowGenericTypes>
            <allowMapping>false</allowMapping>
            <allowSorting>false</allowSorting>
            <allowFindInView>true</allowFindInView>
            <allowTypeReference>false</allowTypeReference>
            <childElementSettings />
          </childElementSetting>
        </childElementSettings>
      </elementSetting>
      <elementSetting type="Element Settings">
        <icon type="CharacterBox" source="E|#095c00" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>true</allowSorting>
        <allowFindInView>true</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder>
          <type>Context Menu</type>
          <type>Attribute Settings</type>
          <type>Diagram Settings</type>
          <type>Literal Settings</type>
          <type>Mapping Settings</type>
          <type>Operation Settings</type>
          <type>Element Settings</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>Context Menu</specializationType>
            <text>Add Menu Options</text>
            <shortcut>ctrl + shift + c</shortcut>
            <defaultName>Creation Options</defaultName>
            <icon type="CharacterBox" source="C|#ad2121" />
            <allowMultiple>false</allowMultiple>
          </option>
          <option>
            <specializationType>Attribute Settings</specializationType>
            <text>Add Attribute Settings</text>
            <shortcut>ctrl + shift + a</shortcut>
            <defaultName>NewAttributeSetting</defaultName>
            <icon type="CharacterBox" source="A|#b0f542" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Diagram Settings</specializationType>
            <text>Add Diagram Settings</text>
            <shortcut>ctrl + shift + g</shortcut>
            <defaultName>Diagram Settings</defaultName>
            <icon type="CharacterBox" source="D|#21abad" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Literal Settings</specializationType>
            <text>Add Literal Settings</text>
            <shortcut>ctrl + shift + l</shortcut>
            <defaultName>NewLiteralSettings</defaultName>
            <icon type="CharacterBox" source="L|#ff9900" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Mapping Settings</specializationType>
            <text>Add Mapping Settings</text>
            <shortcut>ctrl + shift + m</shortcut>
            <defaultName>Mapping Settings</defaultName>
            <icon type="CharacterBox" source="M|#2b00ff" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Operation Settings</specializationType>
            <text>Add Operation Settings</text>
            <shortcut>ctrl + shift + o</shortcut>
            <defaultName>Operation Settings</defaultName>
            <icon type="CharacterBox" source="O|#006307" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Element Settings</specializationType>
            <text>Add Child Element Settings</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>NewElementSettings</defaultName>
            <icon type="CharacterBox" source="E|#095c00" />
            <allowMultiple>true</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Literal Settings">
        <icon type="CharacterBox" source="L|#ff9900" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Mapping Settings">
        <icon type="CharacterBox" source="M|#2b00ff" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Modeler">
        <icon type="CharacterBox" source="M|#00ffc8" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder>
          <type>Element Settings</type>
          <type>Association Settings</type>
          <type>Package Settings</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>Element Settings</specializationType>
            <text>New Element Type</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>NewElementSettings</defaultName>
            <icon type="CharacterBox" source="E|#095c00" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Association Settings</specializationType>
            <text>New Association Type</text>
            <shortcut>ctrl + shift + n</shortcut>
            <defaultName>NewAssociationSettings</defaultName>
            <icon type="CharacterBox" source="A|#ff8000" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Package Settings</specializationType>
            <text>Add Package Settings</text>
            <shortcut>ctrl + shift + p</shortcut>
            <defaultName>Package Settings</defaultName>
            <icon type="CharacterBox" source="P|#7d7d7d" />
            <allowMultiple>false</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Modelers Folder">
        <icon type="UrlImagePath" source="./img/icons/uml/Folder_03_256x.png" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder>
          <type>Modeler</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>Modeler</specializationType>
            <text>New Modeler</text>
            <shortcut>ctrl + shift + m</shortcut>
            <defaultName>NewModeler</defaultName>
            <icon type="CharacterBox" source="M|#00ffc8" />
            <allowMultiple>true</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Operation Settings">
        <icon type="CharacterBox" source="O|#006307" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Package Settings">
        <icon type="CharacterBox" source="P|#7d7d7d" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder>
          <type>Context Menu</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>Context Menu</specializationType>
            <text>Add Menu Options</text>
            <shortcut>ctrl + shift + c</shortcut>
            <defaultName>Creation Options</defaultName>
            <icon type="CharacterBox" source="C|#ad2121" />
            <allowMultiple>false</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings />
      </elementSetting>
    </elementSettings>
    <associationSettings />
    <stereotypeSettings>
      <targetTypeOptions>
        <option specializationType="Association End Settings" displayText="Association End Settings" />
        <option specializationType="Association Settings" displayText="Association Settings" />
        <option specializationType="Attribute Settings" displayText="Attribute Settings" />
        <option specializationType="Context Menu" displayText="Context Menu" />
        <option specializationType="Creation Option" displayText="Creation Option" />
        <option specializationType="Diagram Settings" displayText="Diagram Settings" />
        <option specializationType="Element Settings" displayText="Element Settings" />
        <option specializationType="Element Visual Settings" displayText="Element Visual Settings" />
        <option specializationType="Literal Settings" displayText="Literal Settings" />
        <option specializationType="Mapping Settings" displayText="Mapping Settings" />
        <option specializationType="Modeler" displayText="Modeler" />
        <option specializationType="Modelers Folder" displayText="Modelers Folder" />
        <option specializationType="Operation Settings" displayText="Operation Settings" />
        <option specializationType="Package Settings" displayText="Package Settings" />
      </targetTypeOptions>
    </stereotypeSettings>
  </settings>
  <packages />
</config>