<?xml version="1.0" encoding="utf-8"?>
<config>
  <icon type="FontAwesome" source="question-circle" />
  <displayOrder>0</displayOrder>
  <settings>
    <packageSettings>
      <requiredPackages />
      <creationOptions>
        <option order="1" type="element">
          <specializationType>Designers Folder</specializationType>
          <text>Add Designers Folder</text>
          <shortcut>ctrl + shift + d</shortcut>
          <defaultName>designers</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/Folder_03_256x.png" />
          <allowMultiple>false</allowMultiple>
        </option>
      </creationOptions>
      <typeOrder>
        <type order="1">Designers Folder</type>
      </typeOrder>
    </packageSettings>
    <elementSettings>
      <elementSetting type="Association Settings">
        <icon type="CharacterBox" source="A|#ff8000" />
        <saveAsOwnFile>true</saveAsOwnFile>
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <allowConvertToType d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <allowSetValue>false</allowSetValue>
        <typeOrder>
          <type>Association Source End Settings</type>
          <type>Association Destination End Settings</type>
          <type>Association Visual Settings</type>
        </typeOrder>
        <creationOptions>
          <option type="element">
            <specializationType>Association Source End Settings</specializationType>
            <text>Add Source End</text>
            <shortcut>ctrl + shift + s</shortcut>
            <defaultName>[source]</defaultName>
            <icon type="CharacterBox" source="S|#00f7ff" />
            <allowMultiple>false</allowMultiple>
          </option>
          <option type="element">
            <specializationType>Association Destination End Settings</specializationType>
            <text>Add Destination End</text>
            <shortcut>ctrl + shift + d</shortcut>
            <defaultName>destination</defaultName>
            <icon type="CharacterBox" source="D|#00f7ff" />
            <allowMultiple>false</allowMultiple>
          </option>
          <option type="element">
            <specializationType>Association Visual Settings</specializationType>
            <text>Add Visual Settings</text>
            <shortcut>ctrl + shift + s</shortcut>
            <defaultName>[visual]</defaultName>
            <icon type="CharacterBox" source="V|#AB47BC" />
            <allowMultiple>false</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings>
          <childElementSetting type="Association Visual Settings">
            <icon type="CharacterBox" source="V|#AB47BC" />
            <saveAsOwnFile>false</saveAsOwnFile>
            <displayFunction>[visual]</displayFunction>
            <allowRename>false</allowRename>
            <allowAbstract>false</allowAbstract>
            <allowGenericTypes>false</allowGenericTypes>
            <allowMapping>false</allowMapping>
            <allowSorting>true</allowSorting>
            <allowFindInView>false</allowFindInView>
            <allowTypeReference>false</allowTypeReference>
            <allowConvertToType d7p1:nil="true" xmlns:d7p1="http://www.w3.org/2001/XMLSchema-instance" />
            <allowSetValue>false</allowSetValue>
            <typeOrder>
              <type>Association Source End Visual Settings</type>
              <type>Association Destination End Visual Settings</type>
            </typeOrder>
            <creationOptions>
              <option type="element">
                <specializationType>Association Source End Visual Settings</specializationType>
                <text>Add Source Visual</text>
                <defaultName>[source]</defaultName>
                <icon type="CharacterBox" source="S|#BA68C8" />
                <allowMultiple>false</allowMultiple>
              </option>
              <option type="element">
                <specializationType>Association Destination End Visual Settings</specializationType>
                <text>Add Destination Visual</text>
                <defaultName>[desintation]</defaultName>
                <icon type="CharacterBox" source="D|#BA68C8" />
                <allowMultiple>false</allowMultiple>
              </option>
            </creationOptions>
            <childElementSettings>
              <childElementSetting type="Association Source End Visual Settings">
                <icon type="CharacterBox" source="S|#BA68C8" />
                <saveAsOwnFile>false</saveAsOwnFile>
                <displayFunction>[source]</displayFunction>
                <allowRename>false</allowRename>
                <allowAbstract>false</allowAbstract>
                <allowGenericTypes>false</allowGenericTypes>
                <allowMapping>false</allowMapping>
                <allowSorting>false</allowSorting>
                <allowFindInView>false</allowFindInView>
                <allowTypeReference>false</allowTypeReference>
                <allowConvertToType d9p1:nil="true" xmlns:d9p1="http://www.w3.org/2001/XMLSchema-instance" />
                <allowSetValue>false</allowSetValue>
                <childElementSettings />
              </childElementSetting>
              <childElementSetting type="Association Destination End Visual Settings">
                <icon type="CharacterBox" source="D|#BA68C8" />
                <saveAsOwnFile>false</saveAsOwnFile>
                <displayFunction>[destination]</displayFunction>
                <allowRename>false</allowRename>
                <allowAbstract>false</allowAbstract>
                <allowGenericTypes>false</allowGenericTypes>
                <allowMapping>false</allowMapping>
                <allowSorting>false</allowSorting>
                <allowFindInView>false</allowFindInView>
                <allowTypeReference>false</allowTypeReference>
                <allowConvertToType d9p1:nil="true" xmlns:d9p1="http://www.w3.org/2001/XMLSchema-instance" />
                <allowSetValue>false</allowSetValue>
                <childElementSettings />
              </childElementSetting>
            </childElementSettings>
          </childElementSetting>
          <childElementSetting type="Association Source End Settings">
            <icon type="CharacterBox" source="S|#00f7ff" />
            <saveAsOwnFile>false</saveAsOwnFile>
            <displayFunction>[source]</displayFunction>
            <allowRename>false</allowRename>
            <allowAbstract>false</allowAbstract>
            <allowGenericTypes>false</allowGenericTypes>
            <allowMapping>false</allowMapping>
            <allowSorting>false</allowSorting>
            <allowFindInView>false</allowFindInView>
            <allowTypeReference>false</allowTypeReference>
            <allowConvertToType d7p1:nil="true" xmlns:d7p1="http://www.w3.org/2001/XMLSchema-instance" />
            <allowSetValue>false</allowSetValue>
            <childElementSettings />
          </childElementSetting>
          <childElementSetting type="Association Destination End Settings">
            <icon type="CharacterBox" source="D|#00f7ff" />
            <saveAsOwnFile>false</saveAsOwnFile>
            <displayFunction>[destination]</displayFunction>
            <allowRename>false</allowRename>
            <allowAbstract>false</allowAbstract>
            <allowGenericTypes>false</allowGenericTypes>
            <allowMapping>false</allowMapping>
            <allowSorting>false</allowSorting>
            <allowFindInView>false</allowFindInView>
            <allowTypeReference>false</allowTypeReference>
            <allowConvertToType d7p1:nil="true" xmlns:d7p1="http://www.w3.org/2001/XMLSchema-instance" />
            <allowSetValue>false</allowSetValue>
            <childElementSettings />
          </childElementSetting>
        </childElementSettings>
      </elementSetting>
      <elementSetting type="Context Menu">
        <icon type="CharacterBox" source="C|#ad2121" />
        <saveAsOwnFile>false</saveAsOwnFile>
        <displayFunction>return "[context menu]"</displayFunction>
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>true</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <allowConvertToType d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <allowSetValue>false</allowSetValue>
        <typeOrder>
          <type>Element Creation Option</type>
          <type>Association Creation Option</type>
          <type>Stereotype-Definition Creation Option</type>
        </typeOrder>
        <creationOptions>
          <option type="element">
            <specializationType>Element Creation Option</specializationType>
            <text>Add Element Creation</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>New Element</defaultName>
            <icon type="CharacterBox" source="E|#04007a" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option type="element">
            <specializationType>Association Creation Option</specializationType>
            <text>Add Association Creation</text>
            <shortcut>ctrl + shift + a</shortcut>
            <defaultName>New Association</defaultName>
            <icon type="CharacterBox" source="A|#04007a" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option type="element">
            <specializationType>Stereotype-Definition Creation Option</specializationType>
            <text>Add Stereotype-Definition Creation</text>
            <shortcut>ctrl + shift + s</shortcut>
            <defaultName>New Stereotype-Definition</defaultName>
            <icon type="CharacterBox" source="S|#04007a" />
            <allowMultiple>false</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings>
          <childElementSetting type="Stereotype-Definition Creation Option">
            <icon type="CharacterBox" source="S|#04007a" />
            <saveAsOwnFile>false</saveAsOwnFile>
            <allowRename>true</allowRename>
            <allowAbstract>false</allowAbstract>
            <allowGenericTypes>false</allowGenericTypes>
            <allowMapping>false</allowMapping>
            <allowSorting>true</allowSorting>
            <allowFindInView>true</allowFindInView>
            <allowTypeReference>true</allowTypeReference>
            <allowConvertToType d7p1:nil="true" xmlns:d7p1="http://www.w3.org/2001/XMLSchema-instance" />
            <allowSetValue>false</allowSetValue>
            <typeReferenceSetting>
              <isRequired>true</isRequired>
              <targetTypes>
                <type>Core Type</type>
              </targetTypes>
              <defaultTypeId>54eff27b-2dfc-4853-8498-1a2c4700e385</defaultTypeId>
              <allowIsNavigable>true</allowIsNavigable>
              <allowIsNullable>false</allowIsNullable>
              <allowIsCollection>false</allowIsCollection>
              <isNavigableDefault>true</isNavigableDefault>
              <isNullableDefault>false</isNullableDefault>
              <isCollectionDefault>false</isCollectionDefault>
            </typeReferenceSetting>
            <childElementSettings />
          </childElementSetting>
          <childElementSetting type="Association Creation Option">
            <icon type="CharacterBox" source="A|#04007a" />
            <saveAsOwnFile>false</saveAsOwnFile>
            <allowRename>true</allowRename>
            <allowAbstract>false</allowAbstract>
            <allowGenericTypes>false</allowGenericTypes>
            <allowMapping>false</allowMapping>
            <allowSorting>true</allowSorting>
            <allowFindInView>true</allowFindInView>
            <allowTypeReference>true</allowTypeReference>
            <allowConvertToType d7p1:nil="true" xmlns:d7p1="http://www.w3.org/2001/XMLSchema-instance" />
            <allowSetValue>false</allowSetValue>
            <typeReferenceSetting>
              <isRequired>true</isRequired>
              <targetTypes>
                <type>Association Settings</type>
              </targetTypes>
              <allowIsNavigable>true</allowIsNavigable>
              <allowIsNullable>false</allowIsNullable>
              <allowIsCollection>false</allowIsCollection>
              <isNavigableDefault>true</isNavigableDefault>
              <isNullableDefault>false</isNullableDefault>
              <isCollectionDefault>false</isCollectionDefault>
            </typeReferenceSetting>
            <childElementSettings />
          </childElementSetting>
          <childElementSetting type="Creation Option">
            <icon type="CharacterBox" source="C|#04007a" />
            <saveAsOwnFile>false</saveAsOwnFile>
            <allowRename>true</allowRename>
            <allowAbstract>false</allowAbstract>
            <allowGenericTypes>false</allowGenericTypes>
            <allowMapping>false</allowMapping>
            <allowSorting>false</allowSorting>
            <allowFindInView>true</allowFindInView>
            <allowTypeReference>true</allowTypeReference>
            <allowConvertToType d7p1:nil="true" xmlns:d7p1="http://www.w3.org/2001/XMLSchema-instance" />
            <allowSetValue>false</allowSetValue>
            <typeReferenceSetting>
              <isRequired>true</isRequired>
              <targetTypes>
                <type>Element Settings</type>
              </targetTypes>
              <allowIsNavigable>true</allowIsNavigable>
              <allowIsNullable>false</allowIsNullable>
              <allowIsCollection>false</allowIsCollection>
              <isNavigableDefault>true</isNavigableDefault>
              <isNullableDefault>false</isNullableDefault>
              <isCollectionDefault>false</isCollectionDefault>
            </typeReferenceSetting>
            <childElementSettings />
          </childElementSetting>
          <childElementSetting type="Element Creation Option">
            <icon type="CharacterBox" source="E|#04007a" />
            <saveAsOwnFile>false</saveAsOwnFile>
            <allowRename>true</allowRename>
            <allowAbstract>false</allowAbstract>
            <allowGenericTypes>false</allowGenericTypes>
            <allowMapping>false</allowMapping>
            <allowSorting>true</allowSorting>
            <allowFindInView>true</allowFindInView>
            <allowTypeReference>true</allowTypeReference>
            <allowConvertToType d7p1:nil="true" xmlns:d7p1="http://www.w3.org/2001/XMLSchema-instance" />
            <allowSetValue>false</allowSetValue>
            <typeReferenceSetting>
              <isRequired>true</isRequired>
              <targetTypes>
                <type>Element Settings</type>
              </targetTypes>
              <allowIsNavigable>true</allowIsNavigable>
              <allowIsNullable>false</allowIsNullable>
              <allowIsCollection>false</allowIsCollection>
              <isNavigableDefault>true</isNavigableDefault>
              <isNullableDefault>false</isNullableDefault>
              <isCollectionDefault>false</isCollectionDefault>
            </typeReferenceSetting>
            <childElementSettings />
          </childElementSetting>
        </childElementSettings>
      </elementSetting>
      <elementSetting type="Core Type">
        <icon type="UrlImagePath" source="./img/icons/common/StereotypeDef_256x.png" />
        <saveAsOwnFile>true</saveAsOwnFile>
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <allowConvertToType d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <allowSetValue>false</allowSetValue>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Designer">
        <icon type="CharacterBox" source="D|#00ffc8" />
        <saveAsOwnFile>true</saveAsOwnFile>
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <allowConvertToType d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <allowSetValue>false</allowSetValue>
        <typeOrder>
          <type>Element Settings</type>
          <type>Association Settings</type>
          <type>Package Settings</type>
          <type>Core Type</type>
        </typeOrder>
        <creationOptions>
          <option type="element">
            <specializationType>Element Settings</specializationType>
            <text>New Element Type</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>NewElementType</defaultName>
            <icon type="CharacterBox" source="E|#095c00" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option type="element">
            <specializationType>Association Settings</specializationType>
            <text>New Association Type</text>
            <defaultName>NewAssociationSettings</defaultName>
            <icon type="CharacterBox" source="A|#ff8000" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option type="element">
            <specializationType>Package Settings</specializationType>
            <text>Add Package Settings</text>
            <shortcut>ctrl + shift + p</shortcut>
            <defaultName>Package Settings</defaultName>
            <icon type="CharacterBox" source="P|#7d7d7d" />
            <allowMultiple>false</allowMultiple>
          </option>
          <option type="element">
            <specializationType>Core Type</specializationType>
            <text>New Core Type</text>
            <defaultName>NewCoreType</defaultName>
            <icon type="UrlImagePath" source="./img/icons/common/StereotypeDef_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Designer Extension">
        <icon type="CharacterBox" source="X|#00ffc8" />
        <saveAsOwnFile>true</saveAsOwnFile>
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <allowTypeReference>true</allowTypeReference>
        <allowConvertToType d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <allowSetValue>false</allowSetValue>
        <typeReferenceSetting>
          <isRequired>true</isRequired>
          <targetTypes>
            <type>Designer</type>
          </targetTypes>
          <allowIsNavigable>true</allowIsNavigable>
          <allowIsNullable>false</allowIsNullable>
          <allowIsCollection>false</allowIsCollection>
          <isNavigableDefault>true</isNavigableDefault>
          <isNullableDefault>false</isNullableDefault>
          <isCollectionDefault>false</isCollectionDefault>
        </typeReferenceSetting>
        <typeOrder>
          <type>Package Settings</type>
          <type>Element Settings</type>
          <type>Core Type</type>
          <type>Element Extension</type>
          <type>Association Settings</type>
        </typeOrder>
        <creationOptions>
          <option type="element">
            <specializationType>Package Settings</specializationType>
            <text>Add Package Settings</text>
            <shortcut>ctrl + shift + p</shortcut>
            <defaultName>Package Settings</defaultName>
            <icon type="CharacterBox" source="P|#7d7d7d" />
            <allowMultiple>false</allowMultiple>
          </option>
          <option type="element">
            <specializationType>Element Settings</specializationType>
            <text>New Element Type</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>NewElementType</defaultName>
            <icon type="CharacterBox" source="E|#095c00" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option type="element">
            <specializationType>Core Type</specializationType>
            <text>New Core Type</text>
            <defaultName>NewCoreType</defaultName>
            <icon type="UrlImagePath" source="./img/icons/common/StereotypeDef_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option type="element">
            <specializationType>Element Extension</specializationType>
            <text>New Element Extension</text>
            <shortcut>ctrl + shift + x</shortcut>
            <defaultName>NewElementExtension</defaultName>
            <icon type="CharacterBox" source="X|#095c00" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option type="element">
            <specializationType>Association Settings</specializationType>
            <text>New Association Type</text>
            <defaultName>NewAssociationSettings</defaultName>
            <icon type="CharacterBox" source="A|#ff8000" />
            <allowMultiple>true</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Designers Folder">
        <icon type="UrlImagePath" source="./img/icons/uml/Folder_03_256x.png" />
        <saveAsOwnFile>true</saveAsOwnFile>
        <displayFunction>return "designers"</displayFunction>
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <allowConvertToType d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <allowSetValue>false</allowSetValue>
        <typeOrder>
          <type>Designer Extension</type>
          <type>Designer</type>
        </typeOrder>
        <creationOptions>
          <option type="element">
            <specializationType>Designer Extension</specializationType>
            <text>New Designer Extension</text>
            <defaultName>NewDesignerExtension</defaultName>
            <icon type="CharacterBox" source="X|#00ffc8" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option type="element">
            <specializationType>Designer</specializationType>
            <text>New Designer</text>
            <defaultName>NewDesigner</defaultName>
            <icon type="CharacterBox" source="D|#00ffc8" />
            <allowMultiple>true</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Element Extension">
        <icon type="CharacterBox" source="X|#095c00" />
        <saveAsOwnFile>true</saveAsOwnFile>
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>true</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>true</allowTypeReference>
        <allowConvertToType d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <allowSetValue>false</allowSetValue>
        <typeReferenceSetting>
          <isRequired>true</isRequired>
          <targetTypes>
            <type>Element Settings</type>
          </targetTypes>
          <allowIsNavigable>true</allowIsNavigable>
          <allowIsNullable>false</allowIsNullable>
          <allowIsCollection>false</allowIsCollection>
          <isNavigableDefault>true</isNavigableDefault>
          <isNullableDefault>false</isNullableDefault>
          <isCollectionDefault>false</isCollectionDefault>
        </typeReferenceSetting>
        <typeOrder>
          <type>Context Menu</type>
          <type>Diagram Settings</type>
          <type>Mapping Settings</type>
        </typeOrder>
        <creationOptions>
          <option type="element">
            <specializationType>Context Menu</specializationType>
            <text>Add Menu Options</text>
            <shortcut>ctrl + shift + c</shortcut>
            <defaultName>[context menu]</defaultName>
            <icon type="CharacterBox" source="C|#ad2121" />
            <allowMultiple>false</allowMultiple>
          </option>
          <option type="element">
            <specializationType>Diagram Settings</specializationType>
            <text>Add Diagram Settings</text>
            <defaultName>NewDiagramSettings</defaultName>
            <icon type="CharacterBox" source="D|#21abad" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option type="element">
            <specializationType>Mapping Settings</specializationType>
            <text>Add Mapping Settings</text>
            <shortcut>ctrl + shift + m</shortcut>
            <defaultName>NewMappingSettings</defaultName>
            <icon type="CharacterBox" source="M|#1A237E" />
            <allowMultiple>false</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Element Settings">
        <icon type="CharacterBox" source="E|#095c00" />
        <saveAsOwnFile>true</saveAsOwnFile>
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>true</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <allowConvertToType d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <allowSetValue>false</allowSetValue>
        <typeOrder>
          <type>Context Menu</type>
          <type>Element Settings</type>
          <type>Mapping Settings</type>
          <type>Diagram Settings</type>
          <type>Element Visual Settings</type>
        </typeOrder>
        <creationOptions>
          <option type="element">
            <specializationType>Context Menu</specializationType>
            <text>Add Menu Options</text>
            <shortcut>ctrl + shift + c</shortcut>
            <defaultName>[context menu]</defaultName>
            <icon type="CharacterBox" source="C|#ad2121" />
            <allowMultiple>false</allowMultiple>
          </option>
          <option type="element">
            <specializationType>Element Settings</specializationType>
            <text>Add Element Settings</text>
            <defaultName>NewElementSettings</defaultName>
            <icon type="CharacterBox" source="E|#095c00" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option type="element">
            <specializationType>Mapping Settings</specializationType>
            <text>Add Mapping Settings</text>
            <shortcut>ctrl + shift + m</shortcut>
            <defaultName>NewMappingSettings</defaultName>
            <icon type="CharacterBox" source="M|#1A237E" />
            <allowMultiple>false</allowMultiple>
          </option>
          <option type="element">
            <specializationType>Diagram Settings</specializationType>
            <text>Add Diagram Settings</text>
            <defaultName>NewDiagramSettings</defaultName>
            <icon type="CharacterBox" source="D|#21abad" />
            <allowMultiple>false</allowMultiple>
          </option>
          <option type="element">
            <specializationType>Element Visual Settings</specializationType>
            <text>Add Visual Settings</text>
            <shortcut>ctrl + shift + v</shortcut>
            <defaultName>[visual]</defaultName>
            <icon type="CharacterBox" source="V|#FFEE58" />
            <allowMultiple>false</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings>
          <childElementSetting type="Mapping Settings">
            <icon type="CharacterBox" source="M|#1A237E" />
            <saveAsOwnFile>false</saveAsOwnFile>
            <displayFunction>[mappings]</displayFunction>
            <allowRename>false</allowRename>
            <allowAbstract>false</allowAbstract>
            <allowGenericTypes>false</allowGenericTypes>
            <allowMapping>false</allowMapping>
            <allowSorting>false</allowSorting>
            <allowFindInView>true</allowFindInView>
            <allowTypeReference>false</allowTypeReference>
            <allowConvertToType d7p1:nil="true" xmlns:d7p1="http://www.w3.org/2001/XMLSchema-instance" />
            <allowSetValue>false</allowSetValue>
            <typeOrder>
              <type>Element Mapping</type>
            </typeOrder>
            <creationOptions>
              <option type="element">
                <specializationType>Element Mapping</specializationType>
                <text>Add Mapping</text>
                <shortcut>ctrl + shift + m</shortcut>
                <defaultName>NewElementMapping</defaultName>
                <icon type="CharacterBox" source="M|#095cff" />
                <allowMultiple>true</allowMultiple>
              </option>
            </creationOptions>
            <childElementSettings>
              <childElementSetting type="Element Mapping">
                <icon type="CharacterBox" source="M|#095cff" />
                <saveAsOwnFile>false</saveAsOwnFile>
                <displayFunction>
function getTypeName(stereotypeName, propertyName) {
    var type = getStereotype(stereotypeName).properties[propertyName].getSelected();
    if (type) {
        return type.name;
    }
}
return `[mapping]: ${getTypeName("Criteria Settings", "From Type")} -&gt; ${getTypeName("Output Settings", "To Type") || "(Traverse)"}`;</displayFunction>
                <allowRename>false</allowRename>
                <allowAbstract>false</allowAbstract>
                <allowGenericTypes>false</allowGenericTypes>
                <allowMapping>false</allowMapping>
                <allowSorting>false</allowSorting>
                <allowFindInView>true</allowFindInView>
                <allowTypeReference>false</allowTypeReference>
                <allowConvertToType d9p1:nil="true" xmlns:d9p1="http://www.w3.org/2001/XMLSchema-instance" />
                <allowSetValue>false</allowSetValue>
                <typeOrder>
                  <type>Element Mapping</type>
                </typeOrder>
                <creationOptions>
                  <option type="element">
                    <specializationType>Element Mapping</specializationType>
                    <text>Add Child Mapping</text>
                    <shortcut>ctrl + shift + m</shortcut>
                    <defaultName>NewElementMapping</defaultName>
                    <icon type="CharacterBox" source="M|#095cff" />
                    <allowMultiple>true</allowMultiple>
                  </option>
                </creationOptions>
                <childElementSettings />
              </childElementSetting>
            </childElementSettings>
          </childElementSetting>
          <childElementSetting type="Element Visual Settings">
            <icon type="CharacterBox" source="V|#FFEE58" />
            <saveAsOwnFile>false</saveAsOwnFile>
            <displayFunction>return `[visual]: ${typeReference.display}`</displayFunction>
            <allowRename>false</allowRename>
            <allowAbstract>false</allowAbstract>
            <allowGenericTypes>false</allowGenericTypes>
            <allowMapping>false</allowMapping>
            <allowSorting>true</allowSorting>
            <allowFindInView>false</allowFindInView>
            <allowTypeReference>true</allowTypeReference>
            <allowConvertToType d7p1:nil="true" xmlns:d7p1="http://www.w3.org/2001/XMLSchema-instance" />
            <allowSetValue>false</allowSetValue>
            <typeReferenceSetting>
              <isRequired>true</isRequired>
              <targetTypes>
                <type>Element Settings</type>
              </targetTypes>
              <allowIsNavigable>true</allowIsNavigable>
              <allowIsNullable>false</allowIsNullable>
              <allowIsCollection>false</allowIsCollection>
              <isNavigableDefault>true</isNavigableDefault>
              <isNullableDefault>false</isNullableDefault>
              <isCollectionDefault>false</isCollectionDefault>
            </typeReferenceSetting>
            <typeOrder>
              <type>Path Draw Settings</type>
              <type>Text Draw Settings</type>
              <type>Stereotypes Visual Settings</type>
              <type>Element Visual Settings</type>
            </typeOrder>
            <creationOptions>
              <option type="element">
                <specializationType>Path Draw Settings</specializationType>
                <text>Add Path</text>
                <defaultName>NewPathDrawSettings</defaultName>
                <icon type="CharacterBox" source="D|#FBC02D" />
                <allowMultiple>true</allowMultiple>
              </option>
              <option type="element">
                <specializationType>Text Draw Settings</specializationType>
                <text>Add Text</text>
                <defaultName>[draw text]</defaultName>
                <icon type="CharacterBox" source="T|#FBC02D" />
                <allowMultiple>true</allowMultiple>
              </option>
              <option type="element">
                <specializationType>Stereotypes Visual Settings</specializationType>
                <text>Add Stereotypes Visual</text>
                <defaultName>NewStereotypesVisualSettings</defaultName>
                <icon type="CharacterBox" source="S|#FBC02D" />
                <allowMultiple>false</allowMultiple>
              </option>
              <option type="element">
                <specializationType>Element Visual Settings</specializationType>
                <text>Add Child Visual</text>
                <defaultName>NewElementVisualSettings</defaultName>
                <icon type="CharacterBox" source="V|#FFEE58" />
                <allowMultiple>true</allowMultiple>
              </option>
            </creationOptions>
            <childElementSettings>
              <childElementSetting type="Text Draw Settings">
                <icon type="CharacterBox" source="T|#FBC02D" />
                <saveAsOwnFile>false</saveAsOwnFile>
                <displayFunction>[draw text]</displayFunction>
                <allowRename>false</allowRename>
                <allowAbstract>false</allowAbstract>
                <allowGenericTypes>false</allowGenericTypes>
                <allowMapping>false</allowMapping>
                <allowSorting>false</allowSorting>
                <allowFindInView>false</allowFindInView>
                <allowTypeReference>false</allowTypeReference>
                <allowConvertToType d9p1:nil="true" xmlns:d9p1="http://www.w3.org/2001/XMLSchema-instance" />
                <allowSetValue>false</allowSetValue>
                <childElementSettings />
              </childElementSetting>
              <childElementSetting type="Stereotypes Visual Settings">
                <icon type="CharacterBox" source="S|#FBC02D" />
                <saveAsOwnFile>false</saveAsOwnFile>
                <displayFunction>[stereotypes]</displayFunction>
                <allowRename>true</allowRename>
                <allowAbstract>false</allowAbstract>
                <allowGenericTypes>false</allowGenericTypes>
                <allowMapping>false</allowMapping>
                <allowSorting>false</allowSorting>
                <allowFindInView>false</allowFindInView>
                <allowTypeReference>false</allowTypeReference>
                <allowConvertToType d9p1:nil="true" xmlns:d9p1="http://www.w3.org/2001/XMLSchema-instance" />
                <allowSetValue>false</allowSetValue>
                <childElementSettings />
              </childElementSetting>
              <childElementSetting type="Path Draw Settings">
                <icon type="CharacterBox" source="D|#FBC02D" />
                <saveAsOwnFile>false</saveAsOwnFile>
                <displayFunction>[draw path]</displayFunction>
                <allowRename>false</allowRename>
                <allowAbstract>false</allowAbstract>
                <allowGenericTypes>false</allowGenericTypes>
                <allowMapping>false</allowMapping>
                <allowSorting>false</allowSorting>
                <allowFindInView>false</allowFindInView>
                <allowTypeReference>false</allowTypeReference>
                <allowConvertToType d9p1:nil="true" xmlns:d9p1="http://www.w3.org/2001/XMLSchema-instance" />
                <allowSetValue>false</allowSetValue>
                <childElementSettings />
              </childElementSetting>
            </childElementSettings>
          </childElementSetting>
          <childElementSetting type="Diagram Settings">
            <icon type="CharacterBox" source="D|#21abad" />
            <saveAsOwnFile>true</saveAsOwnFile>
            <allowRename>false</allowRename>
            <allowAbstract>false</allowAbstract>
            <allowGenericTypes>false</allowGenericTypes>
            <allowMapping>false</allowMapping>
            <allowSorting>false</allowSorting>
            <allowFindInView>false</allowFindInView>
            <allowTypeReference>false</allowTypeReference>
            <allowConvertToType d7p1:nil="true" xmlns:d7p1="http://www.w3.org/2001/XMLSchema-instance" />
            <allowSetValue>false</allowSetValue>
            <typeOrder>
              <type>Context Menu</type>
            </typeOrder>
            <creationOptions>
              <option type="element">
                <specializationType>Context Menu</specializationType>
                <text>Add Menu Options</text>
                <shortcut>ctrl + shift + c</shortcut>
                <defaultName>[context menu]</defaultName>
                <icon type="CharacterBox" source="C|#ad2121" />
                <allowMultiple>false</allowMultiple>
              </option>
            </creationOptions>
            <childElementSettings />
          </childElementSetting>
        </childElementSettings>
      </elementSetting>
      <elementSetting type="Package Settings">
        <icon type="CharacterBox" source="P|#7d7d7d" />
        <saveAsOwnFile>false</saveAsOwnFile>
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <allowConvertToType d5p1:nil="true" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance" />
        <allowSetValue>false</allowSetValue>
        <typeOrder>
          <type>Context Menu</type>
        </typeOrder>
        <creationOptions>
          <option type="element">
            <specializationType>Context Menu</specializationType>
            <text>Add Menu Options</text>
            <shortcut>ctrl + shift + c</shortcut>
            <defaultName>[context menu]</defaultName>
            <icon type="CharacterBox" source="C|#ad2121" />
            <allowMultiple>false</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings />
      </elementSetting>
    </elementSettings>
    <associationSettings />
    <elementExtensions />
    <stereotypeSettings>
      <targetTypeOptions>
        <option specializationType="Association Creation Option" displayText="Association Creation Option" />
        <option specializationType="Association Destination End Settings" displayText="Association Destination End Settings" />
        <option specializationType="Association Settings" displayText="Association Settings" />
        <option specializationType="Association Source End Settings" displayText="Association Source End Settings" />
        <option specializationType="Association Visual Settings" displayText="Association Visual Settings" />
        <option specializationType="Context Menu" displayText="Context Menu" />
        <option specializationType="Core Type" displayText="Core Type" />
        <option specializationType="Creation Option" displayText="Creation Option" />
        <option specializationType="Designer" displayText="Designer" />
        <option specializationType="Designer Extension" displayText="Designer Extension" />
        <option specializationType="Designers Folder" displayText="Designers Folder" />
        <option specializationType="Diagram Settings" displayText="Diagram Settings" />
        <option specializationType="Element Creation Option" displayText="Element Creation Option" />
        <option specializationType="Element Extension" displayText="Element Extension" />
        <option specializationType="Element Settings" displayText="Element Settings" />
        <option specializationType="Element Visual Settings" displayText="Element Visual Settings" />
        <option specializationType="Mapping Settings" displayText="Mapping Settings" />
        <option specializationType="Package Settings" displayText="Package Settings" />
        <option specializationType="Stereotype-Definition Creation Option" displayText="Stereotype-Definition Creation Option" />
      </targetTypeOptions>
    </stereotypeSettings>
  </settings>
</config>