<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../Intent.Modules/Intent.ModuleBuilder.2.2.0/modelers/Module Builder.modeler.config" module="Intent.ModuleBuilder" />
  <extensions>
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.CSharp.2.1.0/modelers/CSharp.modeler.extension.config" module="Intent.ModuleBuilder.CSharp" />
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.2.2.0/modelers/Modeler Builder.modeler.extension.config" module="Intent.ModuleBuilder" />
  </extensions>
  <packageReferences>
    <packageReference packageId="31e51821-d63d-41c2-b7fe-83bd639642ce" include="Common.Typescript.ModuleBuilder" isExternal="false">
      <path>Common.Typescript.ModuleBuilder/Common.Typescript.ModuleBuilder.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>