<?xml version="1.0" encoding="utf-8"?>
<config>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences />
  <packageReferences>
    <packageReference packageId="31e51821-d63d-41c2-b7fe-83bd639642ce" include="Common.Typescript.ModuleBuilder" isExternal="false">
      <path>Common.Typescript.ModuleBuilder/Common.Typescript.ModuleBuilder.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>