<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.9.2" supportedClientVersions="[4.5.21-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.CSharp" version="3.9.5" supportedClientVersions="[4.5.15-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.Types" version="4.1.1" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Domain" version="3.12.7-pre.0" includeAssets="none" supportedClientVersions="[4.5.9-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Domain.Repositories" version="3.6.0" includeAssets="none" supportedClientVersions="[4.5.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Services" version="4.0.5" includeAssets="none" supportedClientVersions="[4.5.8-a, 5.0.0-a)" />
  <module moduleId="Intent.ModuleBuilder" version="3.18.2" supportedClientVersions="[4.5.18-a, 5.0.0-a)" />
  <module moduleId="Intent.ModuleBuilder.AutoCompile" version="3.4.1" supportedClientVersions="[4.2.4, 5.0.0-a)" />
  <module moduleId="Intent.ModuleBuilder.CSharp" version="3.7.4" supportedClientVersions="[4.4.0-a, 5.0.0-a)" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="4.9.12" supportedClientVersions="[4.5.15-a, 5.0.0-a)" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.9.2" supportedClientVersions="[4.5.15-a, 5.0.0-a)" />
</modules>