<?xml version="1.0" encoding="utf-8"?>
<package id="e7e99644-5fc9-4636-9be9-288cc414959a" type="Services Package" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906">
  <applicationId>2cc9a880-2f5c-44db-a2cf-5472f86a1e96</applicationId>
  <designerId>81104ae6-2bc5-4bae-b05a-f987b0372d81</designerId>
  <name>ArchTemplateResearch.Services</name>
  <externalReference>51735c16-6ff9-4f56-bcfc-834d8fbd7b63</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="207b0f2e-ebf2-417e-8eae-b62dd49cb6d3" include="ArchTemplateResearch.Domain" isExternal="true">
      <path>../../Domain/ArchTemplateResearch.Domain/ArchTemplateResearch.Domain.pkg.config</path>
    </reference>
    <reference packageId="b258d75f-f895-43b9-bb91-6500664716f9" include="Intent.Application.Contracts" isExternal="true">
      <module>Intent.Application.Contracts</module>
    </reference>
    <reference packageId="0e923f47-102b-4bd6-80c5-eb38e6d5cf82" include="Intent.Application.DomainInteractions" isExternal="true">
      <module>Intent.Application.DomainInteractions</module>
    </reference>
    <reference packageId="55856e5d-8217-4c17-8fbb-082ac75baaf5" include="Intent.Application.FluentValidation" isExternal="true">
      <module>Intent.Application.FluentValidation</module>
    </reference>
    <reference packageId="e92495db-1b26-4389-bf06-cc1b375520b1" include="Intent.Application.MediatR" isExternal="true">
      <module>Intent.Application.MediatR</module>
    </reference>
    <reference packageId="4c21efb8-ec70-4d57-8ea4-d6e9f7e6b9f6" include="Intent.Application.MediatR.CRUD" isExternal="true">
      <module>Intent.Application.MediatR.CRUD</module>
    </reference>
    <reference packageId="19ac3196-c353-44e0-ba44-2e1930175b1f" include="Intent.Application.MediatR.FluentValidation" isExternal="true">
      <module>Intent.Application.MediatR.FluentValidation</module>
    </reference>
    <reference packageId="2d61b3f1-47a2-4d3f-b8cf-308a4e3ed4d7" include="Intent.Application.ServiceImplementations" isExternal="true">
      <module>Intent.Application.ServiceImplementations</module>
    </reference>
    <reference packageId="c150a471-8907-4bc4-8be8-f63c8a782e69" include="Intent.AspNetCore.Controllers.Dispatch.MediatR" isExternal="true">
      <module>Intent.AspNetCore.Controllers.Dispatch.MediatR</module>
    </reference>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="a6fa1088-0064-43e3-a7fc-36c97b2b9285" include="Intent.Metadata.Security" isExternal="true">
      <module>Intent.Metadata.Security</module>
    </reference>
    <reference packageId="0011387a-b122-45d7-9cdb-8e21b315ab9f" include="Intent.Metadata.WebApi" isExternal="true">
      <module>Intent.Metadata.WebApi</module>
    </reference>
    <reference packageId="45fb22e9-f493-4de5-9fe0-845f783aa9d4" include="Intent.Modelers.Services.CQRS" isExternal="true">
      <module>Intent.Modelers.Services.CQRS</module>
    </reference>
    <reference packageId="bff48d8d-9246-4ad7-9dda-9703b7139b86" include="Intent.Modelers.Services.DomainInteractions" isExternal="true">
      <module>Intent.Modelers.Services.DomainInteractions</module>
    </reference>
    <reference packageId="7ed452ae-334c-48f7-b0aa-0426fc21e243" include="Intent.Modelers.Services.Pagination" isExternal="true">
      <module>Intent.Modelers.Services</module>
    </reference>
    <reference packageId="eb78a52a-4926-4c8e-b4c8-776cd2a3a91d" include="Intent.UnitTesting" isExternal="true">
      <module>Intent.UnitTesting</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>