<?xml version="1.0" encoding="utf-8"?>
<package id="9972b2a9-b749-4bba-b5c8-824bf694c6ef">
  <name>Intent.ModuleBuilder</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference include="Intent.ModuleBuilder.CSharp">
      <path>..\..\..\Intent.Modules\Intent.Modules.ModuleBuilder.CSharp.2.1.0\metadata\Intent.ModuleBuilder.CSharp\Intent.ModuleBuilder.CSharp.pkg.config</path>
    </reference>
  </references>
  <stereotypes>
    <stereotype stereotypeDefinitionId="76256322-88f1-4efb-8bd6-7cc4a6c54cb9" name="Package Settings">
      <addedByDefault>false</addedByDefault>
      <properties>
        <property name="d40394fc-ed23-45a0-9c56-cbcf1c928e47" display="Add To Module" value="true" isActive="true" />
      </properties>
    </stereotype>
  </stereotypes>
</package>