<?xml version="1.0" encoding="utf-8"?>
<package id="60552236-e866-429d-aebd-855a2058b995" type="Visual Studio Solution" typeId="07e7b690-a59d-4b72-8440-4308a121d32c">
  <name>Modelers.Domain.VisualStudio</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference packageId="a0636ab7-d3a1-430b-9609-11a18aa3cc7f" include="Intent.VisualStudio.Projects" isExternal="true">
      <module>Intent.VisualStudio.Projects</module>
    </reference>
    <reference packageId="4aab5ac2-71c3-4d2b-a616-0ad39a8193ba" include="Intent.VisualStudio.Projects.Frameworks" isExternal="true">
      <module>Intent.VisualStudio.Projects</module>
    </reference>
  </references>
  <stereotypes />
</package>