<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.5.0" supportedClientVersions="[4.1.0, 5.0.0-a)" />
  <module moduleId="Intent.Common.CSharp" version="3.4.0" supportedClientVersions="[4.1.0, 5.0.0-a)" />
  <module moduleId="Intent.Common.Types" version="3.3.9" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.ServiceProxies" version="5.0.3" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Services" version="3.5.1" supportedClientVersions="[4.1.0, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Services.CQRS" version="4.1.1" supportedClientVersions="[4.1.0, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Types.ServiceProxies" version="5.2.3" supportedClientVersions="[4.1.0, 5.0.0-a)" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="4.5.1" supportedClientVersions="[4.1.0-beta.19, 5.0.0-a)" />
</modules>