<?xml version="1.0" encoding="utf-8"?>
<package id="6c7013d3-ba6b-4135-8af0-421b662ec802" type="Angular App" typeId="fc44141e-8079-4f63-894b-f1a26736c991">
  <name>Angular.Layout.Controls</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference packageId="a3deb341-dd4e-4f7f-99f5-2f198c1c251c" include="Intent.Angular" isExternal="true">
      <module>Intent.Angular</module>
    </reference>
    <reference packageId="1c318fe4-2dea-4286-a0bd-971205c9089c" include="Intent.Angular.Types" isExternal="true">
      <module>Intent.Angular</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="9972b2a9-b749-4bba-b5c8-824bf694c6ef" include="Intent.ModuleBuilder" isExternal="true">
      <module>Intent.ModuleBuilder</module>
    </reference>
  </references>
  <stereotypes />
</package>