<?xml version="1.0" encoding="utf-8"?>
<package id="6c7013d3-ba6b-4135-8af0-421b662ec802" type="Angular App" typeId="fc44141e-8079-4f63-894b-f1a26736c991">
  <name>Angular.Layout.Controls</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference packageId="a3deb341-dd4e-4f7f-99f5-2f198c1c251c" include="Intent.Angular" isExternal="true">
      <module>Intent.Angular</module>
      <path>../../../../.intent/modules/Intent.Angular.3.0.0-beta/packages/Intent.Angular/Intent.Angular.pkg.config</path>
    </reference>
    <reference packageId="9972b2a9-b749-4bba-b5c8-824bf694c6ef" include="Intent.ModuleBuilder" isExternal="true">
      <module>Intent.ModuleBuilder</module>
      <path>../../../../.intent/modules/Intent.ModuleBuilder.3.0.0/packages/Intent.ModuleBuilder/Intent.ModuleBuilder.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>