<?xml version="1.0" encoding="utf-8"?>
<package id="6c7013d3-ba6b-4135-8af0-421b662ec802">
  <name>Angular.Layout.Angular</name>
  <isExternal>false</isExternal>
  <references>
    <reference packageId="a3deb341-dd4e-4f7f-99f5-2f198c1c251c" include="Intent.Modelers.Angular" isExternal="true">
      <module>Intent.Angular</module>
      <path>../../../../Intent.Modules/Intent.Angular.0.4.0/Intent.Metadata/Module Builder/Intent.Modelers.Angular/Intent.Modelers.Angular.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>