<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>822e4254-9ced-4dd1-ad56-500b861f7e4d</targetDesignerId>
  <createPackages>
    <package id="bec7b93f-df73-4b64-a2df-76d057608582" typeId="df96d537-7bb5-4c49-811f-973fa6e95beb" type="Eventing Package">
      <name>Eventing.${application.name}</name>
      <stereotypes />
      <childElements>
        <element id="259354b5-82fe-4c0a-bb30-1fda60b4d935" typeId="f40a4942-5d2d-4174-8ec1-af66cbd464db" type="Application">
          <name>${application.name}</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements />
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>${application.name}</display>
          <diagram>
            <targetPackageId>7cfffe8e-be9a-411e-bb66-853b2b96b908</targetPackageId>
          </diagram>
        </element>
      </childElements>
      <associations />
      <references>
        <reference>
          <packageId>7cfffe8e-be9a-411e-bb66-853b2b96b908</packageId>
          <include>Eventing.${application.name}.Messages</include>
          <isExternal>true</isExternal>
          <relativePath>../Eventing.${application.name}.Messages/Eventing.${application.name}.Messages.pkg.config</relativePath>
        </reference>
      </references>
    </package>
    <package id="7cfffe8e-be9a-411e-bb66-853b2b96b908" typeId="df96d537-7bb5-4c49-811f-973fa6e95beb" type="Eventing Package">
      <name>Eventing.${application.name}.Messages</name>
      <stereotypes />
      <childElements />
      <associations />
      <references />
    </package>
  </createPackages>
</settings>