<?xml version="1.0" encoding="utf-8"?>
<packageConfigOverride>
  <packageId>Intent.VisualStudio.Projects</packageId>
  <templates>
    <template id="Intent.VisualStudio.Projects.VisualStudio2015Solution">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Intent.VisualStudio.Projects.WebConfig">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Intent.VisualStudio.Projects.WebApiServiceCSProjectFile">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Intent.VisualStudio.Projects.CoreWeb.LaunchSettings">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Intent.VisualStudio.Projects.CoreWeb.CSProject">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Intent.VisualStudio.Projects.CoreWeb.AppSettings">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Intent.VisualStudio.Projects.CoreLibrary.CSProject">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Intent.VisualStudio.Projects.ConsoleApp.Program">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Intent.VisualStudio.Projects.AssemblyInfo">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
  </templates>
  <decorators>
    <decorator id="AssemblyBindingRedirectWebConfig">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </decorator>
  </decorators>
  <factoryExtensions>
    <factoryExtension id="Intent.VSProjects.DependencyResolver">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </factoryExtension>
    <factoryExtension id="Intent.VisualStudio.NuGet.Installer">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </factoryExtension>
    <factoryExtension id="Intent.ApplicationSyncProcessor">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </factoryExtension>
  </factoryExtensions>
</packageConfigOverride>