<?xml version="1.0" encoding="utf-8"?>
<packageConfigOverride>
  <packageId>Intent.Angular</packageId>
  <templates>
    <template id="Angular.Templates.App.AppModuleTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Angular.Templates.App.AppRoutingModuleTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Angular.Templates.Component.AngularComponentCssTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Angular.Templates.Component.AngularComponentHtmlTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Angular.Templates.Component.AngularComponentTsTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Angular.Templates.Core.ApiServiceTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Angular.Templates.Core.CoreModuleTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Angular.Templates.Environment.EnvironmentTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Angular.Templates.Intent.IntentDecoratorsTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Angular.Templates.Model.ModelTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Angular.Templates.Module.AngularModuleTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Angular.Templates.Module.AngularRoutingModuleTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Angular.Templates.Proxies.AngularDTOTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Angular.Templates.Proxies.AngularServiceProxyTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Angular.Templates.Shared.IntentDecoratorsTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Angular.Templates.Model.FormGroupTemplate">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
  </templates>
  <decorators>
    <decorator id="Angular.AngularComponentHtmlTemplate.PagedSearchDecorator">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </decorator>
  </decorators>
  <factoryExtensions>
    <factoryExtension id="Intent.Angular.CLIInstaller">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </factoryExtension>
  </factoryExtensions>
</packageConfigOverride>