<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../.intent/modules/Intent.Modelers.Domain.2.1.0/modelers/Domain.modeler.config" module="Intent.Modelers.Domain" />
  <extensions />
  <packageReferences>
    <packageReference packageId="bb18d2a1-e6b1-4002-98fa-14f74ec78512" include="Modelers.Domain.Domain" isExternal="false">
      <path>Modelers.Domain.Domain/Modelers.Domain.Domain.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>