<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>Domain</id>
  <name>Domain</name>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences />
  <packageReferences>
    <packageReference packageId="bb18d2a1-e6b1-4002-98fa-14f74ec78512" include="Modelers.Domain.Domain" isExternal="false">
      <path>Modelers.Domain.Domain/Modelers.Domain.Domain.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>