<?xml version="1.0" encoding="utf-8"?>
<package id="a968b249-6d7a-487a-95b4-0b68dbd933be" type="Visual Studio Solution" typeId="07e7b690-a59d-4b72-8440-4308a121d32c">
  <name>Intent.Modules</name>
  <isExternal>false</isExternal>
  <references>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="a0636ab7-d3a1-430b-9609-11a18aa3cc7f" include="Intent.VisualStudio.Projects" isExternal="true">
      <module>Intent.VisualStudio.Projects</module>
    </reference>
    <reference packageId="4aab5ac2-71c3-4d2b-a616-0ad39a8193ba" include="Intent.VisualStudio.Projects.Frameworks" isExternal="true">
      <module>Intent.VisualStudio.Projects</module>
    </reference>
  </references>
  <stereotypes />
</package>