<?xml version="1.0" encoding="utf-8"?>
<package id="f2bfb0f7-d304-466f-b923-021d4016b48d">
  <name>Intent.ModuleBuilder.CSharp</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference packageId="9972b2a9-b749-4bba-b5c8-824bf694c6ef" include="Intent.ModuleBuilder">
      <path>..\..\..\Intent.Modules\Intent.ModuleBuilder.2.1.0\metadata\Intent.ModuleBuilder\Intent.ModuleBuilder.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>