<?xml version="1.0" encoding="utf-8"?>
<package id="5ac7c1ad-1f54-46e0-8216-37d8f0353db8">
  <name>Module Builder</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference include="Intent.ModuleBuilder">
      <path>..\..\..\..\..\Intent.Modules\Intent.ModuleBuilder.2.1.0\metadata\Intent.ModuleBuilder\Intent.ModuleBuilder.pkg.config</path>
    </reference>
  </references>
  <stereotypes>
    <stereotype stereotypeDefinitionId="76256322-88f1-4efb-8bd6-7cc4a6c54cb9">
      <addedByDefault>true</addedByDefault>
      <properties>
        <property name="d40394fc-ed23-45a0-9c56-cbcf1c928e47" value="false" isActive="true" />
      </properties>
    </stereotype>
  </stereotypes>
</package>