<?xml version="1.0" encoding="utf-8"?>
<package id="7b85a7b0-591c-47a5-be6b-65e330cb26fe">
  <name>Module Builder</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference include="Intent.ModuleBuilder">
      <path>..\..\..\..\..\Intent.Modules\Intent.ModuleBuilder.2.0.0\metadata\Intent.ModuleBuilder\Intent.ModuleBuilder.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>