<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../Intent.Modules/Intent.ModuleBuilder.2.1.2/modelers/Module Builder.modeler.config" module="Intent.ModuleBuilder" />
  <extensions>
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.2.1.2/modelers/Modeler Builder.modeler.extension.config" module="Intent.ModuleBuilder" />
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.CSharp.2.1.1/modelers/CSharp.modeler.extension.config" module="Intent.ModuleBuilder.CSharp" />
  </extensions>
  <packageReferences>
    <packageReference packageId="5ac7c1ad-1f54-46e0-8216-37d8f0353db8" include="Module Builder" isExternal="false">
      <path>Module Builder/Module Builder.pkg.config</path>
    </packageReference>
    <packageReference packageId="9972b2a9-b749-4bba-b5c8-824bf694c6ef" include="Intent.ModuleBuilder" isExternal="false">
      <path>../../metadata/Intent.ModuleBuilder/Intent.ModuleBuilder.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>