<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../.intent/modules/Intent.VisualStudio.Projects.2.2.0/modelers/Visual Studio.modeler.config" module="Intent.VisualStudio.Projects" />
  <extensions />
  <packageReferences>
    <packageReference packageId="c023bb5c-7fb8-4e2d-9fd5-ae504020e5bb" include="Common.Typescript.VisualStudio" isExternal="false">
      <path>Common.Typescript.VisualStudio/Common.Typescript.VisualStudio.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>