<?xml version="1.0" encoding="utf-8"?>
<config>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences />
  <packageReferences>
    <packageReference packageId="c023bb5c-7fb8-4e2d-9fd5-ae504020e5bb" include="Common.Typescript.VisualStudio" isExternal="false">
      <path>Common.Typescript.VisualStudio/Common.Typescript.VisualStudio.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>