<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>Visual Studio</id>
  <name>Visual Studio</name>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences>
    <designerReference id="Visual Studio" name="Visual Studio" module="Intent.VisualStudio.Projects" />
  </designerReferences>
  <packageReferences>
    <packageReference packageId="82102275-5703-4063-af56-14ae960258bb" include="ModuleBuilder.VisualStudio" isExternal="false">
      <path>ModuleBuilder.VisualStudio/ModuleBuilder.VisualStudio.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>