<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../.intent/modules/Intent.VisualStudio.Projects.2.2.0/modelers/Visual Studio.modeler.config" module="Intent.VisualStudio.Projects" />
  <extensions />
  <packageReferences>
    <packageReference packageId="82102275-5703-4063-af56-14ae960258bb" include="ModuleBuilder.VisualStudio" isExternal="false">
      <path>ModuleBuilder.VisualStudio/ModuleBuilder.VisualStudio.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>