<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>27916ede-58c6-4356-87b1-0b0628d1e2a7</targetDesignerId>
  <createPackages>
    <package id="73f63b5f-7a01-4a51-979f-18d2e2f2dee3" typeId="fbca4a65-b376-482c-a23d-32da9908cac9" type="Root Location Package">
      <name>${application.name}</name>
      <stereotypes />
      <childElements>
        <element id="b10b971e-3f41-4aa1-8c9b-3083542526eb" typeId="8663c9f9-2852-45e7-aaa1-0883a2e6f1da" type="Role">
          <name>Default</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements />
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>Default</display>
        </element>
      </childElements>
      <associations />
      <references />
    </package>
  </createPackages>
</settings>