<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designerReferences>
	<designerReference path="../../../.intent/modules/Intent.ModuleBuilder.2.2.0/modelers/Module Builder.modeler.config" module="Intent.ModuleBuilder" />
    <designerReference path="../../../.intent/modules/Intent.ModuleBuilder.2.2.0/modelers/Modeler Builder.modeler.extension.config" module="Intent.ModuleBuilder" />
    <designerReference path="../../../.intent/modules/Intent.ModuleBuilder.CSharp.2.2.0/modelers/CSharp.modeler.extension.config" module="Intent.ModuleBuilder.CSharp" />
  </designerReferences>
  <packageReferences>
    <packageReference packageId="a0636ab7-d3a1-430b-9609-11a18aa3cc7f" include="Intent.VisualStudio.Projects" isExternal="false">
      <path>Intent.VisualStudio.Projects/Intent.VisualStudio.Projects.pkg.config</path>
    </packageReference>
    <packageReference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <path>../../../Intent.Modules.Common.Types/Intent.Metadata/Module Builder/Intent.Common.Types/Intent.Common.Types.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>