<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../Intent.Modules/Intent.ModuleBuilder.2.1.0/modelers/Module Builder.modeler.config" module="Intent.ModuleBuilder" />
  <extensions>
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.CSharp.2.1.0/modelers/CSharp.modeler.extension.config" module="Intent.ModuleBuilder.CSharp" />
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.2.1.0/modelers/Modeler Builder.modeler.extension.config" module="Intent.ModuleBuilder" />
  </extensions>
  <packageReferences>
    <packageReference packageId="a0636ab7-d3a1-430b-9609-11a18aa3cc7f" include="VisualStudio.Projects.ModuleBuilder" isExternal="false">
      <path>VisualStudio.Projects.ModuleBuilder/VisualStudio.Projects.ModuleBuilder.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>