<?xml version="1.0" encoding="utf-8"?>
<packageConfigOverride>
  <packageId>Intent.VisualStudio.Projects</packageId>
  <templates />
  <decorators />
  <factoryExtensions>
    <factoryExtension id="Intent.VisualStudio.NuGet.Installer">
      <overrides />
    </factoryExtension>
  </factoryExtensions>
</packageConfigOverride>