<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>Domain</id>
  <name>Domain</name>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences />
  <packageReferences>
    <packageReference packageId="2cbd70b8-5e68-41df-962d-2051ae377db0" include="Common.Sql.Domain" isExternal="false">
      <path>Common.Sql.Domain/Common.Sql.Domain.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>