<?xml version="1.0" encoding="utf-8"?>
<config>
  <packages>
    <package>_Packages\Domain\Domain.pkg.config</package>
    <package>_Packages\Intent.Common.Types\Intent.Common.Types.pkg.config</package>
  </packages>
  <diagrams>
    <diagram>_Diagrams\Default View\Default View.diagram.config</diagram>
  </diagrams>
</config>