<?xml version="1.0" encoding="utf-8"?>
<package id="207b0f2e-ebf2-417e-8eae-b62dd49cb6d3" type="Domain Package" typeId="1a824508-4623-45d9-accc-f572091ade5a">
  <applicationId>2cc9a880-2f5c-44db-a2cf-5472f86a1e96</applicationId>
  <designerId>6ab29b31-27af-4f56-a67c-986d82097d63</designerId>
  <name>ArchTemplateResearch.Domain</name>
  <externalReference>b78c441a-6dab-482c-bc53-0870f8f80477</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="dcc00891-d339-4864-a22c-24b3ae9fbc67" include="Intent.Entities" isExternal="true">
      <module>Intent.Entities</module>
    </reference>
    <reference packageId="a059d995-a36f-4647-9c98-18ce340297eb" include="Intent.Entities.Repositories.Api" isExternal="true">
      <module>Intent.Entities.Repositories.Api</module>
    </reference>
    <reference packageId="a9d2a398-04e4-4300-9fbb-768568c65f9e" include="Intent.EntityFrameworkCore" isExternal="true">
      <module>Intent.EntityFrameworkCore</module>
    </reference>
    <reference packageId="5869084c-2a08-4e40-a5c9-ff26220470c8" include="Intent.EntityFrameworkCore.Repositories" isExternal="true">
      <module>Intent.EntityFrameworkCore.Repositories</module>
    </reference>
    <reference packageId="f852e12f-1a19-4c8d-8192-8393c6ce59da" include="Intent.Metadata.Domain.Constraints" isExternal="true">
      <module>Intent.Metadata.Domain.Constraints</module>
    </reference>
    <reference packageId="AF8F3810-745C-42A2-93C8-798860DC45B1" include="Intent.Metadata.RDBMS" isExternal="true">
      <module>Intent.Metadata.RDBMS</module>
    </reference>
    <reference packageId="a6fa1088-0064-43e3-a7fc-36c97b2b9285" include="Intent.Metadata.Security" isExternal="true">
      <module>Intent.Metadata.Security</module>
    </reference>
    <reference packageId="6572b98d-5e13-4d4b-9ffc-820057da974e" include="Intent.Modelers.Domain" isExternal="true">
      <module>Intent.Modelers.Domain</module>
    </reference>
    <reference packageId="94454582-ba60-4ab4-ae61-6f53b914b76d" include="Intent.Modelers.Domain.ValueObjects" isExternal="true">
      <module>Intent.Modelers.Domain.ValueObjects</module>
    </reference>
    <reference packageId="e3eb7873-c66f-4636-a7c8-8cb1f7b34d71" include="Intent.Modules.Modelers.Domain.StoredProcedures" isExternal="true">
      <module>Intent.Modules.Modelers.Domain.StoredProcedures</module>
    </reference>
    <reference packageId="eb78a52a-4926-4c8e-b4c8-776cd2a3a91d" include="Intent.UnitTesting" isExternal="true">
      <module>Intent.UnitTesting</module>
    </reference>
  </references>
  <stereotypes>
    <stereotype stereotypeDefinitionId="51a7bcf5-0eb9-4c9a-855e-3ead1048729c" name="Relational Database">
      <addedByDefault>false</addedByDefault>
      <definitionPackageName>ArchTemplateResearch.Domain</definitionPackageName>
      <definitionPackageId>207b0f2e-ebf2-417e-8eae-b62dd49cb6d3</definitionPackageId>
      <properties />
    </stereotype>
  </stereotypes>
  <metadata>
    <entry key="database-paradigm-selected" value="true" />
  </metadata>
</package>