<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Entities" version="1.5.1" />
  <module moduleId="Intent.EntityFramework" version="1.5.1" />
  <module moduleId="Intent.EntityFramework.Repositories" version="1.5.1" />
  <module moduleId="Intent.AspNet.WebApi" version="1.5.1" />
  <module moduleId="Intent.Application.ServiceCallHandlers" version="1.5" />
  <module moduleId="Intent.NuGet.Installer" version="1.5.0" />
  <module moduleId="Intent.VisualStudio.Projects" version="1.5.1" />
</modules>