<?xml version="1.0" encoding="utf-8"?>
<package id="730e1275-0c32-44f7-991a-9619d07ca68d">
  <name>Common.CSharp.ModuleBuilder</name>
  <isExternal>false</isExternal>
  <references>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
      <path>../../../../.intent/modules/Intent.Common.Types.2.2.0/packages/Intent.Common.Types/Intent.Common.Types.pkg.config</path>
    </reference>
    <reference packageId="9972b2a9-b749-4bba-b5c8-824bf694c6ef" include="Intent.ModuleBuilder" isExternal="true">
      <module>Intent.ModuleBuilder</module>
      <path>../../../../.intent/modules/Intent.ModuleBuilder.2.2.0/packages/Intent.ModuleBuilder/Intent.ModuleBuilder.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>