<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../Intent.Modules/Intent.ModuleBuilder.2.1.4/modelers/Module Builder.modeler.config" module="Intent.ModuleBuilder" />
  <extensions>
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.Typescript.2.1.2/modelers/Typescript.modeler.extension.config" module="Intent.ModuleBuilder.Typescript" />
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.2.1.4/modelers/Modeler Builder.modeler.extension.config" module="Intent.ModuleBuilder" />
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.Html.2.1.0/modelers/Html Types.modeler.extension.config" module="Intent.ModuleBuilder.Html" />
  </extensions>
  <packageReferences>
    <packageReference packageId="411a47ef-bf13-45dd-b800-7abf7eb9ac92" include="Angular.Layout.ModuleBuilder" isExternal="false">
      <path>Angular.Layout.ModuleBuilder/Angular.Layout.ModuleBuilder.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>