<?xml version="1.0" encoding="utf-8"?>
<packageConfigOverride>
  <packageId>Intent.ModuleBuilder</packageId>
  <templates />
  <decorators />
  <factoryExtensions>
    <factoryExtension id="Intent.ModuleBuilder.AutoCompile">
      <overrides>
        <add key="IsEnabled" value="True" />
      </overrides>
    </factoryExtension>
  </factoryExtensions>
</packageConfigOverride>