<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>9ed374bb-a19c-46b4-ac58-e8adcbd11063</id>
  <name>Application</name>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences>
    <designerReference id="55d06096-83fe-4acf-86ef-586d254e5170" name="Common Types" module="Intent.Common.Types" />
  </designerReferences>
  <packageReferences />
</config>