<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>81104ae6-2bc5-4bae-b05a-f987b0372d81</targetDesignerId>
  <createPackages>
    <package id="59c3d85f-78d7-4750-aabc-ccd37f5e6fa7" typeId="df96d537-7bb5-4c49-811f-973fa6e95beb" type="Eventing Package">
      <name>${application.name}.Eventing.Messages</name>
      <stereotypes />
      <childElements />
      <associations />
      <references />
    </package>
    <package id="4fb86583-52f8-4b89-bd7b-9807e8fae8fa" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906" type="Services Package">
      <name>${application.name}.Services</name>
      <stereotypes />
      <childElements />
      <associations />
      <references>
        <reference>
          <packageId>59c3d85f-78d7-4750-aabc-ccd37f5e6fa7</packageId>
          <include>${application.name}.Eventing.Messages</include>
          <isExternal>true</isExternal>
          <relativePath>../${application.name}.Eventing.Messages/${application.name}.Eventing.Messages.pkg.config</relativePath>
        </reference>
      </references>
    </package>
  </createPackages>
</settings>