<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>Angular</id>
  <name>Angular</name>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences />
  <packageReferences>
    <packageReference packageId="6c7013d3-ba6b-4135-8af0-421b662ec802" include="Angular.Layout.Controls" isExternal="false">
      <path>Angular.Layout.Controls/Angular.Layout.Controls.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>