<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../Intent.Modules/Intent.Angular.0.4.0/modelers/Angular.modeler.config" module="Intent.Angular" />
  <extensions>
    <extension path="../../../Intent.Modules/Intent.Angular.Layout.0.4.0/modelers/Angular Layout Extensions.modeler.extension.config" module="Intent.Angular.Layout" />
  </extensions>
  <packageReferences>
    <packageReference packageId="6c7013d3-ba6b-4135-8af0-421b662ec802" include="Angular.Layout.Controls" isExternal="false">
      <path>Angular.Layout.Controls/Angular.Layout.Controls.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>