<?xml version="1.0" encoding="utf-8"?>
<package id="2debfc4c-f15d-47a6-88c1-8597b2ca8e50">
  <name>Common.Typescript.ModuleBuilder</name>
  <isExternal>false</isExternal>
  <references>
    <reference packageId="9972b2a9-b749-4bba-b5c8-824bf694c6ef" include="Intent.ModuleBuilder" isExternal="true">
      <module>Intent.ModuleBuilder</module>
      <path>../../../../.intent/modules/Intent.ModuleBuilder.2.2.0/packages/Intent.ModuleBuilder/Intent.ModuleBuilder.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>