<?xml version="1.0" encoding="utf-8"?>
<package id="31e51821-d63d-41c2-b7fe-83bd639642ce">
  <name>Common.Typescript.ModuleBuilder</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference packageId="9972b2a9-b749-4bba-b5c8-824bf694c6ef" include="Intent.ModuleBuilder" isExternal="true">
      <path>../../../../.intent/modules/Intent.ModuleBuilder.2.2.0/metadata/Intent.ModuleBuilder/Intent.ModuleBuilder.pkg.config</path>
    </reference>
    <reference packageId="f2bfb0f7-d304-466f-b923-021d4016b48d" include="Intent.ModuleBuilder.CSharp" isExternal="true">
      <path>../../../../.intent/modules/Intent.ModuleBuilder.CSharp.2.1.0/metadata/Intent.ModuleBuilder.CSharp/Intent.ModuleBuilder.CSharp.pkg.config</path>
    </reference>
  </references>
  <stereotypes>
    <stereotype stereotypeDefinitionId="76256322-88f1-4efb-8bd6-7cc4a6c54cb9" name="Package Settings">
      <addedByDefault>true</addedByDefault>
      <properties>
        <property name="d40394fc-ed23-45a0-9c56-cbcf1c928e47" display="Include in Module" value="false" isActive="true" />
        <property name="27d378b6-9011-4ced-86b7-b976d690ceb7" display="Reference in Designer" isActive="true" />
      </properties>
    </stereotype>
  </stereotypes>
</package>