<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.0.0-beta.1" />
  <module moduleId="Intent.Common.CSharp" version="3.0.0-beta.2" />
  <module moduleId="Intent.Common.IdentityServer4" version="3.0.0-beta.1" />
  <module moduleId="Intent.Common.Types" version="3.0.0-beta.1" />
  <module moduleId="Intent.IdentityServer4.InMemoryStore" version="3.0.0-beta.1" />
  <module moduleId="Intent.IdentityServer4.SelfHost" version="3.0.0-beta.1" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="3.0.0-beta.1" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.0.0-beta.1" />
</modules>