<?xml version="1.0" encoding="utf-8"?>
<package id="9f06acf7-8077-4416-9e60-8d16ed9a27da" type="Intent Designer Package" typeId="4e1f79b4-3272-44cb-bee4-7dbd62b16e0e">
  <name>Intent.ModuleBuilder.Designer</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference packageId="9972b2a9-b749-4bba-b5c8-824bf694c6ef" include="Intent.ModuleBuilder" isExternal="true">
      <module>Intent.ModuleBuilder</module>
      <path>../../../../.intent/modules/Intent.ModuleBuilder.3.0.0/packages/Intent.ModuleBuilder/Intent.ModuleBuilder.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>