<?xml version="1.0" encoding="utf-8"?>
<config>
  <packages>
    <package>SampleApp\SampleApp.services.pkg.config</package>
    <package>..\DTOModel\SampleApp\SampleApp.datacontracts.pkg.config</package>
    <package>Intent.Common.Types\Intent.Common.Types.pkg.config</package>
  </packages>
</config>