<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.7.5" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.CSharp" version="3.8.9" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.Java" version="4.1.2" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.Common.Types" version="4.1.1" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.TypeScript" version="4.1.2" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Domain" version="3.12.1" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.ModuleBuilder" version="3.13.1" supportedClientVersions="[4.3.0-beta.4, 5.0.0-a)" />
  <module moduleId="Intent.ModuleBuilder.AutoCompile" version="3.4.1" supportedClientVersions="[4.2.4, 5.0.0-a)" />
  <module moduleId="Intent.ModuleBuilder.CSharp" version="3.7.3" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.ModuleBuilder.Dart" version="1.2.1" supportedClientVersions="[4.2.4, 5.0.0-a)" />
  <module moduleId="Intent.ModuleBuilder.Html" version="3.5.1" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.ModuleBuilder.Java" version="3.6.1" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.ModuleBuilder.Kotlin" version="3.5.1" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.ModuleBuilder.Sql" version="3.5.1" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.ModuleBuilder.TypeScript" version="3.5.2" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="4.9.3" supportedClientVersions="[4.4.0-a, 5.0.0-a)" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.8.8-pre.0" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
</modules>