<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../.intent/modules/Intent.Modelers.Domain.2.1.0/modelers/Domain.modeler.config" module="Intent.Modelers.Domain" />
  <extensions />
  <packageReferences>
    <packageReference packageId="c0f064ad-b3dd-4242-acda-b9cfe1f35589" include="Domain" isExternal="false">
      <path>Domain/Domain.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>