<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>6ab29b31-27af-4f56-a67c-986d82097d63</id>
  <name>Domain</name>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences />
  <packageReferences>
    <packageReference packageId="c0f064ad-b3dd-4242-acda-b9cfe1f35589" include="Domain" isExternal="false">
      <path>Domain/Domain.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>