<?xml version="1.0" encoding="utf-8"?>
<config>
  <icon type="FontAwesome" source="question-circle" />
  <displayOrder>0</displayOrder>
  <settings>
    <packageSettings>
      <requiredPackages />
      <creationOptions>
        <option order="2" type="element">
          <specializationType>Typescript File Template</specializationType>
          <text>New Typescript Template</text>
          <defaultName>NewTypescriptFileTemplate</defaultName>
          <icon type="FontAwesome" source="file-o" />
          <allowMultiple>true</allowMultiple>
        </option>
      </creationOptions>
      <typeOrder>
        <type order="2">Typescript File Template</type>
      </typeOrder>
    </packageSettings>
    <elementSettings>
      <elementSetting type="Typescript File Template">
        <icon type="FontAwesome" source="file-o" />
        <saveAsOwnFile>true</saveAsOwnFile>
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>true</allowTypeReference>
        <typeReferenceSetting>
          <isRequired>true</isRequired>
          <targetTypes>
            <type>Template Registration</type>
          </targetTypes>
          <allowIsNavigable>true</allowIsNavigable>
          <allowIsNullable>false</allowIsNullable>
          <allowIsCollection>false</allowIsCollection>
          <isNavigableDefault>true</isNavigableDefault>
          <isNullableDefault>false</isNullableDefault>
          <isCollectionDefault>false</isCollectionDefault>
        </typeReferenceSetting>
        <childElementSettings />
      </elementSetting>
    </elementSettings>
    <associationSettings />
    <elementExtensions>
      <elementExtension type="Folder">
        <creationOptions>
          <option order="2" type="element">
            <specializationType>Typescript File Template</specializationType>
            <text>New Typescript Template</text>
            <defaultName>NewTypescriptFileTemplate</defaultName>
            <icon type="FontAwesome" source="file-o" />
            <allowMultiple>true</allowMultiple>
          </option>
        </creationOptions>
        <typeOrder>
          <type order="2">Typescript File Template</type>
        </typeOrder>
      </elementExtension>
    </elementExtensions>
    <stereotypeSettings>
      <targetTypeOptions>
        <option specializationType="Typescript File Template" displayText="Typescript File Template" />
      </targetTypeOptions>
    </stereotypeSettings>
  </settings>
</config>