<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>Visual Studio</id>
  <name>Visual Studio</name>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences>
    <designerReference id="Visual Studio" name="Visual Studio" module="Intent.VisualStudio.Projects" type="extension" />
  </designerReferences>
  <packageReferences>
    <packageReference packageId="ad91f155-bad0-4aaf-97d6-d72d8d08f389" include="Angular.VisualStudio" isExternal="false">
      <path>Angular.VisualStudio/Angular.VisualStudio.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>