<?xml version="1.0" encoding="utf-8"?>
<package id="c7f8a24d-aeac-46c7-a54d-6c2580cef8f9">
  <name>Intent.Modules.Projects.VisualStudio</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references />
  <stereotypes />
</package>