<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../.intent/modules/Intent.ModuleBuilder.2.2.0/modelers/Module Builder.modeler.config" module="Intent.ModuleBuilder" />
  <extensions>
    <extension path="../../../.intent/modules/Intent.ModuleBuilder.Typescript.2.2.0/modelers/Typescript.modeler.extension.config" module="Intent.ModuleBuilder.Typescript" />
    <extension path="../../../.intent/modules/Intent.ModuleBuilder.2.2.0/modelers/Modeler Builder.modeler.extension.config" module="Intent.ModuleBuilder" />
    <extension path="../../../.intent/modules/Intent.ModuleBuilder.CSharp.2.2.0/modelers/CSharp.modeler.extension.config" module="Intent.ModuleBuilder.CSharp" />
  </extensions>
  <packageReferences>
    <packageReference packageId="af05bb66-305f-4791-bec8-d9f9cf0c3c34" include="Module Builder" isExternal="false">
      <path>_Packages/Module Builder/Module Builder.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>