<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../Intent.Modules/Intent.ModuleBuilder.2.1.4/modelers/Module Builder.modeler.config" module="Intent.ModuleBuilder" />
  <extensions>
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.Typescript.2.1.2/modelers/Typescript.modeler.extension.config" module="Intent.ModuleBuilder.Typescript" />
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.2.1.4/modelers/Modeler Builder.modeler.extension.config" module="Intent.ModuleBuilder" />
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.Html.2.1.0/modelers/Html Types.modeler.extension.config" module="Intent.ModuleBuilder.Html" />
  </extensions>
  <packageReferences>
    <packageReference packageId="af05bb66-305f-4791-bec8-d9f9cf0c3c34" include="Module Builder" isExternal="false">
      <path>_Packages/Module Builder/Module Builder.pkg.config</path>
    </packageReference>
    <packageReference packageId="a3deb341-dd4e-4f7f-99f5-2f198c1c251c" include="Intent.Modelers.Angular" isExternal="false">
      <path>Intent.Modelers.Angular/Intent.Modelers.Angular.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>