<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>Services</id>
  <name>Services</name>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences />
  <packageReferences>
    <packageReference packageId="9b0639e2-86b0-440f-9e25-b1514c9eb52b" include="Angular.Services" isExternal="false">
      <path>Angular.Services/Angular.Services.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>