<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../Intent.Modules/Intent.Modelers.Services.2.1.0/modelers/Services.modeler.config" module="Intent.Modelers.Services" />
  <extensions />
  <packageReferences>
    <packageReference packageId="9b0639e2-86b0-440f-9e25-b1514c9eb52b" include="Angular.Services" isExternal="false">
      <path>Angular.Services/Angular.Services.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>