<?xml version="1.0" encoding="utf-8"?>
<package id="7ed452ae-334c-48f7-b0aa-0426fc21e243">
  <name>Services</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference include="Intent.Common.Types">
      <path>..\..\..\..\Intent.Modules\Intent.Common.Types.2.0.0\Metadata\Intent.Common.Types\Intent.Common.Types.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>