<?xml version="1.0" encoding="utf-8"?>
<package id="7ed452ae-334c-48f7-b0aa-0426fc21e243" type="Services Package" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906">
  <name>Services</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference packageId="c0f064ad-b3dd-4242-acda-b9cfe1f35589" include="Domain" isExternal="true">
      <path>../../Domain/Domain/Domain.pkg.config</path>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
      <path>../../../../.intent/modules/Intent.Common.Types.3.0.0/packages/Intent.Common.Types/Intent.Common.Types.pkg.config</path>
    </reference>
    <reference packageId="4ba53041-59f9-4446-a207-6da4fbdf86fe" include="Intent.Modelers.Services" isExternal="true">
      <module>Intent.Modelers.Services</module>
      <path>../../../../.intent/modules/Intent.Modelers.Services.3.0.0/packages/Intent.Modelers.Services/Intent.Modelers.Services.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>