<?xml version="1.0" encoding="utf-8"?>
<package id="7ed452ae-334c-48f7-b0aa-0426fc21e243">
  <name>Services</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference packageId="c0f064ad-b3dd-4242-acda-b9cfe1f35589" include="Domain" isExternal="false">
      <path>..\..\Domain\Domain\Domain.pkg.config</path>
    </reference>
    <reference packageId="00800E5A-D4F4-4A6F-A562-32D1C2ADEDF7" include="Intent.Common.Types" isExternal="false">
      <path>..\..\..\..\Intent.Modules\Intent.Common.Types.2.0.0\Metadata\Intent.Common.Types\Intent.Common.Types.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>