<?xml version="1.0" encoding="utf-8"?>
<packageConfigOverride>
  <packageId>Intent.OutputManager.RoslynWeaver</packageId>
  <templates />
  <decorators />
  <factoryExtensions>
    <factoryExtension id="Intent.OutputManager.RoslynWeaver">
      <overrides />
    </factoryExtension>
  </factoryExtensions>
</packageConfigOverride>