<?xml version="1.0" encoding="utf-8"?>
<config>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences>
    <designerReference id="55d06096-83fe-4acf-86ef-586d254e5170" name="Common Types" module="Intent.Common.Types" type="extension" />
  </designerReferences>
  <packageReferences>
    <packageReference packageId="077c1efe-17a6-4fb5-aa67-67c9e328d116" include="Common.CSharp.ModuleBuilder" isExternal="false">
      <path>Common.CSharp.ModuleBuilder/Common.CSharp.ModuleBuilder.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>