<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../Intent.Modules/Intent.ModuleBuilder.2.2.0/modelers/Module Builder.modeler.config" module="Intent.ModuleBuilder" />
  <extensions>
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.CSharp.2.1.0/modelers/CSharp.modeler.extension.config" module="Intent.ModuleBuilder.CSharp" />
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.2.2.0/modelers/Modeler Builder.modeler.extension.config" module="Intent.ModuleBuilder" />
  </extensions>
  <packageReferences>
    <packageReference packageId="077c1efe-17a6-4fb5-aa67-67c9e328d116" include="Common.CSharp.ModuleBuilder" isExternal="false">
      <path>Common.CSharp.ModuleBuilder/Common.CSharp.ModuleBuilder.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>