<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.2.2" />
  <module moduleId="Intent.Common.CSharp" version="3.2.9" />
  <module moduleId="Intent.Common.Types" version="3.2.0" />
  <module moduleId="Intent.ModuleBuilder" version="3.3.0" />
  <module moduleId="Intent.ModuleBuilder.AutoCompile" version="3.1.1" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="3.2.6" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.2.9" />
</modules>