<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <settings>
    <packageSettings>
      <requiredPackages />
      <creationOptions>
        <option type="element">
          <specializationType>File Template</specializationType>
          <text>New File Template</text>
          <shortcut>ctrl + shift + t</shortcut>
          <defaultName>NewFileTemplate</defaultName>
          <icon type="FontAwesome" source="file" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option type="element">
          <specializationType>Template Registration</specializationType>
          <text>New Template Registration</text>
          <shortcut>ctrl + shift + r</shortcut>
          <defaultName>NewTemplateRegistration</defaultName>
          <icon type="CharacterBox" source="C|#04007a" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option order="0" type="element">
          <specializationType>Folder</specializationType>
          <text>New Folder</text>
          <shortcut>ctrl + shift + f</shortcut>
          <defaultName>NewFolder</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/Folder_02_256x.png" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option type="stereotype-definition">
          <specializationType>Stereotype-Definition</specializationType>
          <text>New Stereotype-Definition</text>
          <shortcut>ctrl + shift + s</shortcut>
          <defaultName>NewStereotypeDefinition</defaultName>
          <icon type="UrlImagePath" source="./img/icons/common/StereotypeDef_256x.png" />
          <allowMultiple>true</allowMultiple>
        </option>
      </creationOptions>
      <typeOrder>
        <type order="0">Folder</type>
        <type>File Template</type>
        <type>Template Registration</type>
        <type>Stereotype-Definition</type>
      </typeOrder>
    </packageSettings>
    <elementSettings>
      <elementSetting type="Decorator">
        <icon type="FontAwesome" source="wpforms" />
        <saveAsOwnFile>true</saveAsOwnFile>
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder />
        <creationOptions />
        <childElementSettings />
      </elementSetting>
      <elementSetting type="File Template">
        <icon type="FontAwesome" source="file" />
        <saveAsOwnFile>true</saveAsOwnFile>
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>true</allowTypeReference>
        <typeReferenceSetting>
          <isRequired>true</isRequired>
          <targetTypes>
            <type>Template Registration</type>
          </targetTypes>
          <allowIsNavigable>true</allowIsNavigable>
          <allowIsNullable>false</allowIsNullable>
          <allowIsCollection>false</allowIsCollection>
          <isNavigableDefault>true</isNavigableDefault>
          <isNullableDefault>false</isNullableDefault>
          <isCollectionDefault>false</isCollectionDefault>
        </typeReferenceSetting>
        <typeOrder />
        <creationOptions />
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Folder">
        <icon type="UrlImagePath" source="./img/icons/uml/Folder_02_256x.png" />
        <expandedIcon type="UrlImagePath" source="./img/icons/uml/FolderOpen_02_256x.png" />
        <saveAsOwnFile>true</saveAsOwnFile>
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder>
          <type order="0">Folder</type>
          <type>File Template</type>
          <type>Template Registration</type>
          <type>Stereotype-Definition</type>
        </typeOrder>
        <creationOptions>
          <option type="element">
            <specializationType>File Template</specializationType>
            <text>New File Template</text>
            <shortcut>ctrl + shift + t</shortcut>
            <defaultName>NewFileTemplate</defaultName>
            <icon type="FontAwesome" source="file" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option type="element">
            <specializationType>Template Registration</specializationType>
            <text>New Template Registration</text>
            <shortcut>ctrl + shift + r</shortcut>
            <defaultName>NewTemplateRegistration</defaultName>
            <icon type="CharacterBox" source="C|#04007a" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option order="0" type="element">
            <specializationType>Folder</specializationType>
            <text>New Folder</text>
            <shortcut>ctrl + shift + f</shortcut>
            <defaultName>NewFolder</defaultName>
            <icon type="UrlImagePath" source="./img/icons/uml/Folder_02_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option type="stereotype-definition">
            <specializationType>Stereotype-Definition</specializationType>
            <text>New Stereotype-Definition</text>
            <shortcut>ctrl + shift + s</shortcut>
            <defaultName>NewStereotypeDefinition</defaultName>
            <icon type="UrlImagePath" source="./img/icons/common/StereotypeDef_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Template Registration">
        <icon type="CharacterBox" source="C|#04007a" />
        <saveAsOwnFile>true</saveAsOwnFile>
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>true</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder />
        <creationOptions />
        <childElementSettings />
      </elementSetting>
    </elementSettings>
    <associationSettings />
    <elementExtensions />
    <stereotypeSettings>
      <targetTypeOptions>
        <option specializationType="Decorator" displayText="Decorator" />
        <option specializationType="File Template" displayText="File Template" />
        <option specializationType="Folder" displayText="Folder" />
        <option specializationType="Template Registration" displayText="Template Registration" />
      </targetTypeOptions>
    </stereotypeSettings>
  </settings>
  <designer path="..\..\..\Intent.Modules\Intent.ModuleBuilder.2.1.0\modelers\Module Builder.modeler.config" module="Intent.ModuleBuilder" />
  <extensions>
    <extension path="..\..\..\Intent.Modules\Intent.ModuleBuilder.2.1.0\modelers\Modeler Builder.modeler.extension.config" module="Intent.ModuleBuilder" />
  </extensions>
  <packages>
    <package>Intent.Modelers.Domain\Intent.Modelers.Domain.pkg.config</package>
  </packages>
  <diagrams />
</config>