<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../.intent/modules/Intent.ModuleBuilder.2.1.0/modelers/Module Builder.modeler.config" module="Intent.ModuleBuilder" />
  <extensions>
    <extension path="../../../.intent/modules/Intent.ModuleBuilder.2.1.0/modelers/Modeler Builder.modeler.extension.config" module="Intent.ModuleBuilder" />
  </extensions>
  <packageReferences>
    <packageReference packageId="6572b98d-5e13-4d4b-9ffc-820057da974e" include="Intent.Modelers.Domain" isExternal="false">
      <path>Intent.Modelers.Domain/Intent.Modelers.Domain.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>