<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.5.0-beta.2" />
  <module moduleId="Intent.Common.CSharp" version="3.3.43" />
  <module moduleId="Intent.Common.Types" version="3.3.9" />
  <module moduleId="Intent.Modelers.Domain" version="3.4.6" metadataOnly="true" />
  <module moduleId="Intent.Modelers.Services" version="3.4.9" metadataOnly="true" />
  <module moduleId="Intent.Modelers.Services.CQRS" version="4.0.2" metadataOnly="true" />
  <module moduleId="Intent.ModuleBuilder" version="3.7.0-beta.5" />
  <module moduleId="Intent.ModuleBuilder.AutoCompile" version="3.3.7" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="4.3.1" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.4.1" />
</modules>