<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.11.5" supportedClientVersions="[5.0.0-a, 6.0.0-a)" />
  <module moduleId="Intent.Common.CSharp" version="3.10.11" supportedClientVersions="[5.0.0-a, 6.0.0-a)" />
  <module moduleId="Intent.Common.Types" version="4.0.0" supportedClientVersions="[4.3.0-a, 6.0.0-a)" />
  <module moduleId="Intent.Modelers.CodebaseStructure" version="1.0.2" supportedClientVersions="[4.6.0-beta.3, 6.0.0-a)" />
  <module moduleId="Intent.ModuleBuilder.AI.Modelers" version="1.0.0-pre.1" supportedClientVersions="[5.1.0-a,6.0.0-a)" />
  <module moduleId="Intent.ModuleBuilder.AI.SDD" version="1.0.0-pre.2" supportedClientVersions="[5.1.0-a,6.0.0)" />
  <module moduleId="Intent.ModuleBuilder.AI.Skills" version="1.0.1-pre.4" supportedClientVersions="[5.1.0-a,6.0.0-a)" />
  <module moduleId="Intent.ModuleBuilder.AI.Workflow" version="1.0.0-pre.6" supportedClientVersions="[5.1.0-a,6.0.0)" />
</modules>