<?xml version="1.0" encoding="utf-8"?>
<config>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences>
    <designerReference id="55d06096-83fe-4acf-86ef-586d254e5170" name="Common Types" module="Intent.Common.Types" type="extension" />
  </designerReferences>
  <packageReferences>
    <packageReference packageId="d7572075-96b5-4374-89fc-f4c831ee3147" include="Common.CSharp.VisualStudio" isExternal="false">
      <path>Common.CSharp.VisualStudio/Common.CSharp.VisualStudio.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>