<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../.intent/modules/Intent.VisualStudio.Projects.2.2.0/modelers/Visual Studio.modeler.config" module="Intent.VisualStudio.Projects" />
  <extensions />
  <packageReferences>
    <packageReference packageId="d7572075-96b5-4374-89fc-f4c831ee3147" include="Common.CSharp.VisualStudio" isExternal="false">
      <path>Common.CSharp.VisualStudio/Common.CSharp.VisualStudio.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>