<?xml version="1.0" encoding="utf-8"?>
<package id="4aab5ac2-71c3-4d2b-a616-0ad39a8193ba">
  <name>Intent.VisualStudio.Projects.Frameworks</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference packageId="a0636ab7-d3a1-430b-9609-11a18aa3cc7f" include="Intent.VisualStudio.Projects" isExternal="true">
      <module>Intent.VisualStudio.Projects</module>
      <path>../../../../.intent/modules/Intent.VisualStudio.Projects.2.2.0/Intent.Metadata/Module Builder/Intent.VisualStudio.Projects/Intent.VisualStudio.Projects.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>