<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../.intent/modules/Intent.Common.Types.2.1.0/modelers/Common Types.modeler.config" module="Intent.Common.Types" />
  <extensions />
  <packageReferences>
    <packageReference packageId="553454f3-5b18-450d-b815-0af9c73f6aab" include="VisualStudio.Projects.CommonTypes" isExternal="false">
      <path>VisualStudio.Projects.CommonTypes/VisualStudio.Projects.CommonTypes.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>