<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>Common Types</id>
  <name>Common Types</name>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences />
  <packageReferences>
    <packageReference packageId="553454f3-5b18-450d-b815-0af9c73f6aab" include="VisualStudio.Projects.CommonTypes" isExternal="false">
      <path>VisualStudio.Projects.CommonTypes/VisualStudio.Projects.CommonTypes.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>