<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.ApplicationTemplate.Builder" version="3.0.0-beta.3" />
  <module moduleId="Intent.Common" version="3.0.0-beta.4" />
  <module moduleId="Intent.Common.CSharp" version="3.0.0-beta.3" />
  <module moduleId="Intent.Common.Types" version="3.0.0-beta.3" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.0.0-beta.3" />
</modules>