<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>0701433c-36c0-4569-b1f4-9204986b587d</id>
  <name>Visual Studio</name>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences>
    <designerReference id="2ef69545-61ca-42b7-89bd-4ae3d5970280" name="Visual Studio Types" module="Intent.VisualStudio.Projects" type="reference" />
  </designerReferences>
  <packageReferences>
    <packageReference packageId="cc0b0700-7d5c-4b2b-b8ed-c934c246e05a" include="ModuleBuilder.Sql.VisualStudio" isExternal="false">
      <path>ModuleBuilder.Sql.VisualStudio/ModuleBuilder.Sql.VisualStudio.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>