<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../Intent.Modules/Intent.ModuleBuilder.2.1.3/modelers/Module Builder.modeler.config" module="Intent.ModuleBuilder" />
  <extensions>
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.2.1.3/modelers/Modeler Builder.modeler.extension.config" module="Intent.ModuleBuilder" />
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.CSharp.2.1.1/modelers/CSharp.modeler.extension.config" module="Intent.ModuleBuilder.CSharp" />
  </extensions>
  <packageReferences>
    <packageReference packageId="26bec59a-ff91-4ffc-b574-31fbfc964729" include="Intent.Modules.Common.Java.ModuleBuilder" isExternal="false">
      <path>Intent.Modules.Common.Java.ModuleBuilder/Intent.Modules.Common.Java.ModuleBuilder.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>