<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../.intent/modules/Intent.ModuleBuilder.2.2.0/modelers/Module Builder.modeler.config" module="Intent.ModuleBuilder" />
  <extensions>
    <extension path="../../../.intent/modules/Intent.ModuleBuilder.CSharp.2.2.0/modelers/CSharp.modeler.extension.config" module="Intent.ModuleBuilder.CSharp" />
    <extension path="../../../.intent/modules/Intent.ModuleBuilder.2.2.0/modelers/Modeler Builder.modeler.extension.config" module="Intent.ModuleBuilder" />
  </extensions>
  <packageReferences>
    <packageReference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="false">
      <path>Intent.Common.Types/Intent.Common.Types.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>