<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.3.18" />
  <module moduleId="Intent.Common.CSharp" version="3.3.27" />
  <module moduleId="Intent.Common.Types" version="3.3.7" />
  <module moduleId="Intent.Modelers.Application" version="1.0.0-pre.0" metadataOnly="true" />
  <module moduleId="Intent.Modelers.AWS" version="1.0.0-pre.3" metadataOnly="true" />
  <module moduleId="Intent.Modelers.AWS.Lambda" version="1.0.0-pre.0" metadataOnly="true" />
  <module moduleId="Intent.Modelers.AWS.StepFunctions" version="1.0.0-pre.0" metadataOnly="true" />
  <module moduleId="Intent.ModuleBuilder" version="3.5.0" />
  <module moduleId="Intent.ModuleBuilder.AutoCompile" version="3.3.1" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="3.3.9" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.3.20" />
</modules>