<#@ template language="C#" inherits="HtmlTemplateBase<ComponentModel>" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="Intent.Modules.Common" #>
<#@ import namespace="Intent.Modules.Common.Templates" #>
<#@ import namespace="Intent.Modules.Common.Html.Templates" #>
<#@ import namespace="Intent.Modules.Angular.Api" #>
<p intent-manage>
  <#= ComponentName #> works!
</p>
