<?xml version="1.0" encoding="utf-8"?>
<config>
  <icon type="UrlImagePath" source="./img/icons/shell/Domain_256x.png" />
  <settings>
    <diagramSettings>
    </diagramSettings>
    <folderSettings>
      <creationOptions>
        <option>
          <specializationType>Class</specializationType>
          <text>New Class</text>
          <shortcut>ctrl + shift + c</shortcut>
          <defaultName>NewClass</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/Class_256x.png"/>
        </option>
        <option>
          <specializationType>Type-Definition</specializationType>
          <text>New Type</text>
          <shortcut>ctrl + shift + t</shortcut>
          <defaultName>NewType</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/DataType_256x.png"/>
        </option>
        <option>
          <specializationType>Enum</specializationType>
          <text>New Enum</text>
          <shortcut>ctrl + shift + e</shortcut>
          <defaultName>NewEnum</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png"/>
        </option>
        <option>
          <specializationType>Diagram</specializationType>
          <text>New Diagram</text>
          <shortcut>ctrl + shift + v</shortcut>
          <defaultName>NewDiagram</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/View_256x.png"/>
        </option>
        <option>
          <specializationType>stereotype-definition</specializationType>
          <text>New Stereotype Definition</text>
          <shortcut>ctrl + shift + s</shortcut>
          <defaultName>NewStereotype</defaultName>
          <icon type="UrlImagePath" source="./img/icons/common/StereotypeDef_256x.png"/>
        </option>
        <option>
          <specializationType>folder</specializationType>
          <text>New Folder</text>
          <shortcut>ctrl + shift + f</shortcut>
          <defaultName>NewFolder</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/Folder_02_256x.png"/>
        </option>
      </creationOptions>
      <typeOrder>
        <type>folder</type>
        <type>Diagram</type>
        <type>Class</type>
        <type>Type-Definition</type>
        <type>Enum</type>
        <type>Stereotype Definition</type>
      </typeOrder>
    </folderSettings>
    <elementSettings>
      <elementSetting>
        <specializationType>Diagram</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/View_256x.png"/>
        <diagramSettings>
          <creationOptions>
            <option>
              <specializationType>Class</specializationType>
              <text>New Class</text>
              <shortcut>ctrl + shift + c</shortcut>
              <defaultName>NewClass</defaultName>
              <icon type="UrlImagePath" source="./img/icons/uml/Class_256x.png"/>
            </option>
          </creationOptions>
          <classVisualSettings>
            <classVisualSetting>
              <specializationType>Class</specializationType>
              <text>
                <fontColor>black</fontColor>
                <fontSize>12px</fontSize>
                <fontWeight>bold</fontWeight>
                <size width="${w}" height="18"/>
                <position x="${x}" y="${y + 8}"/>
              </text>
              <defaultSize width="200" height="${58 + elements.count * 18}"/>
              <display>
                <draw>
                  <path>M${x + 5},${y} h${w - 10} a5,5 0 0 1 5,5 v${h - 10} a5,5 0 0 1 -5,5 h-${w - 10} a5,5 0 0 1 -5,-5 v-${h - 10} a5,5 0 0 1 5,-5 z</path>
                  <lineColor>#000000</lineColor>
                  <fillColor>#ffffff</fillColor>
                </draw>
                <draw>
                  <condition>${h > 35 &amp;&amp; (elements["Attribute"].visible || elements["Operation"].visible)}</condition>
                  <path>M${x},${y + 30} h${w}</path>
                  <lineColor>#000000</lineColor>
                </draw>
                <draw>
                  <condition>
                    ${
                      elements["Attribute"].visible &amp;&amp; elements["Attribute"].count &gt; 0 &amp;&amp; elements["Operation"].visible &amp;&amp;
                      (y + (elements["Attribute"].count * elements["Attribute"].height) + 42) &lt; y + h
                    }
                  </condition>
                  <path>M${x},${y + (elements["Attribute"].count * elements["Attribute"].height) + 42} h${w}</path>
                  <lineColor>#000000</lineColor>
                </draw>
              </display>
              <childElementVisualSettings>
                <childElementVisualSetting specializationType="Attribute">
                  <showEnabled>true</showEnabled>
                  <showByDefault>true</showByDefault>
                  <text>
                    <fontColor>black</fontColor>
                    <fontSize>12px</fontSize>
                    <size width="${w}" height="18"/>
                    <position x="${x}" y="${y + (index * 18) + 36}"/>
                  </text>
                </childElementVisualSetting>
                <childElementVisualSetting specializationType="Operation">
                  <showEnabled>true</showEnabled>
                  <showByDefault>true</showByDefault>
                  <text>
                    <fontColor>black</fontColor>
                    <fontSize>12px</fontSize>
                    <size width="${w}" height="18"/>
                    <position x="${x}" y="${y + (elements['Attribute'].count > 0 ? 12 : 0) + (elements['Attribute'].count * 18) + (index * 18) + 36}"/>
                  </text>
                </childElementVisualSetting>
              </childElementVisualSettings>
              <showAttributes>true</showAttributes>
              <showOperations>true</showOperations>
            </classVisualSetting>
          </classVisualSettings>
          <associationVisualSettings>
            <associationVisualSetting>
              <specializationType>Composition</specializationType>
              <sourceEnd>
                <primaryLabel>${name ? name : ""}</primaryLabel>
                <secondaryLabel>${isCollection ? "*" : isNullable ? "0..1" : "1"}</secondaryLabel>
                <pointIndicator>
                  <fillColor>#000000</fillColor>
                  <path>l 5.0 7.5 l -5.0 7.5 l -5.0 -7.5 Z</path>
                </pointIndicator>
                <navigableIndicator>
                  <fillColor>#000000</fillColor>
                  <path>m 0 15 l 5 10 l -5 -2.5 l -5 2.5 Z</path>
                </navigableIndicator>
              </sourceEnd>
              <targetEnd>
                <primaryLabel>${name ? name : ""}</primaryLabel>
                <secondaryLabel>${isCollection ? "*" : isNullable ? "0..1" : "1"}</secondaryLabel>
                <navigableIndicator>
                  <fillColor>#000000</fillColor>
                  <path>l 5 10 l -5 -2.5 l -5 2.5 Z</path>
                </navigableIndicator>
              </targetEnd>
            </associationVisualSetting>
            <associationVisualSetting>
              <specializationType>Aggregation</specializationType>
              <sourceEnd>
                <primaryLabel>${name ? name : ""}</primaryLabel>
                <secondaryLabel>${isCollection ? "*" : isNullable ? "0..1" : "1"}</secondaryLabel>
                <pointIndicator>
                  <lineColor>#000000</lineColor>
                  <fillColor>#ffffff</fillColor>
                  <path>l 5.0 7.5 l -5.0 7.5 l -5.0 -7.5 Z</path>
                </pointIndicator>
                <navigableIndicator>
                  <lineColor>#000000</lineColor>
                  <fillColor>#000000</fillColor>
                  <path>m 0 15 l 5 10 l -5 -2.5 l -5 2.5 Z</path>
                </navigableIndicator>
              </sourceEnd>
              <targetEnd>
                <primaryLabel>${name ? name : ""}</primaryLabel>
                <secondaryLabel>${isCollection ? "*" : isNullable ? "0..1" : "1"}</secondaryLabel>
                <navigableIndicator>
                  <lineColor>#000000</lineColor>
                  <fillColor>#000000</fillColor>
                  <path>l 5 10 l -5 -2.5 l -5 2.5 Z</path>
                </navigableIndicator>
              </targetEnd>
            </associationVisualSetting>
            <associationVisualSetting>
              <specializationType>Generalization</specializationType>
              <sourceEnd>
              </sourceEnd>
              <targetEnd>
                <pointIndicator>
                  <lineColor>#000000</lineColor>
                  <fillColor>#ffffff</fillColor>
                  <path>l 7 10 l -14 0 Z</path>
                </pointIndicator>
              </targetEnd>
            </associationVisualSetting>
            <associationVisualSetting>
              <specializationType>Dependency</specializationType>
              <lineColor>#ff0000</lineColor>
              <lineDashArray>5,5</lineDashArray>
              <sourceEnd>
              </sourceEnd>
              <targetEnd>
                <navigableIndicator>
                  <lineColor>#ff0000</lineColor>
                  <fillColor>#00ff00</fillColor>
                  <path>l 5 10 l -5 -2.5 l -5 2.5 Z</path>
                </navigableIndicator>
              </targetEnd>
            </associationVisualSetting>
          </associationVisualSettings>
        </diagramSettings>
      </elementSetting>
      <elementSetting>
        <specializationType>Class</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/Class_256x.png"/>
        <allowAbstract>true</allowAbstract>
        <allowMapping>false</allowMapping>
        <allowSorting>true</allowSorting>
        <allowFindInView>true</allowFindInView>
        <attributeSettings>
          <attributeSetting>
            <specializationType>Attribute</specializationType>
            <icon type="UrlImagePath" source="./img/icons/dtos/Field_256x.png"/>
            <text>Add Attribute</text>
            <shortcut>ctrl + shift + a</shortcut>
            <defaultName>attribute</defaultName>
            <allowFindInView>true</allowFindInView>
            <defaultTypeId>d384db9c-a279-45e1-801e-e4e8099625f2</defaultTypeId>
            <targetTypes>
              <type>type-definition</type>
              <type>enum</type>
            </targetTypes>
          </attributeSetting>
        </attributeSettings>
        <operationSettings>
          <operationSetting>
            <specializationType>Operation</specializationType>
            <icon type="UrlImagePath" source="./img/icons/services/Operation_256x.png"/>
            <text>Add Operation</text>
            <shortcut>ctrl + shift + o</shortcut>
            <defaultName>Operation</defaultName>
            <allowFindInView>true</allowFindInView>
            <defaultTypeId>d384db9c-a279-45e1-801e-e4e8099625f2</defaultTypeId>
            <targetTypes>
              <type>type-definition</type>
              <type>enum</type>
              <type>Class</type>
            </targetTypes>
          </operationSetting>
        </operationSettings>
        <creationOptions>
          <option>
            <specializationType>Composition</specializationType>
            <icon type="UrlImagePath" source="./img/icons/uml/Association_256x.png"/>
            <text>Add Association (Composition)</text>
            <shortcut>ctrl + alt + c</shortcut>
          </option>
          <option>
            <specializationType>Aggregation</specializationType>
            <icon type="UrlImagePath" source="./img/icons/uml/Association_256x.png"/>
            <text>Add Association (Aggregation)</text>
            <shortcut>ctrl + alt + a</shortcut>
          </option>
          <option>
            <specializationType>Generalization</specializationType>
            <icon type="UrlImagePath" source="./img/icons/uml/Association_256x.png"/>
            <text>Add Association (Generalization)</text>
            <shortcut>ctrl + alt + g</shortcut>
          </option>
          <option>
            <specializationType>Dependency</specializationType>
            <icon type="UrlImagePath" source="./img/icons/uml/Association_256x.png"/>
            <text>Add Association (Dependency)</text>
            <shortcut>ctrl + alt + d</shortcut>
          </option>
        </creationOptions>
      </elementSetting>
      <elementSetting>
        <specializationType>Type-Definition</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/DataType_256x.png"/>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>true</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
      </elementSetting>
      <elementSetting>
        <specializationType>Enum</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png"/>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>true</allowSorting>
        <allowFindInView>false</allowFindInView>
        <literalSettings>
          <literalSetting>
            <specializationType>Enum-Literal</specializationType>
            <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png"/>
            <text>Add Enum Literal</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>Literal</defaultName>
            <allowFindInView>false</allowFindInView>
          </literalSetting>
        </literalSettings>
      </elementSetting>
    </elementSettings>
    <associationSettings>
      <associationSetting>
        <specializationType>Composition</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/Association_256x.png"/>
        <text>Add Association (Composition)</text>
        <shortcut>ctrl + alt + c</shortcut>
        <sourceEnd>
          <targetTypes>
            <type>Class</type>
          </targetTypes>
          <isNavigableEnabled>true</isNavigableEnabled>
          <isNullableEnabled>false</isNullableEnabled>
          <isCollectionEnabled>false</isCollectionEnabled>
          <isNullableDefault>false</isNullableDefault>
        </sourceEnd>
        <targetEnd>
          <targetTypes>
            <type>Class</type>
          </targetTypes>
          <isNavigableEnabled>true</isNavigableEnabled>
          <isNullableEnabled>true</isNullableEnabled>
          <isCollectionEnabled>true</isCollectionEnabled>
          <isNavigableDefault>true</isNavigableDefault>
        </targetEnd>
      </associationSetting>
      <associationSetting>
        <specializationType>Aggregation</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/Association_256x.png"/>
        <text>Add Association (Aggregation)</text>
        <shortcut>ctrl + alt + a</shortcut>
        <sourceEnd>
          <targetTypes>
            <type>Class</type>
          </targetTypes>
          <isNavigableEnabled>true</isNavigableEnabled>
          <isNullableEnabled>false</isNullableEnabled>
          <isCollectionEnabled>true</isCollectionEnabled>
          <isNavigableDefault>false</isNavigableDefault>
          <isNullableDefault>true</isNullableDefault>
          <isCollectionDefault>true</isCollectionDefault>
        </sourceEnd>
        <targetEnd>
          <targetTypes>
            <type>Class</type>
          </targetTypes>
          <isNavigableEnabled>true</isNavigableEnabled>
          <isNullableEnabled>true</isNullableEnabled>
          <isCollectionEnabled>true</isCollectionEnabled>
          <isNavigableDefault>true</isNavigableDefault>
        </targetEnd>
      </associationSetting>
      <associationSetting>
        <specializationType>Generalization</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/Association_256x.png"/>
        <text>Add Association (Generalization)</text>
        <shortcut>ctrl + alt + g</shortcut>
        <sourceEnd>
          <targetTypes>
            <type>Class</type>
          </targetTypes>
          <isNavigableEnabled>false</isNavigableEnabled>
          <isNullableEnabled>false</isNullableEnabled>
          <isCollectionEnabled>false</isCollectionEnabled>
        </sourceEnd>
        <targetEnd>
          <targetTypes>
            <type>Class</type>
          </targetTypes>
          <isNavigableEnabled>false</isNavigableEnabled>
          <isNullableEnabled>false</isNullableEnabled>
          <isCollectionEnabled>false</isCollectionEnabled>
          <isNavigableDefault>true</isNavigableDefault>
          <isNullableDefault>false</isNullableDefault>
          <isCollectionDefault>false</isCollectionDefault>
        </targetEnd>
      </associationSetting>
      <associationSetting>
        <specializationType>Dependency</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/Association_256x.png"/>
        <text>Add Association (Dependency)</text>
        <shortcut>ctrl + alt + d</shortcut>
        <lineColor>#ff0000</lineColor>
        <lineDashArray>5,5</lineDashArray>
        <sourceEnd>
          <targetTypes>
            <type>Class</type>
          </targetTypes>
          <isNavigableEnabled>false</isNavigableEnabled>
          <isNullableEnabled>false</isNullableEnabled>
          <isCollectionEnabled>false</isCollectionEnabled>
        </sourceEnd>
        <targetEnd>
          <targetTypes>
            <type>Class</type>
          </targetTypes>
          <isNavigableEnabled>false</isNavigableEnabled>
          <isNullableEnabled>false</isNullableEnabled>
          <isCollectionEnabled>false</isCollectionEnabled>
          <isNavigableDefault>true</isNavigableDefault>
          <isNullableDefault>false</isNullableDefault>
          <isCollectionDefault>false</isCollectionDefault>
        </targetEnd>
      </associationSetting>
    </associationSettings>
    <stereotypeSettings>
      <targetTypeOptions>
        <option specializationType="Class" displayText="Class"/>
        <option specializationType="Attribute" displayText="Attribute"/>
        <option specializationType="Operation" displayText="Operation"/>
        <option specializationType="Operation-Parameter" displayText="Operation Parameter"/>
        <option specializationType="Operation-Return-Type" displayText="Operation Return Type"/>
        <option specializationType="Association" displayText="Association"/>
        <option specializationType="Association-End" displayText="Association End"/>
        <option specializationType="Folder" displayText="Folder"/>
        <option specializationType="Type-Definition" displayText="Type"/>
        <option specializationType="Enum" displayText="Enum"/>
        <option specializationType="Package" displayText="Package"/>
      </targetTypeOptions>
    </stereotypeSettings>
  </settings>
</config>