<?xml version="1.0" encoding="utf-8"?>
<package id="c0f064ad-b3dd-4242-acda-b9cfe1f35589">
  <name>Domain</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference packageId="00800E5A-D4F4-4A6F-A562-32D1C2ADEDF7" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
      <path>../../../../Intent.Modules/Intent.Common.Types.2.0.1/Metadata/Intent.Common.Types/Intent.Common.Types.pkg.config</path>
    </reference>
    <reference packageId="6572b98d-5e13-4d4b-9ffc-820057da974e" include="Intent.Modelers.Domain" isExternal="true">
      <module>Intent.Modelers.Domain</module>
      <path>../../../../Intent.Modules/Intent.Modelers.Domain.2.1.0/Intent.Metadata/Module Builder/Intent.Modelers.Domain/Intent.Modelers.Domain.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>