<?xml version="1.0" encoding="utf-8"?>
<package id="c0f064ad-b3dd-4242-acda-b9cfe1f35589">
  <name>Domain</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference packageId="00800E5A-D4F4-4A6F-A562-32D1C2ADEDF7" include="Intent.Common.Types">
      <path>..\..\..\..\Intent.Modules\Intent.Common.Types.2.0.0\Metadata\Intent.Common.Types\Intent.Common.Types.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>