<?xml version="1.0" encoding="utf-8"?>
<package id="c0f064ad-b3dd-4242-acda-b9cfe1f35589" type="Domain Package" typeId="1a824508-4623-45d9-accc-f572091ade5a">
  <name>Domain</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="6572b98d-5e13-4d4b-9ffc-820057da974e" include="Intent.Modelers.Domain" isExternal="true">
      <module>Intent.Modelers.Domain</module>
    </reference>
  </references>
  <stereotypes />
</package>