<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../.intent/modules/Intent.VisualStudio.Projects.2.2.0/modelers/Visual Studio.modeler.config" module="Intent.VisualStudio.Projects" />
  <extensions />
  <packageReferences>
    <packageReference packageId="6e118a7e-7636-4d2d-8cdd-0086bd0c6af2" include="Modelers.Services.VisualStudio" isExternal="false">
      <path>Modelers.Services.VisualStudio/Modelers.Services.VisualStudio.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>