<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>Visual Studio</id>
  <name>Visual Studio</name>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences>
    <designerReference id="Visual Studio" name="Visual Studio" module="Intent.VisualStudio.Projects" type="extension" />
  </designerReferences>
  <packageReferences>
    <packageReference packageId="6e118a7e-7636-4d2d-8cdd-0086bd0c6af2" include="Modelers.Services.VisualStudio" isExternal="false">
      <path>Modelers.Services.VisualStudio/Modelers.Services.VisualStudio.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>