<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>0701433c-36c0-4569-b1f4-9204986b587d</id>
  <name>Visual Studio</name>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences>
    <designerReference id="2ef69545-61ca-42b7-89bd-4ae3d5970280" name="Visual Studio Types" module="Intent.VisualStudio.Projects" type="reference" />
  </designerReferences>
  <packageReferences>
    <packageReference packageId="6e118a7e-7636-4d2d-8cdd-0086bd0c6af2" include="Modelers.Services.VisualStudio" isExternal="false">
      <path>Modelers.Services.VisualStudio/Modelers.Services.VisualStudio.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>