<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <settings>
    <packageSettings>
      <creationOptions>
        <option order="4">
          <specializationType>Modelers Folder</specializationType>
          <text>Add Modeler</text>
          <shortcut></shortcut>
          <defaultName>modeler</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/Folder_03_256x.png"/>
        </option>
      </creationOptions>
      <typeOrder>
        <type order="1">Modelers Folder</type>
      </typeOrder>
    </packageSettings>
    <elementSettings>
      <elementSetting type="Modelers Folder">
        <icon type="UrlImagePath" source="./img/icons/uml/Folder_03_256x.png"/>
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <creationOptions>
          <option>
            <specializationType>Modeler</specializationType>
            <text>New Modeler</text>
            <shortcut>ctrl + shift + m</shortcut>
            <defaultName>NewModeler</defaultName>
            <icon type="CharacterBox" source="M|#00ffc8" />
          </option>
        </creationOptions>
      </elementSetting>
      <elementSetting type="Association End Settings">
        <icon type="CharacterBox" source="E|#00f7ff" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <attributeSettings>
          <attributeSetting>
            <specializationType>Associate End Settings Target Type</specializationType>
            <icon type="UrlImagePath" source="./img/icons/dtos/Field_256x.png" />
            <text>Add Target Type</text>
            <shortcut>ctrl + shift + t</shortcut>
            <defaultName>_</defaultName>
            <allowRename>false</allowRename>
            <allowDuplicateNames>true</allowDuplicateNames>
            <allowFindInView>false</allowFindInView>
            <targetTypes>
              <type>Element Settings</type>
              <type>Element Settings Definition</type>
            </targetTypes>
          </attributeSetting>
        </attributeSettings>
      </elementSetting>
      <elementSetting type="Association Settings">
        <icon type="CharacterBox" source="A|#ff8000" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <typeOrder>
          <type>Destination End</type>
          <type>Source End</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>Destination End</specializationType>
            <text>Add Destination End</text>
            <shortcut>ctrl + shift + d</shortcut>
            <defaultName>Destination End</defaultName>
            <icon type="CharacterBox" source="D|#ff00e6" />
          </option>
          <option>
            <specializationType>Source End</specializationType>
            <text>Add Source End</text>
            <shortcut>ctrl + shift + s</shortcut>
            <defaultName>Source End</defaultName>
            <icon type="CharacterBox" source="S|##bfff00" />
          </option>
        </creationOptions>
      </elementSetting>
      <elementSetting type="Attribute Settings">
        <icon type="CharacterBox" source="A|#b0f542" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <attributeSettings>
          <attributeSetting>
            <specializationType>Attribute Settings Target Type</specializationType>
            <icon type="UrlImagePath" source="./img/icons/dtos/Field_256x.png" />
            <text>Add Target Type</text>
            <shortcut>ctrl + shift + a</shortcut>
            <defaultName>_</defaultName>
            <allowRename>true</allowRename>
            <allowDuplicateNames>true</allowDuplicateNames>
            <allowFindInView>true</allowFindInView>
            <targetTypes>
              <type>Element Settings</type>
              <type>Element Settings Definition</type>
            </targetTypes>
          </attributeSetting>
        </attributeSettings>
      </elementSetting>
      <!--<elementSetting type="Attribute Settingss">
        <icon type="CharacterBox" source="A|#42aaf5" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <typeOrder>
          <type>Attribute Settings</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>Attribute Settings</specializationType>
            <text>New Attribute Settings</text>
            <shortcut>ctrl + shift + a</shortcut>
            <defaultName>New Attribute Settings</defaultName>
            <icon type="CharacterBox" source="A|#b0f542" />
          </option>
        </creationOptions>
      </elementSetting>-->
      <elementSetting>
        <specializationType>Creation Options</specializationType>
        <icon type="CharacterBox" source="C|#ad2121" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>true</allowSorting>
        <allowFindInView>false</allowFindInView>
        <attributeSettings>
          <attributeSetting>
            <specializationType>Creation Option</specializationType>
            <icon type="CharacterBox" source="C|#04007a" />
            <text>Add Creation Option</text>
            <shortcut>ctrl + shift + a</shortcut>
            <defaultName>_</defaultName>
            <allowRename>true</allowRename>
            <allowDuplicateNames>true</allowDuplicateNames>
            <allowFindInView>true</allowFindInView>
            <targetTypes>
              <type>Element Settings</type>
              <type>Element Settings Definition</type>
            </targetTypes>
          </attributeSetting>
        </attributeSettings>
      </elementSetting>
      <elementSetting>
        <specializationType>Destination End</specializationType>
        <icon type="CharacterBox" source="D|#ff00e6" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <typeOrder>
          <type>Association End Settings</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>Association End Settings</specializationType>
            <text>New Association End Settings</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>New Association End Settings</defaultName>
            <icon type="CharacterBox" source="E|#00f7ff" />
          </option>
        </creationOptions>
      </elementSetting>
      <elementSetting>
        <specializationType>Diagram Settings</specializationType>
        <icon type="CharacterBox" source="D|#21abad" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
      </elementSetting>
      <elementSetting>
        <specializationType>Element Settings</specializationType>
        <icon type="CharacterBox" source="E|#095c00" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>true</allowSorting>
        <allowFindInView>true</allowFindInView>
        <typeOrder>
          <type>Attribute Settings</type>
          <type>Diagram Settings</type>
          <type>Literal Settings</type>
          <type>Mapping Settings</type>
          <type>Operation Settings</type>
          <type>Creation Options</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>Attribute Settings</specializationType>
            <text>Add Attribute Settings</text>
            <shortcut>ctrl + shift + a</shortcut>
            <defaultName>NewAttributeSetting</defaultName>
            <icon type="CharacterBox" source="A|#42aaf5" />
          </option>
          <option>
            <specializationType>Creation Options</specializationType>
            <text>Add Creation Options</text>
            <shortcut>ctrl + shift + c</shortcut>
            <defaultName>Creation Options</defaultName>
            <icon type="CharacterBox" source="C|#ad2121" />
          </option>
          <option>
            <specializationType>Diagram Settings</specializationType>
            <text>Add Diagram Settings</text>
            <shortcut>ctrl + shift + g</shortcut>
            <defaultName>Diagram Settings</defaultName>
            <icon type="CharacterBox" source="D|#21abad" />
          </option>
          <option>
            <specializationType>Literal Settings</specializationType>
            <text>New Literal Settings</text>
            <shortcut>ctrl + shift + l</shortcut>
            <defaultName>New Literal Settings</defaultName>
            <icon type="CharacterBox" source="L|#ff9900" />
          </option>
          <option>
            <specializationType>Mapping Settings</specializationType>
            <text>Add Mapping Settings</text>
            <shortcut>ctrl + shift + m</shortcut>
            <defaultName>Mapping Settings</defaultName>
            <icon type="CharacterBox" source="M|#2b00ff" />
          </option>
          <option>
            <specializationType>Operation Settings</specializationType>
            <text>Add Operation Settings</text>
            <shortcut>ctrl + shift + o</shortcut>
            <defaultName>Operation Settings</defaultName>
            <icon type="CharacterBox" source="O|#006307" />
          </option>
        </creationOptions>
      </elementSetting>
      <elementSetting>
        <specializationType>Element Settings Definition</specializationType>
        <icon type="CharacterBox" source="D|#ffea00" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
      </elementSetting>
      <elementSetting>
        <specializationType>Icon</specializationType>
        <icon type="CharacterBox" source="I|#8800ff" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
      </elementSetting>
      <elementSetting>
        <specializationType>Literal Settings</specializationType>
        <icon type="CharacterBox" source="L|#ff9900" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
      </elementSetting>
      <elementSetting>
        <specializationType>Mapping Settings</specializationType>
        <icon type="CharacterBox" source="M|#2b00ff" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
      </elementSetting>
      <elementSetting>
        <specializationType>Modeler</specializationType>
        <icon type="CharacterBox" source="M|#00ffc8" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <typeOrder>
          <type>Modeler Folder</type>
          <type>Association Settings</type>
          <type>Element Settings</type>
          <type>Element Settings Definition</type>
          <type>Package Settings</type>
          <type>Icon</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>Modeler Folder</specializationType>
            <text>New Folder</text>
            <shortcut>ctrl + shift + f</shortcut>
            <defaultName>New Folder</defaultName>
            <icon type="UrlImagePath" source="./img/icons/uml/Folder_02_256x.png" />
          </option>
          <option>
            <specializationType>Association Settings</specializationType>
            <text>New Association Settings</text>
            <shortcut>ctrl + shift + n</shortcut>
            <defaultName>New Association Settings</defaultName>
            <icon type="CharacterBox" source="A|#ff8000" />
          </option>
          <option>
            <specializationType>Element Settings</specializationType>
            <text>New Element Settings</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>New Element Settings</defaultName>
            <icon type="CharacterBox" source="E|#095c00" />
          </option>
          <option>
            <specializationType>Element Settings Definition</specializationType>
            <text>New Element Settings Definition</text>
            <shortcut>ctrl + shift + d</shortcut>
            <defaultName>New Element Settings Definition</defaultName>
            <icon type="CharacterBox" source="D|#ffea00" />
          </option>
          <option>
            <specializationType>Package Settings</specializationType>
            <text>Add Package Settings</text>
            <shortcut>ctrl + shift + p</shortcut>
            <defaultName>Package Settings</defaultName>
            <icon type="CharacterBox" source="P|#7d7d7d" />
          </option>
          <option>
            <specializationType>Icon</specializationType>
            <text>New Icon</text>
            <shortcut>ctrl + shift + i</shortcut>
            <defaultName>New Icon</defaultName>
            <icon type="CharacterBox" source="I|#8800ff" />
          </option>
        </creationOptions>
      </elementSetting>
      <elementSetting>
        <specializationType>Modeler Folder</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/Folder_02_256x.png" />
        <expandedIcon type="UrlImagePath" source="./img/icons/uml/FolderOpen_02_256x.png" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>true</allowFindInView>
        <typeOrder>
          <type>Modeler Folder</type>
          <type>Association Settings</type>
          <type>Element Settings</type>
          <type>Element Settings Definition</type>
          <type>Icon</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>Modeler Folder</specializationType>
            <text>New Folder</text>
            <shortcut>ctrl + shift + f</shortcut>
            <defaultName>New Folder</defaultName>
            <icon type="UrlImagePath" source="./img/icons/uml/Folder_02_256x.png" />
          </option>
          <option>
            <specializationType>Association Settings</specializationType>
            <text>New Association Settings</text>
            <shortcut>ctrl + shift + n</shortcut>
            <defaultName>New Association Settings</defaultName>
            <icon type="CharacterBox" source="A|#ff8000" />
          </option>
          <option>
            <specializationType>Element Settings</specializationType>
            <text>New Element Settings</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>New Element Settings</defaultName>
            <icon type="CharacterBox" source="E|#095c00" />
          </option>
          <option>
            <specializationType>Element Settings Definition</specializationType>
            <text>New Element Settings Definition</text>
            <shortcut>ctrl + shift + d</shortcut>
            <defaultName>New Element Settings Definition</defaultName>
            <icon type="CharacterBox" source="D|#ffea00" />
          </option>
          <option>
            <specializationType>Icon</specializationType>
            <text>New Icon</text>
            <shortcut>ctrl + shift + i</shortcut>
            <defaultName>New Icon</defaultName>
            <icon type="CharacterBox" source="I|#8800ff" />
          </option>
        </creationOptions>
      </elementSetting>
      <elementSetting>
        <specializationType>Operation Settings</specializationType>
        <icon type="CharacterBox" source="O|#006307" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
      </elementSetting>
      <elementSetting>
        <specializationType>Package Settings</specializationType>
        <icon type="CharacterBox" source="P|#7d7d7d" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <typeOrder>
          <type>Creation Options</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>Creation Options</specializationType>
            <text>Add Creation Options</text>
            <shortcut>ctrl + shift + c</shortcut>
            <defaultName>Creation Options</defaultName>
            <icon type="CharacterBox" source="C|#ad2121" />
          </option>
        </creationOptions>
      </elementSetting>
      <elementSetting>
        <specializationType>Source End</specializationType>
        <icon type="CharacterBox" source="S|##bfff00" />
        <allowRename>false</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <typeOrder>
          <type>Association End Settings</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>Association End Settings</specializationType>
            <text>New Association End Settings</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>New Association End Settings</defaultName>
            <icon type="CharacterBox" source="E|#00f7ff" />
          </option>
        </creationOptions>
      </elementSetting>
    </elementSettings>
    <associationSettings />
    <stereotypeSettings>
      <targetTypeOptions>
        <option specializationType="Association End Settings" displayText="Association End Settings" />
        <option specializationType="Association Settings" displayText="Association Settings" />
        <option specializationType="Attribute Settings" displayText="Attribute Settings" />
        <option specializationType="Creation Options" displayText="Creation Options" />
        <option specializationType="Destination End" displayText="Destination End" />
        <option specializationType="Diagram Settings" displayText="Diagram Settings" />
        <option specializationType="Element Settings" displayText="Element Settings" />
        <option specializationType="Element Settings Definition" displayText="Element Settings Definition" />
        <option specializationType="Icon" displayText="Icon" />
        <option specializationType="Literal Settings" displayText="Literal Settings" />
        <option specializationType="Mapping Settings" displayText="Mapping Settings" />
        <option specializationType="Modelers Folder" displayText="Modelers Folder" />
        <option specializationType="Modeler" displayText="Modeler" />
        <option specializationType="Modeler Folder" displayText="Modeler Folder" />
        <option specializationType="Operation Settings" displayText="Operation Settings" />
        <option specializationType="Package Settings" displayText="Package Settings" />
        <option specializationType="Source End" displayText="Source End" />
      </targetTypeOptions>
    </stereotypeSettings>
  </settings>
  <packages />
</config>