<?xml version="1.0" encoding="utf-8"?>
<assetRepositories>
  <entries>
    <entry>
      <name>LocalModules</name>
      <address>../../Modules/Intent.Modules</address>
      <isBuiltIn>false</isBuiltIn>
    </entry>
    <entry>
      <name>https://intentarchitect.com/</name>
      <address>https://intentarchitect.com/</address>
      <isBuiltIn>false</isBuiltIn>
    </entry>
  </entries>
</assetRepositories>