<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>Visual Studio</id>
  <name>Visual Studio</name>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences>
    <designerReference id="Visual Studio" name="Visual Studio" module="Intent.VisualStudio.Projects" type="extension" />
  </designerReferences>
  <packageReferences>
    <packageReference packageId="eae2d6bc-9572-4814-8feb-43953ea41f6a" include="Common.Types.VisualStudio" isExternal="false">
      <path>Common.Types.VisualStudio/Common.Types.VisualStudio.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>