<?xml version="1.0" encoding="utf-8"?>
<package id="26bec59a-ff91-4ffc-b574-31fbfc964729">
  <name>Intent.Modules.Common.Java.ModuleBuilder</name>
  <isExternal>false</isExternal>
  <references>
    <reference packageId="9972b2a9-b749-4bba-b5c8-824bf694c6ef" include="Intent.ModuleBuilder" isExternal="true">
      <module>Intent.ModuleBuilder</module>
      <path>../../../../Intent.Modules/Intent.ModuleBuilder.2.1.3/metadata/Intent.ModuleBuilder/Intent.ModuleBuilder.pkg.config</path>
    </reference>
    <reference packageId="f2bfb0f7-d304-466f-b923-021d4016b48d" include="Intent.ModuleBuilder.CSharp" isExternal="true">
      <module>Intent.ModuleBuilder.CSharp</module>
      <path>../../../../Intent.Modules/Intent.ModuleBuilder.CSharp.2.1.1/metadata/Intent.ModuleBuilder.CSharp/Intent.ModuleBuilder.CSharp.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>