<?xml version="1.0" encoding="utf-8"?>
<package id="26bec59a-ff91-4ffc-b574-31fbfc964729" type="Intent Module" typeId="d2e543c7-174a-45b4-aebe-a13f9ee90214">
  <name>Intent.Modules.Common.Java.ModuleBuilder</name>
  <isExternal>false</isExternal>
  <references>
    <reference packageId="9972b2a9-b749-4bba-b5c8-824bf694c6ef" include="Intent.ModuleBuilder" isExternal="true">
      <module>Intent.ModuleBuilder</module>
      <path>../../../../../../ConversionSolution/.intent/modules/Intent.ModuleBuilder.3.0.0/packages/Intent.ModuleBuilder/Intent.ModuleBuilder.pkg.config</path>
    </reference>
    <reference packageId="f2bfb0f7-d304-466f-b923-021d4016b48d" include="Intent.ModuleBuilder.CSharp" isExternal="true">
      <module>Intent.ModuleBuilder.CSharp</module>
      <path>../../../../../../ConversionSolution/.intent/modules/Intent.ModuleBuilder.CSharp.3.0.0/packages/Intent.ModuleBuilder.CSharp/Intent.ModuleBuilder.CSharp.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>