<?xml version="1.0" encoding="utf-8"?>
<packageConfigOverride>
  <packageId>Intent.Examples</packageId>
  <templates>
    <template id="Intent.Examples.Metadata.UmlModelNavigation">
      <overrides>
        <add key="IsEnabled" value="True" />
      </overrides>
    </template>
  </templates>
  <decorators />
  <factoryExtensions />
</packageConfigOverride>