<?xml version="1.0" encoding="utf-8"?>
<package id="0669533a-99cd-4a4b-b667-30e86bea8a27" type="Root Folder" typeId="07e7b690-a59d-4b72-8440-4308a121d32c">
  <applicationId>39af18aa-c4fc-463c-bbb0-cbee9de9b686</applicationId>
  <designerId>0701433c-36c0-4569-b1f4-9204986b587d</designerId>
  <name>root</name>
  <externalReference>3666c377-1a2e-4537-89f4-66b470d05250</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="525868ff-adc0-4ab6-a90e-352288da941f" include="Intent.Modelers.CodebaseStructure" isExternal="true">
      <module>Intent.Modelers.CodebaseStructure</module>
    </reference>
    <reference packageId="a0636ab7-d3a1-430b-9609-11a18aa3cc7f" include="Intent.VisualStudio.Projects" isExternal="true">
      <module>Intent.VisualStudio.Projects</module>
    </reference>
    <reference packageId="4aab5ac2-71c3-4d2b-a616-0ad39a8193ba" include="Intent.VisualStudio.Projects.Frameworks" isExternal="true">
      <module>Intent.VisualStudio.Projects</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>