<?xml version="1.0" encoding="utf-8"?>
<package id="288d0ede-2cf7-43cd-aa94-22346d771fe4">
  <name>Domain</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference include="Intent.Common.Types">
      <path>..\..\..\..\..\Intent.Modules\Intent.Common.Types.2.0.0\Metadata\Intent.Common.Types\Intent.Common.Types.pkg.config</path>
    </reference>
    <reference include="Intent.Metadata.RDBMS">
      <path>..\..\..\..\..\Intent.Modules\Intent.Metadata.RDBMS.2.0.0\Metadata\Domain\Intent.Metadata.RDBMS.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>