<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../Intent.Modules/Intent.ModuleBuilder.2.1.2/modelers/Module Builder.modeler.config" module="Intent.ModuleBuilder" />
  <extensions>
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.2.1.2/modelers/Modeler Builder.modeler.extension.config" module="Intent.ModuleBuilder" />
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.CSharp.2.1.1/modelers/CSharp.modeler.extension.config" module="Intent.ModuleBuilder.CSharp" />
  </extensions>
  <packageReferences>
    <packageReference packageId="fb002b11-41c0-43ea-afeb-f26c3346ce87" include="Intent.ModuleBuilder.Sql" isExternal="false">
      <path>Intent.ModuleBuilder.Sql/Intent.ModuleBuilder.Sql.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>