<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.9.2-pre.0" supportedClientVersions="[4.5.21-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.CSharp" version="3.8.14" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.Types" version="4.0.0" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.TypeScript" version="3.4.3" />
  <module moduleId="Intent.ModuleBuilder" version="3.18.0-pre.1" supportedClientVersions="[4.5.15-a, 5.0.0-a)" />
  <module moduleId="Intent.ModuleBuilder.AutoCompile" version="3.4.1" supportedClientVersions="[4.2.4, 5.0.0-a)" />
  <module moduleId="Intent.ModuleBuilder.TypeScript" version="3.3.10" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="4.5.1" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.8.5" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
</modules>