<?xml version="1.0" encoding="utf-8"?>
<package id="bb18d2a1-e6b1-4002-98fa-14f74ec78512">
  <name>Modelers.Domain.Domain</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference packageId="6572b98d-5e13-4d4b-9ffc-820057da974e" include="Intent.Modelers.Domain" isExternal="true">
      <path>../../../../Intent.Modules/Intent.Modelers.Domain.2.1.0/Intent.Metadata/Module Builder/Intent.Modelers.Domain/Intent.Modelers.Domain.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>