<?xml version="1.0" encoding="utf-8"?>
<package id="bb18d2a1-e6b1-4002-98fa-14f74ec78512" type="Package" typeId="73cf6531-f699-479d-b2b8-92da159ada37">
  <name>Modelers.Domain.Domain</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference packageId="6572b98d-5e13-4d4b-9ffc-820057da974e" include="Intent.Modelers.Domain" isExternal="true">
      <module>Intent.Modelers.Domain</module>
      <path>../../../../.intent/modules/Intent.Modelers.Domain.3.0.0/packages/Intent.Modelers.Domain/Intent.Modelers.Domain.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>