<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>0701433c-36c0-4569-b1f4-9204986b587d</targetDesignerId>
  <createPackages>
    <package id="3666c377-1a2e-4537-89f4-66b470d05250" typeId="07e7b690-a59d-4b72-8440-4308a121d32c" type="Visual Studio Solution">
      <name>${solution.name}</name>
      <stereotypes>
        <stereotype stereotypeDefinitionId="90085088-b29b-4386-b87e-f7f62c76c5de" name="Visual Studio Solution Options">
          <addedByDefault>true</addedByDefault>
          <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
          <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
          <properties>
            <property name="49e78350-c77b-4f83-88d8-5841e6cb3ab9" display="Manage Package Versions Centrally" value="false" isActive="true" />
          </properties>
        </stereotype>
      </stereotypes>
      <childElements>
        <element id="cf346fcc-6b20-4ce3-9a1b-58a24830d1a9" typeId="8e9e6693-2888-4f48-a0d6-0f163baab740" type="C# Project (.NET)">
          <name>${application.name}</name>
          <genericTypes />
          <metadata />
          <stereotypes>
            <stereotype stereotypeDefinitionId="a490a23f-5397-40a1-a3cb-6da7e0b467c0" name=".NET Settings">
              <addedByDefault>true</addedByDefault>
              <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
              <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
              <properties>
                <property name="1f0cdbc4-7a18-40a5-aeca-90452cce4fcf" display="SDK" value="Microsoft.NET.Sdk" isActive="true" />
                <property name="252d4572-8255-4e87-9bd9-ede6220f44c1" display="Use top-level statements" value="false" isActive="false" />
                <property name="8f218e6c-9115-42d1-ad23-9b0403bfbcb4" display="Use minimal hosting model" value="false" isActive="false" />
                <property name="6a7d81d7-351e-4cdf-a596-142a74507455" display="Output Type" isActive="true" />
                <property name="9da51e12-529a-4592-9119-491d7bc9d5d5" display="Azure Functions Version" isActive="true" />
                <property name="e1cab7e9-28f1-4e82-8c02-bfb9e460d9e0" display="Target Multiple Frameworks" value="false" isActive="true" />
                <property name="d53ab03c-90cf-4b6a-b733-73b6983ab603" display="Target Framework" value="${target-framework}" isActive="true" />
                <property name="b9685057-b337-42d8-9536-d0185ea69b73" display="Target Frameworks" value="null" isActive="false" />
                <property name="8ee6e435-e556-439c-9712-a3f287972813" display="Runtime Identifiers" isActive="true" />
                <property name="c9fc7052-9557-4485-a759-fa33363472b3" display="Configurations" isActive="true" />
                <property name="c27f8813-bee4-4289-81e5-570e755a8f30" display="Root Namespace" isActive="true" />
                <property name="a6660df2-6016-40c6-8453-8e5993f407c9" display="User Secrets Id" isActive="true" />
                <property name="16ac8254-c83f-42d9-98bb-db9c0532bce6" display="Generate Runtime Configuration Files" isActive="true" />
                <property name="94e630db-ee2b-4d4f-a423-19d3469178fa" display="Generate Documentation File" isActive="true" />
                <property name="d6c50001-ac9d-4819-94a9-8b6aa7f02e47" display="Assembly Name" isActive="true" />
                <property name="7cc174e3-ca2f-4f79-bb52-c7a3a4a7e5eb" display="Implicit Usings" isActive="true" />
                <property name="575dbd4e-f038-4c92-a411-63c1e3e0d8d7" display="Suppress Warnings" value="$(NoWarn)" isActive="true" />
                <property name="6de4cc6f-2476-461c-9be9-b6ac0592a827" display="Manage Package Versions Centrally" isActive="true" />
              </properties>
            </stereotype>
            <stereotype stereotypeDefinitionId="d9b43864-0370-401b-9e71-b1d286919500" name="C# Project Options">
              <addedByDefault>true</addedByDefault>
              <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
              <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
              <properties>
                <property name="cb56677d-e132-4397-b2ec-3f47e950a111" display="Language Version" value="default" isActive="true" />
                <property name="5c953a82-78c4-4986-b204-df9fcbea5242" display="Relative Location" isActive="true" />
                <property name="415a5406-0517-4c0e-ab60-bc809a23c308" display="Nullable Enabled" value="false" isActive="false" />
                <property name="68a31b13-148b-45da-a6ea-5a6883f86438" display="Nullable" value="(unspecified)" isActive="true" />
              </properties>
            </stereotype>
          </stereotypes>
          <childElements>
            <element id="0d23c30a-2a67-4212-afe5-450efe79d351" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
              <name>ApplicationTemplates</name>
              <genericTypes />
              <metadata />
              <stereotypes />
              <childElements />
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>ApplicationTemplates</display>
            </element>
            <element id="2953b8e7-5026-4f19-b9d4-f3135bfd5078" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
              <name>Metadata</name>
              <genericTypes />
              <metadata />
              <stereotypes />
              <childElements />
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>Metadata</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>${application.name}</display>
        </element>
      </childElements>
      <associations />
      <references />
    </package>
  </createPackages>
</settings>