<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <settings>
    <packageSettings>
      <creationOptions>
        <option>
          <specializationType>File Template</specializationType>
          <text>New File Template</text>
          <shortcut>ctrl + shift + i</shortcut>
          <defaultName>NewFileTemplate</defaultName>
          <icon type="FontAwesome" source="file" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option>
          <specializationType>Decorator</specializationType>
          <text>New Template Decorator</text>
          <shortcut>ctrl + shift + d</shortcut>
          <defaultName>NewDecorator</defaultName>
          <icon type="FontAwesome" source="wpforms" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option>
          <specializationType>Modeler Reference</specializationType>
          <text>New Modeler Reference</text>
          <shortcut>ctrl + shift + m</shortcut>
          <defaultName>NewModeler</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option>
          <specializationType>Type-Definition</specializationType>
          <text>New Type</text>
          <shortcut>ctrl + shift + t</shortcut>
          <defaultName>NewType</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/DataType_256x.png" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option>
          <specializationType>Template Registration</specializationType>
          <text>New Template Registration</text>
          <shortcut>ctrl + shift + e</shortcut>
          <defaultName>NewTemplateRegistration</defaultName>
          <icon type="CharacterBox" source="C|#04007a" />
          <allowMultiple>true</allowMultiple>
        </option>
        <option>
          <specializationType>Stereotype-Definition</specializationType>
          <text>New Stereotype-Definition</text>
          <shortcut>ctrl + shift + s</shortcut>
          <defaultName>NewStereotype</defaultName>
          <icon type="UrlImagePath" source="./img/icons/common/StereotypeDef_256x.png" />
          <allowMultiple>false</allowMultiple>
        </option>
        <option>
          <specializationType>Folder</specializationType>
          <text>New Folder</text>
          <shortcut>ctrl + shift + f</shortcut>
          <defaultName>NewFolder</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/Folder_02_256x.png" />
          <allowMultiple>true</allowMultiple>
        </option>
      </creationOptions>
      <typeOrder>
        <type>File Template</type>
        <type order="1">Folder</type>
        <type>Decorator</type>
        <type>Modeler Reference</type>
        <type>Type-Definition</type>
        <type>Template Registration</type>
        <type>Stereotype-Definition</type>
      </typeOrder>
    </packageSettings>
    <elementSettings>
      <elementSetting type="Decorator">
        <icon type="FontAwesome" source="wpforms" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder />
        <creationOptions />
        <childElementSettings />
      </elementSetting>
      <elementSetting type="File Template">
        <icon type="FontAwesome" source="file" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>true</allowTypeReference>
        <typeReferenceSetting>
          <isRequired>true</isRequired>
          <targetTypes>
            <type>Template Registration</type>
          </targetTypes>
          <allowIsNullable>false</allowIsNullable>
          <allowIsCollection>false</allowIsCollection>
        </typeReferenceSetting>
        <defaultTypeId>f65d2904-88c9-4501-873a-a4eec8303b1d</defaultTypeId>
        <typeOrder />
        <creationOptions />
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Folder">
        <icon type="UrlImagePath" source="./img/icons/uml/Folder_02_256x.png" />
        <expandedIcon type="UrlImagePath" source="./img/icons/uml/FolderOpen_02_256x.png" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder>
          <type order="0">Folder</type>
          <type>File Template</type>
          <type>Decorator</type>
          <type>Modeler Reference</type>
          <type>Type-Definition</type>
          <type>Template Registration</type>
          <type>Stereotype-Definition</type>
        </typeOrder>
        <creationOptions>
          <option>
            <specializationType>File Template</specializationType>
            <text>New File Template</text>
            <shortcut>ctrl + shift + i</shortcut>
            <defaultName>NewFileTemplate</defaultName>
            <icon type="FontAwesome" source="file" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Decorator</specializationType>
            <text>New Template Decorator</text>
            <shortcut>ctrl + shift + d</shortcut>
            <defaultName>NewDecorator</defaultName>
            <icon type="FontAwesome" source="wpforms" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Modeler Reference</specializationType>
            <text>New Modeler Reference</text>
            <shortcut>ctrl + shift + m</shortcut>
            <defaultName>NewModeler</defaultName>
            <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Type-Definition</specializationType>
            <text>New Type</text>
            <shortcut>ctrl + shift + t</shortcut>
            <defaultName>NewType</defaultName>
            <icon type="UrlImagePath" source="./img/icons/uml/DataType_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Template Registration</specializationType>
            <text>New Template Registration</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>NewTemplateRegistration</defaultName>
            <icon type="CharacterBox" source="C|#04007a" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Stereotype-Definition</specializationType>
            <text>New Stereotype-Definition</text>
            <shortcut>ctrl + shift + s</shortcut>
            <defaultName>NewStereotype</defaultName>
            <icon type="UrlImagePath" source="./img/icons/common/StereotypeDef_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
          <option>
            <specializationType>Folder</specializationType>
            <text>New Folder</text>
            <shortcut>ctrl + shift + f</shortcut>
            <defaultName>NewFolder</defaultName>
            <icon type="UrlImagePath" source="./img/icons/uml/Folder_02_256x.png" />
            <allowMultiple>true</allowMultiple>
          </option>
        </creationOptions>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Modeler Reference">
        <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder />
        <creationOptions />
        <literalSettings>
          <literalSetting>
            <specializationType>Model Type</specializationType>
            <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png" />
            <text>New Model Type</text>
            <shortcut>ctrl + shift + m</shortcut>
            <defaultName>IElement</defaultName>
            <allowRename>true</allowRename>
            <allowDuplicateNames>false</allowDuplicateNames>
            <allowFindInView>false</allowFindInView>
          </literalSetting>
        </literalSettings>
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Template Registration">
        <icon type="CharacterBox" source="C|#04007a" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>true</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder />
        <creationOptions />
        <childElementSettings />
      </elementSetting>
      <elementSetting type="Type-Definition">
        <icon type="UrlImagePath" source="./img/icons/uml/DataType_256x.png" />
        <allowRename>true</allowRename>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
        <allowTypeReference>false</allowTypeReference>
        <typeOrder />
        <creationOptions />
        <childElementSettings />
      </elementSetting>
    </elementSettings>
    <associationSettings />
    <stereotypeSettings>
      <targetTypeOptions>
        <option specializationType="Decorator" displayText="Decorator" />
        <option specializationType="File Template" displayText="File Template" />
        <option specializationType="Folder" displayText="Folder" />
        <option specializationType="Model Type" displayText="Model Type" />
        <option specializationType="Modeler Reference" displayText="Modeler Reference" />
        <option specializationType="Template Registration" displayText="Template Registration" />
        <option specializationType="Type-Definition" displayText="Type-Definition" />
      </targetTypeOptions>
    </stereotypeSettings>
  </settings>
  <extensions>
    <extension>..\..\..\Intent.Modules\Intent.ModuleBuilder.2.1.0\modelers\Modeler Builder.modeler.extension.config</extension>
    <extension>..\..\..\Intent.Modules\Intent.Modules.ModuleBuilder.CSharp.2.1.0\modelers\CSharp.modeler.extension.config</extension>
  </extensions>
  <packages>
    <package>_Packages\Module Builder\Module Builder.pkg.config</package>
    <package>..\..\metadata\Intent.ModuleBuilder.CSharp\Intent.ModuleBuilder.CSharp.pkg.config</package>
  </packages>
  <diagrams />
</config>