<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../Intent.Modules/Intent.ModuleBuilder.2.1.0/modelers/Module Builder.modeler.config" module="Intent.ModuleBuilder" />
  <extensions>
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.2.1.0/modelers/Modeler Builder.modeler.extension.config" module="Intent.ModuleBuilder" />
    <extension path="../../../Intent.Modules/Intent.ModuleBuilder.CSharp.2.1.0/modelers/CSharp.modeler.extension.config" module="Intent.ModuleBuilder.CSharp" />
  </extensions>
  <packageReferences>
    <packageReference packageId="4bc923af-11c5-4255-b97a-79de29be5060" include="Module Builder" isExternal="false">
      <path>_Packages/Module Builder/Module Builder.pkg.config</path>
    </packageReference>
    <packageReference packageId="f2bfb0f7-d304-466f-b923-021d4016b48d" include="Intent.ModuleBuilder.CSharp" isExternal="false">
      <path>../../metadata/Intent.ModuleBuilder.CSharp/Intent.ModuleBuilder.CSharp.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>