<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <designer path="../../../Intent.Modules/Intent.Modelers.Services.2.1.0/modelers/Services.modeler.config" module="Intent.Modelers.Services" />
  <extensions />
  <packageReferences>
    <packageReference packageId="b816aff8-5d6f-413a-8362-16ffadd395e7" include="Angular.Layout.Services" isExternal="false">
      <path>Angular.Layout.Services/Angular.Layout.Services.pkg.config</path>
    </packageReference>
  </packageReferences>
  <diagrams />
</config>