<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.0.4" />
  <module moduleId="Intent.Common.CSharp" version="3.0.7" />
  <module moduleId="Intent.Common.Types" version="3.0.3" />
  <module moduleId="Intent.ModuleBuilder" version="3.0.6" />
  <module moduleId="Intent.ModuleBuilder.CSharp" version="3.0.5" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="3.0.2" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.0.5" />
</modules>