<?xml version="1.0" encoding="utf-8"?>
<config>
  <icon type="UrlImagePath" source="./img/icons/shell/Domain_256x.png" />
  <settings>
    <diagramSettings>
    </diagramSettings>
    <packageSettings>
      <creationOptions>
        <option>
          <specializationType>Workflow</specializationType>
          <text>New Workflow</text>
          <shortcut>ctrl + shift + w</shortcut>
          <defaultName>NewWorkflow</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/View_256x.png"/>
        </option>
        <option>
          <specializationType>Type-Definition</specializationType>
          <text>New Type</text>
          <shortcut>ctrl + shift + t</shortcut>
          <defaultName>NewType</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/DataType_256x.png"/>
        </option>
        <option>
          <specializationType>Enum</specializationType>
          <text>New Enum</text>
          <shortcut>ctrl + shift + e</shortcut>
          <defaultName>NewEnum</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png"/>
        </option>
        <option>
          <specializationType>stereotype-definition</specializationType>
          <text>New Stereotype Definition</text>
          <shortcut>ctrl + shift + s</shortcut>
          <defaultName>NewStereotype</defaultName>
          <icon type="UrlImagePath" source="./img/icons/common/StereotypeDef_256x.png"/>
        </option>
        <option>
          <specializationType>folder</specializationType>
          <text>New Folder</text>
          <shortcut>ctrl + shift + f</shortcut>
          <defaultName>NewFolder</defaultName>
          <icon type="UrlImagePath" source="./img/icons/uml/Folder_02_256x.png"/>
        </option>
      </creationOptions>
      <typeOrder>
        <type>folder</type>
        <type>Workflow</type>
        <type>Type-Definition</type>
        <type>Enum</type>
        <type>Stereotype Definition</type>
      </typeOrder>
    </packageSettings>
    <elementSettings>
      <!--Workflow-->
      <elementSetting>
        <specializationType>Workflow</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/View_256x.png"/>
        <creationOptions>
          <option>
            <specializationType>Workflow</specializationType>
            <text>New Workflow</text>
            <shortcut>ctrl + shift + w</shortcut>
            <defaultName>NewWorkflow</defaultName>
            <icon type="UrlImagePath" source="./img/icons/uml/View_256x.png"/>
          </option>
          <option>
            <specializationType>Workflow Step</specializationType>
            <text>New Step</text>
            <shortcut>ctrl + shift + t</shortcut>
            <defaultName>NewStep</defaultName>
            <icon type="UrlImagePath" source="./img/icons/uml/View_256x.png"/>
          </option>
          <option>
            <specializationType>Workflow Start</specializationType>
            <text>Create Start</text>
            <shortcut>ctrl + shift + s</shortcut>
            <defaultName>Start</defaultName>
            <icon type="UrlImagePath" source="./img/icons/uml/View_256x.png"/>
          </option>
          <option>
            <specializationType>Workflow End</specializationType>
            <text>Create End</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>End</defaultName>
            <icon type="UrlImagePath" source="./img/icons/uml/View_256x.png"/>
          </option>
          <option>
            <specializationType>Comment</specializationType>
            <text>New Comment</text>
            <shortcut>ctrl + shift + c</shortcut>
            <defaultName>Comment</defaultName>
            <icon type="UrlImagePath" source="./img/icons/uml/View_256x.png"/>
          </option>
          <option>
            <specializationType>Transition</specializationType>
            <icon type="UrlImagePath" source="./img/icons/uml/Association_256x.png"/>
            <text>Add Transition</text>
            <shortcut>ctrl + alt + t</shortcut>
          </option>
          <option>
            <specializationType>Workflow End Transition</specializationType>
            <icon type="UrlImagePath" source="./img/icons/uml/Association_256x.png"/>
            <text>Set Workflow End</text>
            <shortcut>ctrl + alt + e</shortcut>
          </option>

        </creationOptions>
        <diagramSettings>
          <addNewElementsTo>Self</addNewElementsTo>
          <creationOptions>
            <option>
              <specializationType>Workflow</specializationType>
              <text>New Workflow</text>
              <shortcut>ctrl + shift + w</shortcut>
              <defaultName>NewWorkflow</defaultName>
              <icon type="UrlImagePath" source="./img/icons/uml/View_256x.png"/>
            </option>
            <option>
              <specializationType>Workflow Step</specializationType>
              <text>New Step</text>
              <shortcut>ctrl + shift + t</shortcut>
              <defaultName>NewStep</defaultName>
              <icon type="UrlImagePath" source="./img/icons/uml/View_256x.png"/>
            </option>
            <option>
              <specializationType>Workflow Start</specializationType>
              <text>Create Start</text>
              <shortcut>ctrl + shift + s</shortcut>
              <defaultName>Start</defaultName>
              <icon type="UrlImagePath" source="./img/icons/uml/View_256x.png"/>
            </option>
            <option>
              <specializationType>Workflow End</specializationType>
              <text>Create End</text>
              <shortcut>ctrl + shift + e</shortcut>
              <defaultName>End</defaultName>
              <icon type="UrlImagePath" source="./img/icons/uml/View_256x.png"/>
            </option>
            <option>
              <specializationType>Comment</specializationType>
              <text>New Comment</text>
              <shortcut>ctrl + shift + c</shortcut>
              <defaultName>Comment</defaultName>
              <icon type="UrlImagePath" source="./img/icons/uml/View_256x.png"/>
            </option>
          </creationOptions>
          <classVisualSettings>

            <classVisualSetting>
              <specializationType>Workflow</specializationType>
              <text>
                <fontColor>black</fontColor>
                <fontSize>12px</fontSize>
                <fontWeight>bold</fontWeight>
                <textAlign>center</textAlign>
                <size width="${w}" height="18"/>
                <position x="${x}" y="${y + h/2 - 9}"/>
              </text>
              <display>
                <draw>
                  <path>M${x + 10},${y} h${w - 20} l10,10 v${h - 20} l-10,10 h-${w - 20} l-10,-10 v-${h - 20} l10,-10 z</path>
                  <lineColor>#000000</lineColor>
                  <fillColor>#ddddff</fillColor>
                </draw>
              </display>
            </classVisualSetting>

            <classVisualSetting>
              <specializationType>Workflow Step</specializationType>
              <text>
                <fontColor>black</fontColor>
                <fontSize>12px</fontSize>
                <fontWeight>bold</fontWeight>
                <textAlign>center</textAlign>
                <size width="${w}" height="18"/>
                <position x="${x}" y="${y + 8}"/>
              </text>
              <display>
                <draw>
                  <path>M${x + 5},${y} h${w - 10} a5,5 0 0 1 5,5 v${h - 10} a5,5 0 0 1 -5,5 h-${w - 10} a5,5 0 0 1 -5,-5 v-${h - 10} a5,5 0 0 1 5,-5 z</path>
                  <lineColor>#000000</lineColor>
                  <fillColor>#ffdddd</fillColor>
                </draw>
                <draw>
                  <condition>${h > 35 &amp;&amp; (elements["Attribute"].visible || elements["Step Interaction"].visible)}</condition>
                  <path>M${x},${y + 30} h${w}</path>
                  <lineColor>#000000</lineColor>
                </draw>
                <draw>
                  <condition>
                    ${
                    elements["Attribute"].visible &amp;&amp; elements["Attribute"].count &gt; 0 &amp;&amp; elements["Step Interaction"].visible &amp;&amp;
                    (y + (elements["Attribute"].count * elements["Attribute"].height) + 42) &lt; y + h
                    }
                  </condition>
                  <path>M${x},${y + (elements["Attribute"].count * elements["Attribute"].height) + 42} h${w}</path>
                  <lineColor>#000000</lineColor>
                </draw>
              </display>
              <childElementVisualSettings>
                <childElementVisualSetting specializationType="Attribute">
                  <showEnabled>true</showEnabled>
                  <showByDefault>true</showByDefault>
                  <text>
                    <fontColor>black</fontColor>
                    <fontSize>12px</fontSize>
                    <size width="${w}" height="18"/>
                    <position x="${x}" y="${y + (index * 18) + 36}"/>
                  </text>
                </childElementVisualSetting>
                <childElementVisualSetting specializationType="Step Interaction">
                  <showEnabled>true</showEnabled>
                  <showByDefault>true</showByDefault>
                  <text>
                    <fontColor>black</fontColor>
                    <fontSize>12px</fontSize>
                    <size width="${w}" height="18"/>
                    <position x="${x}" y="${y + (elements['Attribute'].count > 0 ? 12 : 0) + (elements['Attribute'].count * 18) + (index * 18) + 36}"/>
                  </text>
                </childElementVisualSetting>
              </childElementVisualSettings>
            </classVisualSetting>

            <classVisualSetting>
              <specializationType>Workflow Start</specializationType>
              <display>
                <draw>
                  <path>M ${x}, ${y + h/2}    a ${w/2},${h/2} 0 1,0 ${w},0    a ${w/2},${h/2} 0 1,0 -${w},0</path>
                  <lineColor>#000000</lineColor>
                  <lineWidth>1</lineWidth>
                  <fillColor>#000000</fillColor>
                </draw>
              </display>
              <defaultSize width="40" height="40"/>
              <textColor>white</textColor>
              <showAttributes>false</showAttributes>
              <showOperations>false</showOperations>
            </classVisualSetting>
            <classVisualSetting>
              <specializationType>Workflow End</specializationType>
              <display>
                <draw>
                  <path>M ${x}, ${y + h/2}    a ${w/2},${h/2} 0 1,0 ${w},0    a ${w/2},${h/2} 0 1,0 -${w},0</path>
                  <lineColor>#000000</lineColor>
                  <lineWidth>4</lineWidth>
                  <fillColor>#ffffff</fillColor>
                </draw>
                <draw>
                  <path>M ${x + 10}, ${y + h/2}    a ${(w - 20)/2},${(h - 20)/2} 0 1,0 ${(w - 20)},0    a ${(w - 20)/2},${(h - 20)/2} 0 1,0 -${(w - 20)},0</path>
                  <lineColor>#000000</lineColor>
                  <lineWidth>1</lineWidth>
                  <fillColor>#000000</fillColor>
                </draw>
              </display>
              <defaultSize width="40" height="40"/>
              <textColor>white</textColor>
              <showAttributes>false</showAttributes>
              <showOperations>false</showOperations>
            </classVisualSetting>

            <classVisualSetting>
              <specializationType>Comment</specializationType>
              <text>
                <fontColor>black</fontColor>
                <fontSize>12px</fontSize>
                <fontStyle>italics</fontStyle>
                <textAlign>center</textAlign>
                <whiteSpace>normal</whiteSpace>
                <size width="${w - 20}" height="${h - 16}"/>
                <position x="${x + 10}" y="${y + 8}"/>
              </text>
              <defaultSize width="200" height="80"/>
              <display>
                <draw>
                  <path>M${x + 10},${y} h${w - 10} v${h} h-${w} v-${h - 10} l10,-10 v10 h-10 z</path>
                  <lineColor>#222222</lineColor>
                  <fillColor>#ffffdd</fillColor>
                </draw>
              </display>
            </classVisualSetting>

          </classVisualSettings>
          <associationVisualSettings>
            <associationVisualSetting>
              <specializationType>Transition</specializationType>
              <sourceEnd>
              </sourceEnd>
              <targetEnd>
                <navigableIndicator>
                  <lineColor>#000000</lineColor>
                  <fillColor>#ffffff</fillColor>
                  <path>l 5 10 l -5 -2.5 l -5 2.5 Z</path>
                </navigableIndicator>
              </targetEnd>
            </associationVisualSetting>
            <associationVisualSetting>
              <specializationType>Start Step</specializationType>
              <lineColor>#0000aa</lineColor>
              <lineDashArray>5,5</lineDashArray>
              <sourceEnd>
              </sourceEnd>
              <targetEnd>
                <navigableIndicator>
                  <lineColor>#0000aa</lineColor>
                  <fillColor>#0000aa</fillColor>
                  <path>l 5 10 l -5 -2.5 l -5 2.5 Z</path>
                </navigableIndicator>
              </targetEnd>
            </associationVisualSetting>
            <associationVisualSetting>
              <specializationType>Workflow End Transition</specializationType>
              <lineColor>#0000aa</lineColor>
              <lineDashArray>5,5</lineDashArray>
              <sourceEnd>
              </sourceEnd>
              <targetEnd>
                <navigableIndicator>
                  <fillColor>#0000aa</fillColor>
                  <path>l 5 10 l -5 -2.5 l -5 2.5 Z</path>
                </navigableIndicator>
              </targetEnd>
            </associationVisualSetting>
            <associationVisualSetting>
              <specializationType>Comment Association</specializationType>
              <lineColor>#222222</lineColor>
              <lineDashArray>3,8</lineDashArray>
              <sourceEnd>
              </sourceEnd>
              <targetEnd>
                <navigableIndicator>
                  <fillColor>#222222</fillColor>
                  <path>l 3 5 l -6 0 l 3 -5 Z</path>
                </navigableIndicator>
              </targetEnd>
            </associationVisualSetting>
          </associationVisualSettings>
        </diagramSettings>
      </elementSetting>
      <!--Workflow Start-->
      <elementSetting>
        <specializationType>Workflow Start</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/View_256x.png"/>
        <creationOptions>
          <option>
            <specializationType>Start Step</specializationType>
            <icon type="UrlImagePath" source="./img/icons/uml/Association_256x.png"/>
            <text>Add Workflow Start</text>
            <shortcut>ctrl + alt + s</shortcut>
          </option>
        </creationOptions>
      </elementSetting>
      <!--Workflow End-->
      <elementSetting>
        <specializationType>Workflow End</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/View_256x.png"/>
      </elementSetting>
      <!--Workflow Step-->
      <elementSetting>
        <specializationType>Workflow Step</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/Class_256x.png"/>
        <allowAbstract>true</allowAbstract>
        <allowMapping>false</allowMapping>
        <allowSorting>true</allowSorting>
        <allowFindInView>true</allowFindInView>
        <attributeSettings>
          <attributeSetting>
            <specializationType>Step Input</specializationType>
            <icon type="UrlImagePath" source="./img/icons/dtos/Field_256x.png"/>
            <text>Add Step Input</text>
            <shortcut>ctrl + shift + i</shortcut>
            <defaultName>input</defaultName>
            <allowFindInView>true</allowFindInView>
            <defaultTypeId>d384db9c-a279-45e1-801e-e4e8099625f2</defaultTypeId>
            <targetTypes>
              <type>type-definition</type>
              <type>enum</type>
              <type>Workflow Model</type>
            </targetTypes>
          </attributeSetting>
          <attributeSetting>
            <specializationType>Attribute</specializationType>
            <icon type="UrlImagePath" source="./img/icons/dtos/Field_256x.png"/>
            <text>Add Attribute</text>
            <shortcut>ctrl + shift + a</shortcut>
            <defaultName>attribute</defaultName>
            <allowFindInView>true</allowFindInView>
            <defaultTypeId>d384db9c-a279-45e1-801e-e4e8099625f2</defaultTypeId>
            <targetTypes>
              <type>type-definition</type>
              <type>enum</type>
              <type>Workflow Model</type>
            </targetTypes>
          </attributeSetting>
        </attributeSettings>
        <operationSettings>
          <operationSetting>
            <specializationType>Step Interaction</specializationType>
            <icon type="UrlImagePath" source="./img/icons/services/Operation_256x.png"/>
            <text>Add Interaction</text>
            <shortcut>ctrl + shift + t</shortcut>
            <defaultName>NewInteraction</defaultName>
            <allowFindInView>true</allowFindInView>
            <defaultTypeId>d384db9c-a279-45e1-801e-e4e8099625f2</defaultTypeId>
            <targetTypes>
              <type>type-definition</type>
              <type>enum</type>
              <type>Workflow Model</type>
            </targetTypes>
          </operationSetting>
        </operationSettings>
        <creationOptions>
          <option>
            <specializationType>Workflow End Transition</specializationType>
            <icon type="UrlImagePath" source="./img/icons/uml/Association_256x.png"/>
            <text>Set Workflow End</text>
            <shortcut>ctrl + alt + e</shortcut>
          </option>
          <option>
            <specializationType>Transition</specializationType>
            <icon type="UrlImagePath" source="./img/icons/uml/Association_256x.png"/>
            <text>Add Transition</text>
            <shortcut>ctrl + alt + t</shortcut>
          </option>
        </creationOptions>
      </elementSetting>
      <!--Workflow Type-Definition-->
      <elementSetting>
        <specializationType>Type-Definition</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/DataType_256x.png"/>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>true</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>false</allowSorting>
        <allowFindInView>false</allowFindInView>
      </elementSetting>
      <!--Workflow Enum-->
      <elementSetting>
        <specializationType>Enum</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png"/>
        <allowAbstract>false</allowAbstract>
        <allowGenericTypes>false</allowGenericTypes>
        <allowMapping>false</allowMapping>
        <allowSorting>true</allowSorting>
        <allowFindInView>false</allowFindInView>
        <literalSettings>
          <literalSetting>
            <specializationType>Enum-Literal</specializationType>
            <icon type="UrlImagePath" source="./img/icons/uml/Enumeration_256x.png"/>
            <text>Add Enum Literal</text>
            <shortcut>ctrl + shift + e</shortcut>
            <defaultName>Literal</defaultName>
            <allowFindInView>false</allowFindInView>
          </literalSetting>
        </literalSettings>
      </elementSetting>
      <!--Comment-->
      <elementSetting>
        <specializationType>Comment</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/View_256x.png"/>
        <creationOptions>
          <option>
            <specializationType>Comment Association</specializationType>
            <icon type="UrlImagePath" source="./img/icons/uml/Association_256x.png"/>
            <text>Add Association</text>
            <shortcut>ctrl + alt + a</shortcut>
          </option>
        </creationOptions>
      </elementSetting>
    </elementSettings>
    <associationSettings>

      <associationSetting>
        <specializationType>Transition</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/Association_256x.png"/>
        <sourceEnd>
          <targetTypes>
            <type>Workflow Step</type>
            <type>Workflow Step</type>
          </targetTypes>
          <isNavigableEnabled>false</isNavigableEnabled>
          <isNullableEnabled>false</isNullableEnabled>
          <isCollectionEnabled>false</isCollectionEnabled>
          <isNullableDefault>false</isNullableDefault>
        </sourceEnd>
        <targetEnd>
          <targetTypes>
            <type>Workflow</type>
            <type>Workflow Step</type>
          </targetTypes>
          <isNavigableEnabled>false</isNavigableEnabled>
          <isNullableEnabled>false</isNullableEnabled>
          <isCollectionEnabled>false</isCollectionEnabled>
          <isNavigableDefault>true</isNavigableDefault>
        </targetEnd>
      </associationSetting>

      <associationSetting>
        <specializationType>Start Step</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/Association_256x.png"/>
        <sourceEnd>
          <targetTypes>
            <type>Workflow Start</type>
          </targetTypes>
          <isNavigableEnabled>false</isNavigableEnabled>
          <isNullableEnabled>false</isNullableEnabled>
          <isCollectionEnabled>false</isCollectionEnabled>
          <isNullableDefault>false</isNullableDefault>
        </sourceEnd>
        <targetEnd>
          <targetTypes>
            <type>Workflow</type>
            <type>Workflow Step</type>
          </targetTypes>
          <isNavigableEnabled>false</isNavigableEnabled>
          <isNullableEnabled>false</isNullableEnabled>
          <isCollectionEnabled>false</isCollectionEnabled>
          <isNavigableDefault>true</isNavigableDefault>
        </targetEnd>
      </associationSetting>

      <associationSetting>
        <specializationType>Workflow End Transition</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/Association_256x.png"/>
        <sourceEnd>
          <targetTypes>
            <type>Workflow</type>
            <type>Workflow Step</type>
          </targetTypes>
          <isNavigableEnabled>false</isNavigableEnabled>
          <isNullableEnabled>false</isNullableEnabled>
          <isCollectionEnabled>false</isCollectionEnabled>
          <isNullableDefault>false</isNullableDefault>
        </sourceEnd>
        <targetEnd>
          <targetTypes>
            <type>Workflow End</type>
          </targetTypes>
          <isNavigableEnabled>false</isNavigableEnabled>
          <isNullableEnabled>false</isNullableEnabled>
          <isCollectionEnabled>false</isCollectionEnabled>
          <isNavigableDefault>true</isNavigableDefault>
        </targetEnd>
      </associationSetting>

      <associationSetting>
        <specializationType>Comment Association</specializationType>
        <icon type="UrlImagePath" source="./img/icons/uml/Association_256x.png"/>
        <sourceEnd>
          <targetTypes>
            <type>Comment</type>
          </targetTypes>
          <isNavigableEnabled>false</isNavigableEnabled>
          <isNullableEnabled>false</isNullableEnabled>
          <isCollectionEnabled>false</isCollectionEnabled>
          <isNullableDefault>false</isNullableDefault>
        </sourceEnd>
        <targetEnd>
          <targetTypes>
            <type>Workflow</type>
            <type>Workflow Step</type>
            <type>Workflow Start</type>
            <type>Workflow End</type>
          </targetTypes>
          <isNavigableEnabled>false</isNavigableEnabled>
          <isNullableEnabled>false</isNullableEnabled>
          <isCollectionEnabled>false</isCollectionEnabled>
          <isNavigableDefault>true</isNavigableDefault>
        </targetEnd>
      </associationSetting>

    </associationSettings>
    <stereotypeSettings>
      <targetTypeOptions>
        <option specializationType="Class" displayText="Class"/>
        <option specializationType="Attribute" displayText="Attribute"/>
        <option specializationType="Operation" displayText="Operation"/>
        <option specializationType="Operation-Parameter" displayText="Operation Parameter"/>
        <option specializationType="Operation-Return-Type" displayText="Operation Return Type"/>
        <option specializationType="Association" displayText="Association"/>
        <option specializationType="Association-End" displayText="Association End"/>
        <option specializationType="Folder" displayText="Folder"/>
        <option specializationType="Type-Definition" displayText="Type"/>
        <option specializationType="Enum" displayText="Enum"/>
        <option specializationType="Package" displayText="Package"/>
      </targetTypeOptions>
    </stereotypeSettings>
  </settings>
</config>