<?xml version="1.0" encoding="utf-8"?>
<config>
  <loadStartPage>false</loadStartPage>
  <settings>
    <diagramSettings>
      <addNewElementsTo>Package</addNewElementsTo>
    </diagramSettings>
    <stereotypeSettings>
      <targetTypeOptions>
        <option specializationType="Class" displayText="Class" />
        <option specializationType="Attribute" displayText="Attribute" />
        <option specializationType="Operation" displayText="Operation" />
        <option specializationType="Operation-Parameter" displayText="Operation Parameter" />
        <option specializationType="Operation-Return-Type" displayText="Operation Return Type" />
        <option specializationType="Association" displayText="Association" />
        <option specializationType="Association-End" displayText="Association End" />
        <option specializationType="Folder" displayText="Folder" />
        <option specializationType="Type-Definition" displayText="Type" />
        <option specializationType="Enum" displayText="Enum" />
      </targetTypeOptions>
    </stereotypeSettings>
  </settings>
  <packages>
    <package>_Packages\Views\Views.pkg.config</package>
    <package>_Packages\Domain\Domain.pkg.config</package>
  </packages>
  <diagrams />
</config>